[2012-05-31 03:36] ryanramage opened #1 "A way to generate (write) a X.509 public certificate"
Is there any code to generate a X.509 public certificate from a private RSAKey? It seems this would be helpful to make the api symmetric?

[2012-07-29 13:53] xoba opened #2 "is this a bug in rsa signature?"
this message & this private key generate the incorrect signature:

message = "0.138 0.518 0.477 0.488 0.061 0.056 0.832 0.284 0.714 0.862" (omit quotes when testing)

private key:

-----BEGIN RSA PRIVATE KEY-----
MIICXQIBAAKBgQDRMDd5hqSX6WPbeu1gqe10IEACruFZkHSWAQzBC/SEqk67qSOU
Zstd0hIum7sUk6RsMgPLKTscSWNxtyC1xD4TyvFqx+gMdCXLciV3dj/mUK+mFEl/
/D+1u5pHi2LpBuN2/wRY+Zfc/DBien7Ppa7hlS60YWtuW3dp4s0ZpqK0J

[2012-07-29 14:31] #2 closed, assigned to nobody

[2012-09-28 12:11] major-mann opened #3 "Demo application script references"
The demo application at the public site references version 1 scripts even though the scripts are at version 1.1, so it is not working!

[2012-12-07 22:32] dmrlsn opened #4 "Minor bug found in signStringWithXXX"
Here below is the fix.

 function _rsasign_signStringWithSHA1(s) {
-  return _rsasign_signString(s, 'sha1');
-    return _rsasign_signString.call(this, s, 'sha1');^M
  }

  function _rsasign_signStringWithSHA256(s) {
-  return _rsasign_signString(s, 'sha256');
-    return _rsasign_signString.call(this, s, 'sha256');^M
  }

Regards,

[2013-03-18 07:43] #3 closed, assigned to nobody

[2013-05-10 13:55] #4 closed, assigned to kjur

[2013-05-10 13:57] #1 closed, assigned to kjur

[2013-05-18 15:43] louismullie opened #6 "Export encrypted RSA private key to PEM format"
Hello,

I am wondering if it is possible to export encrypted RSA private keys to DER or PEM format using your library. Essentially, I'm looking to do the exact opposite of this: http://kjur.github.io/jsrsasign/tool_pkcs5view.html

Best,
Louis

[2013-05-20 11:06] #6 closed, assigned to kjur

[2013-05-20 19:31] louismullie opened #7 "Release version"
Hello,

Sorry to bother again. Is there an official, minified version of your library in your repository?

Best,
Louis

[2013-05-20 20:17] #7 closed, assigned to kjur

[2013-05-22 14:22] jhogendorn opened #8 "Fix Demo Page"
The demo page currently fails with this error in chrome:

[code]

I assume a file is missing, but unsure which.

[2013-05-22 15:35] #8 closed, assigned to kjur

[2013-05-29 14:33] mparaz opened #9 "PBKDF2 encoding for PKCS5"
I would like to an option to use PBKDF2 encoding for PKCS5. as another option besides the current _getKeyAndUnusedIvByPasscodeAndIvsalt_.

I can try implementing this.
I see that PBKDF2 is provided by CryptoJS - http://code.google.com/p/crypto-js/#PBKDF2
Can this be used?

[2013-05-29 17:17] #9 closed, assigned to nobody

[2013-05-30 07:29] mparaz opened #10 "Create PEM formatted RSA public key string from RSA Public Key"
Hello,
I would like to ask for a method that creates the PEM formatted RSA public key string from RSA Public Key. This is the opposite of _KJUR.asn1.x509.SubjectPublicKeyInfo.setRSAPEM_ in _asn1x509-1.0.js_.

Or, I could try implementing it. I just need some tips.
Thanks!
Miguel

[2013-05-30 12:35] mparaz opened #11 "Create PEM encrypted PKCS#8 private key"
The PKCS #8 methods are for reading from PEM format.
I would like methods to write to PEM format, given a passcode with PBKDF2, or a shared key.
Thanks!
Miguel

[2013-05-31 13:27] #10 closed, assigned to kjur

[2013-06-08 23:35] andersjj opened #12 "downloaded zip file and getting KJUR is not defined"
Pulled the source and dropped it into a folder on my local machine's web root.  When I try to run the sample-rsasign.html included with the pull, getting the same error.

[2013-06-11 14:22] #12 closed, assigned to kjur

[2013-07-04 15:19] fu2re opened #13 "bf-ofb rsa key"
Hello, can i decrypt key was maden with blowfish (OFB mode) encryption?
I was trying to implement it, but have no success... I am just a novice in cryptography...

As I understand this key is PKCS#5 format also, so I just need add the following processor to ALGLIST
<span class="javascript"><pre>'BF-OFB': { 'proc': decryptBF, 'eproc': encryptBF, keylen: 16, ivlen: 8 }</pre></span>
and then decrypt

[2013-07-08 06:29] #13 closed, assigned to nobody

[2013-07-19 10:55] yustein opened #14 "How to accomplish the openssl commands below with your module?"
Hi,

Can you please tell me if it is possible to accomplish what the below code is doing in openssl with your module?

I'm basically trying to use my own CA which I already created to create and sign a pk12 format compatible S/MIME certificate.

sudo openssl genrsa -out smime.key 2048
sudo openssl req -new -config ../openssl.cnf -key smime.key -out smime.csr
sudo openssl x509 -req -days 365 -in sm

[2013-07-19 10:56] yustein opened #15 "How to accomplish the openssl commands below with your module?"
Hi,

Can you please tell me if it is possible to accomplish what the below code is doing in openssl with your module?

I'm basically trying to use my own CA which I already created to create and sign a pk12 format compatible S/MIME certificate.

sudo openssl genrsa -out smime.key 2048
sudo openssl req -new -config ../openssl.cnf -key smime.key -out smime.csr
sudo openssl x509 -req -days 365 -in sm

[2013-07-19 10:57] #14 closed, assigned to nobody

[2013-07-20 03:30] #15 closed, assigned to nobody

[2013-07-26 07:30] davedoesdev opened #17 "Trouble generating keys"
I was having trouble generating keys.

In RSAGenerate(B, E), I changed this line:

  var ee = new BigInteger(E,16);

to:

  var ee = new BigInteger(E,16,rng);

That made it work. I've contacted Tom Wu to ask but was wondering whether you've seen this problem?

[2013-07-30 07:36] #17 closed, assigned to nobody

[2013-07-31 10:17] investgate opened #21 "RSA signing sample does not work"
TypeError: KJUR.crypto.Util.hashString is not a function

var hashFunc = function(s) { return KJUR.crypto.Util.hashString(s, hashAlg); };

rsasign-1.2.js (line 67)

[2013-07-31 10:19] #21 closed, assigned to nobody

[2013-09-18 09:26] dmiyakawa opened #24 "PKCS5PKEY.getEryptedPKCS5PEMFromPrvKeyHex() returns weirdly formatted PEM file"
I prepared an example web page here:

https://mowa-net.jp/demos/jsrsasign_exp/index.html

Based on jsrsasign 4.1.2 release.

Look at encrypted rsa pem strings. They won't be decrypted with "openssl rsa" even if we specify the correct password "hogehoge". We can even see the content looks obviously inappropriate

Example:

[code]

There are a lot of 'A's.

The root cause seems that PKCS5PKEY.encryp

[2013-09-23 11:12] #24 closed, assigned to kjur

[2013-09-25 01:42] dmiyakawa opened #25 "No mention about YUI 2.9.0 dependency"
Some of files implicitly depend on YUI 2.9.0 while there's no mention here (and in the original project page). It would be better to mention it like CryptoJS.

[2013-09-29 14:18] #25 closed, assigned to kjur

[2013-10-01 23:59] berlonce opened #26 "Fix typo in KEYUTIL newEncryptedPKCS5PEM"
Need to use "pKey' for params in getEncryptedPKCS5PEMFromRSAKey below:

if (typeof alg == "undefined" || alg == null) {
   pem = this.getEncryptedPKCS5PEMFromRSAKey(pkey, passcode);
} else {
  pem = this.getEncryptedPKCS5PEMFromRSAKey(pkey, passcode, alg);
}

[2013-10-02 00:01] berlonce opened #27 "Using newEncryptedPKCS5PEM with hPublicExponent of 65537 doens't work"
Get's an error in new BigInteger()

[2013-10-02 00:08] berlonce opened #28 "Allow for variations in PEM headers in KEYUTIL"
Like using a RegExp for example:

[code]

[2013-10-02 01:00] berlonce opened #29 "Is there an example of creating a keypair and then using it to create a self-signed cert?"

[2013-10-02 13:43] #26 closed, assigned to kjur

[2013-10-02 13:56] #29 closed, assigned to kjur

[2013-10-02 20:50] jgildred opened #30 "Is there a method to generate and parse a certificate signing request? (SPKAC/SPKI)"

[2013-10-03 16:27] #28 closed, assigned to nobody

[2013-10-03 16:30] #27 closed, assigned to kjur

[2013-10-03 19:28] berlonce opened #31 "A way to parse/encode a DN string to/from object."
I don't see this in the code currently, or am I missing something?

[2013-10-03 23:58] #31 closed, assigned to kjur

[2013-10-06 19:57] fernando-sendMail opened #33 "How to convert the content of a DER formatted file to a PEM formatted String"
Hello!

I've been using your project with the FileReader API to read a certificate in order to extract the subject as a String, i alreay read your documentation, but I'm a little lost. I would like to know if there's a way to convert the DER formatted content of a file to a PEM formatted string?

As an extra info: im using the function readAsBinaryString (https://developer.mozilla.org/en-US/docs/W

[2013-10-06 21:24] #33 closed, assigned to kjur

[2013-10-09 16:22] berlonce opened #34 "A way to get ssh public key format from a cert or private key object"
See http://www.ietf.org/rfc/rfc4716.txt

[2013-10-10 00:42] #34 closed, assigned to nobody

[2013-10-12 08:11] #11 closed, assigned to kjur

[2013-10-18 00:56] alexanderkjeldaas opened #35 "RSAKey.generate generates guessable keys"
I looked through the SecureRandom code and it doesn't look very good compared to sjcl or forge.

rng.js contains the following comment at the top of the file:

    // For best results, put code like
    // <body onClick='rng_seed_time();' onKeyPress='rng_seed_time();'>

And then further down:

    // TODO: allow reseeding after first request

The issue is that the rng_pool array is never touched a

[2013-10-19 11:27] alexanderkjeldaas opened #36 "Document utf8 assumption for MesssageDigest string API."
I see that both cryptojs and sjcl encodes strings as utf8 before hashing.  It would be a nice-to-have to document this in the string APIs.

So if strings are used to keep an array of 8-bit values, the hex interface must be used.

[2013-10-22 07:56] bortexz opened #37 "KEYUTIL.generateKeypair("RSA") private key not isPrivate"
Hi, just using your library. I think i've detected a bug,

When i generate the keypair of RSA, and after that i try to getPEM() of them, the public is working fine, but private doesn't work. Searching for that, i've found that isPrivate is not set to true on the prvObjKey when generating the keys.

I've solved the problem on my code by adding prvkey.isPrivate = true, but i think the constructor of

[2013-11-16 20:59] seishun opened #39 "RSA public key encryption (and possibly private key decryption)"
It's one of the features missing from Node.js's crypto module. People normally use [ursa](https://github.com/Obvious/ursa) for this, but it would be nice to have a well-documented pure JavaScript implementation that doesn't require a compilation step.

[2013-11-19 09:54] metalicworker opened #40 "Uncaught exception in KEYUTIL.getPEM"
In example sample-rsasign.html, include:

<script language="JavaScript" type="text/javascript" src="keyutil-1.0.js"></script>

Then add getPEM function into the doSign() function:

[code]

I get error: "uncaught exception: unsupported object nor format"

[2013-11-19 22:25] #40 closed, assigned to nobody

[2013-11-20 00:59] metalicworker opened #41 "PSS verification - padding bug?"
I am using jsrsasign-latest-all-min.js

1) I compute PSS signature:

var msg = "hello";
var sig = rsa.signStringPSS(msg, "sha1");

2) I try to verify:

console.log("verified: " + rsa.verifyStringPSS( msg, sig, "sha1" ) );

Error: on line 389 of rsasign-1.2.js, "encoded message does not end in 0xbc";

Let me know if you have any difficulty reproducing

3) I think there may be another error, because

[2013-11-20 03:37] #41 closed, assigned to nobody

[2013-11-20 10:47] metalicworker opened #42 "Seeding the PRNG"
I needed to seed the PRNG with a specific value.  After some poking around I found that it can be done like so:

function hex2Array(hex)
    {
        var arr = new Array();
        for (var i = 0; i < hex.length; i += 2)
            arr[i/2] = parseInt(hex.substr(i, 2), 16);
        return arr;
    }

var seedByteArray = hex2Array(seedHexStr);

////////////////
rng_state = prng_newstate();
rng_st

[2013-11-20 10:55] sbheinric opened #43 "Request to remove dependency on yahoo"
Because some crypto functions take a long time to run, I wanted to put them into a worker thread using HTML5 Web Workers.

However, the "yahoo-min.js" script which is packaged into "jsrsasign-latest-all.js" contains unnecessary references to the "window" object (open window in a browser)...which does not exist in the Web Worker context, and prevents it from being able to run there.

It would be ni

[2013-12-04 20:40] BlueMeanie opened #44 "Moving EC Keys Into BouncyCastle"
Hello,

I need to be able to move EC Keys between this Javascript Library and BouncyCastle APIs.  I'm a bit confused as to what format the basic JS functionality generates and how to reconstitute them in Java(and vice versa).

for instance to build a Public Key in bouncy castle I take a hex string via

byte[] publicKeyFromJSArray = Hex.decodeHex(publicKeyHexFromJavascript.toCharArray());  // this

[2013-12-13 00:22] beamerblvd opened #46 "Error "this.n is undefined" when verifying signature"
I have the following code:

[code]

(Note that this is a 512-bit key.) This conforms to the example in the [tutorial](https://github.com/kjur/jsrsasign/wiki/Tutorial-for-Signature-class). The code works fine up until the point it calls `signer.verify(signature)`. Then I get the error "this.n is undefined."

I traced it down to the fact that `initVerifyByCertificatePEM` sets the public key to an `x

[2014-01-07 10:33] timgluz opened #47 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of kjur/jsrsasign!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, *224* of them doesnt exists anymore;

We analysed **7306**  existing packages and  **1070** of them don't h

[2014-01-19 19:17] mpickell opened #48 "xml signing issue in jsrsasign?"
I am signing XML (SAML) using the jsrsasign library, using KJUR.  I have the "SHA1withRSA" signing and validation set up per the Signature tutorial, and validation is returning as being valid.  But when the signed XML is sent, the server cannot validate.

(I have this signing working with nodeJS using the xml-crypto plugin, but nodeJs uses its own built-in crypto.  I am trying to use this outside

[2014-02-21 01:57] tds5016 opened #49 "version 1 not supported"
It appears that x509 version 1 certificates are not supported. Can you please consider adding support for this.

[2014-03-15 17:06] hiyosi opened #50 "when calling JWS.generateJWSByNED, has no method 'isSafeJSONString'"
when create a signature by RSA-SHA256 algorithm,I have got an error.

It was the message of  "TypeError: Object [object Object] has no method 'isSafeJSONString'"

The following are the steps.

[code]

[2014-04-14 09:42] aabadz opened #51 "AuthorityKeyIdentifier extension"
I need to add the extension AuthorityKeyIdentifier to my certificate. I have created a function to handle it, similar to the existing ones :

//'authorityKeyIdentifier', 'keyid', critical=False, issuer=self.context.x509

tbsc.appendExtension(new KJUR.asn1.x509.AuthorityKeyIdentifier({'keyIdentifier': 'keyid','authorityCertIssuer':oIssuer , 'critical':false}));

But, the code I did it is showing th

[2014-04-18 18:48] #51 closed, assigned to nobody

[2014-04-21 17:47] trusktr opened #52 "Uncaught key is too short for SigAlg: keylen=256,sha256"
What does that error mean exactly? I'm using a PEM that was generated as a 256 bit key. Why is a longer key needed?

[2014-04-21 18:24] trusktr opened #53 "Unable to get PEM using KEYUTIL.getPEM."
This is my code:

[code]

It results in this error:

[code]

`keypair.prvKeyObj` is a `RSAKey` object, and I believe that is what the `rsa.KEYUTIL.getPEM` method accepts basedon the docs. Why might I be getting this error?

[2014-04-21 19:11] trusktr opened #54 "Trying to init a Signature object from keypair generated by KEYUTIL.generateKeypair fails."
I'm passing in a RSAKey object to Signature.init() and it fails with

[code]

My code looks like this:

[code]

Why might the init fail?

[2014-04-22 04:04] #52 closed, assigned to nobody

[2014-05-05 08:39] GistCode opened #55 "CA_Tool Not working"
http://kjur.github.io/jsrsasign/tool_ca.html

Hi there,

This tool doesn't seem to be working, (stuck on issuing certificate)
I've fixed on my machine it by adding the reference to keyutil-1.0.js

Thanks

[2014-05-05 12:18] aabadz opened #56 "Missing OID elements"
There are two parameters missing that we have added during testing to the version we have and they are working fine. The function is KJUR.asn1.x509.OID and the list is atype2oidList from the asn1x509-1.0.js.

The two parameters missing are:
    'DN':   '2.5.4.49',
    'DC':   '0.9.2342.19200300.100.1.25',

They are present is some certificates. Without them, the conversion tools are failing when a

[2014-05-14 13:14] #55 closed, assigned to kjur

[2014-05-14 13:15] #53 closed, assigned to kjur

[2014-05-14 13:16] #37 closed, assigned to kjur

[2014-05-14 13:50] mltucker opened #57 "How to build?"
I made some modifications and wanted to test the built output.  Is there a script to minify and create the jsrsasign-latest-all-min.js?  Or can you provide one?

Thank you!

[2014-05-14 15:25] #57 closed, assigned to kjur

[2014-05-17 15:33] #56 closed, assigned to kjur

[2014-05-23 08:13] Diamonds0a opened #59 "TypeError: Cannot call method 'bitLength' of undefined\n at RSAKey._rsasign_verifyWithMessageHash [as verifyWithMessageHash] (lib/jsrsasign-4.5.0/npm/lib/jsrsasign.js:251:3675)"
Hi,

I am getting this error:
TypeError: Cannot call method 'bitLength' of undefined\n    at RSAKey._rsasign_verifyWithMessageHash [as verifyWithMessageHash] (lib/jsrsasign-4.5.0/npm/lib/jsrsasign.js:251:3675)

When I try to verify a PEM certificate. Please note that I am using the npm file directly.

    var KJUR = require("cloud/lib/jsrsasign-4.5.0/npm/lib/jsrsasign.js");
    var verifier = new

[2014-06-12 19:20] mschultheiss opened #62 "PHP/OpenSSL Compatibility"
Hi there,

I am trying to check the signature generated by the sample from
http://kjur.github.io/jsrsasign/sample-rsasign.html
in PHP.
`openssl_verify` should return 1 if the signature is correct. It returns 0 however, which means the signature is invalid. Here is my code:

[code]

Best regards,

Manuel

[2014-06-30 09:13] #62 closed, assigned to nobody

[2014-09-11 17:04] jean1199R opened #63 "pkcs#8 DER binary input file"
Hi, frist of all thanks for you great job, well now I'm using this code quite similar to your function

function doSign2() {
  var rsa = new RSAKey();
  rsa.readPrivateKeyFromPEMString(document.form1.prvkey1.value);
  var hashAlg = document.form1.hashalg.value;
  var hSig = rsa.signString(document.form1.msgsigned.value, hashAlg);
  return hSig;
}; hex2b64(doSign2());

but before to make this I'm u

[2014-09-22 21:00] zlasa opened #64 "Unable to parse certificate"
Hello,

When using http://certlogik.com/decoder/ I am able to correctly parse the certificate below. However, when using your library via
...
            var c = new X509();
            c.readCertPEM(cert);

where cert is certificate below, it does not parses it correctly. Is this a bug or am I missing some init parameter that has to be passed to the API?

-----BEGIN CERTIFICATE-----
MIIFrjCCA5YCA

[2014-09-23 12:34] #64 closed, assigned to kjur

[2014-09-24 07:19] buctyoyo opened #65 "Cannot call method 'generateKeyPairHex' of undefined"
I used as your API document in __node.js__,by I get a error
[code]

and this is my code
[code]

Can you help me?

[2014-09-24 15:33] mplatt opened #66 "KJUR.asn1.x509.TBSCertificate.setSubjectPublicKeyByGetKey gives oidName undefined error"
I am trying to generate a `SHA256withECDSA` TBS certificate from an existing `secp521r1` key:

[code]

This gives a `"DERObjectIdentifier oidName undefined: secp521r1"` error. According to `KJUR.asn1.x509.OID.name2oidList` the right name is `SHA256withECDSA`.

[2014-09-24 16:21] #66 closed, assigned to nobody

[2014-10-01 10:34] mplatt opened #67 "ECDSA Example returns "invalid ECDSA signature" for valid signatures"
I am experimenting with http://kjur.github.io/jsrsasign/sample-ecdsa.html because I would like to use KJUR.crypto.Signature with `SHA256withECDSA`.

However, with signatures generated from my application, the example returns `invalid ECDSA signature`. Consider the following example message (SHA256withECDSA, secp256r1):

| Input Type | Data |
| --- | --- |
| Message | a |
| Signature | `304402203ca

[2014-10-05 21:39] EduardGimenez opened #68 "Is there an example of creating a Certificate Signing Request using PKCS#10 format?"
Thanks

[2014-10-06 01:07] #68 closed, assigned to nobody

[2014-10-09 16:23] zoowar opened #69 "KEYUTIL.getKey semantics for ECDSA"
The KEYUTIL.getKey semantics for ECDSA appear to be inverted.

When specifying the ECDSA private parameter 'd', a public key is generated. Similarly, when specifying the ECDSA public paramters 'x' and 'y', a private key is generated. Example code follows.

[code]

[2014-10-29 08:55] remkoboschker opened #70 "bower package"
Hi,
Could you make a bower package? http://bower.io/docs/creating-packages/

[2014-10-30 06:04] #70 closed, assigned to nobody

[2014-11-06 17:14] creativeprogramming opened #71 "feature request: fingerprinting keys and certs"
Hi, awesome library thank you for sharing this massive work.

Can  you add a function to get md5 fingerprinting of keys and certificates?

Useful to quickly check a keypair and other things

Ideally something that will be accessible in a way like this:

[code]

The equivalent openssl command is:
[code]

Or this feature is already here but with another name?

Thank you in any case.

[2014-11-07 19:28] jonasfj opened #72 "Update npm module?"
The npm module https://www.npmjs.org/package/jsrsasign

Does not seem to have been updated in over a year, it's version is 0.0.3.
Perhaps you should publish more recent versions, that would nice :)

[2014-11-20 11:38] kurtsson opened #73 "Use the Web Cryptographic API in supported browsers"
Key generation, importing and exporting of certificates are coming in the [W3C standard web cryptographic API](http://www.w3.org/TR/WebCryptoAPI/). Most functionality is already implemented and stable in all the modern browsers, even IE11. Jsrsasign could berhaps use this methods for faster and more secure key generations when they are available.

[2014-11-27 17:35] alxndrsn opened #75 "X509 - read extensions denoting key usage"
As per https://en.wikipedia.org/wiki/X.509#Extensions_informing_a_specific_usage_of_a_certificate, I'm interested in reading the key usage flags (specifically signing vs encryption) from X509 certs.  Is this currently supported?  If not, I am happy to have a go at implementing, especially if you can give me some pointers.

[2014-11-29 22:28] erossignon opened #76 "function X509() not available in npm module"
this could be sorted out by adding the following line in  jsrsasign\npm\lib\jsrsasign.js and  jsrsasign\npm\lib\footer.js

    exports.X509 = X509;

[2015-01-10 19:50] animalillo opened #80 "Non blocking key generation"
if you try to generate a big key (For example, RSA 2048 bit lenght) it hangs the whole browser, it would be nice to have a non blocking method, and, if possible, some sort of progress tracking in the generation.

[2015-01-15 01:01] adamrogas commented on #50
This happened to me as well. It appears that at some point the isSafeJSONString method was made static, while the jws.JWS object expects it to be a member function, the easiest solution is the patch right after the static declaration

[code]

[2015-01-26 19:19] carlskii opened #81 "Reading Certificate from URL"
Hi,

Is there a way to read an X.509 certificate from a URL within jsrsasign?

Carl

[2015-02-11 07:18] erossignon opened #82 "X509 getSubjectAlternativeNames"
Kenji,
How would it be possible to extract the subject alternative names  from a v3 X509 certificate ?

[2015-02-19 14:53] unicorndreams commented on #46
I got the same error on the "sample-rsasign.html" file. Everything runs fine, until you change the public certificate (either entering a PKCS#8 one or just deleting one random character from the default one). The error looks like this:

TypeError: this.n is undefined
rsasign-1.2.js (line 267, col 8): if (biSig.bitLength() > this.n.bitLength()) return 0;

Version 1.0 of "rsa-sign.js" works fine (ev

[2015-02-27 15:01] LeeUK opened #83 "jsrsasign cannot be used on sites using Content Security Policy due to eval()"
I'm trying to implement the Signature functionality of jsrsasign, but Content Security Policy on the domain prevents any eval() blocks from running. Is there a way that jsrsasign can be made 'eval-free'? As web security becomes a bigger issue I can only see the strict use of CSP becoming larger.

Chrome says: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source

[2015-02-28 16:32] LeeUK commented on #83
Already fixed by someone else on a Fork it seems. I implemented the changes and it works great on the CSP host. Perhaps a merge?

https://github.com/matiu/jsrsasign/commit/12e8bc5e7872180a5b9915626e78f62df18f3221

[2015-03-02 10:32] iamolivinius opened #85 "Makefile in npm folder fails due to missing files"
The Makefile within the npm folder fails because the following files are missing:

	../../../../jsjws/_gitpg/jsjws/ext/json-sans-eval-min.js \
	../../../../jsjws/_gitpg/jsjws/jws-3.0.min.js \
	../../../../jsjws/_gitpg/jsjws/jwsjs-2.0.min.js \

Please make sure that all necessary files to run this project are included in this repository.

[2015-04-26 12:22] BaurzhanSakhariev opened #87 "CMS Signed data result doesn't coincide with Java (bouncycastle) generated CMS"
I'm using [forge](https://github.com/digitalbazaar/forge) library in orfer to read and extract private key from .p12 container. After extracting key in PEM format (RSA PRIVATE KEY) I tried to sign string with value `"test"` and result is not same with both Java's enveloped=true/false CMS calculation results.

Also, I'm using the latest version of jsrsasign.

Surely, Java code uses the same hash an

[2015-05-11 19:31] thxmike opened #89 "Signing with encrypted RSA key fails using jsrsasign"
When using the library javascript library, jsrsasign, we are attempting to sign a value using a private key. We are using SHA256 with RSA (i.e. -----BEGIN ENCRYPTED PRIVATE KEY-----....-----END ENCRYPTED PRIVATE KEY-----)

snippet:

var sig = new KJUR.crypto.Signature({"alg": "SHA256withRSA", "prov":   "cryptojs/jsrsa"});
var key = KEYUTIL.getKey(privateKey, 'password');
sig.initSign(key);
sig.upd

[2015-05-14 15:13] cubicdaiya opened #90 "HTTPS設定ファイル生成ツール0.2(ベータ版)が出力するnginx.conf(Mozilla推奨設定)について"
https://kjur.github.io/jsrsasign/tool_httpscfg.html

上記ページの説明文中のリンクから来ました。

nginxでガイドラインの種類をMozilla推奨設定にした際の`ssl_protocols`の値がおかしい気がします。
[Mozillaの本家Wikiページ](https://wiki.mozilla.org/Security/Server_Side_TLS) では3種類の推奨設定でTLSのバージョンはそれぞれ、

 * Modern compatibility ->  TLSv1.1, TLSv1.2
 * Intermediate compatibility -> TLSv1, TLSv1.1, TLSv1.2
 * Old backward compatibility -> SSLv3, TLSv1, TLSv1.1, TLSv1.

[2015-05-14 15:38] kjur commented on #90
@cubicdaiya さん、ご指摘ありがとうごいざいます。明日、修正しておきます。

[2015-05-15 03:34] kjur commented on #90
修正したものを公開しました。ご確認ください。

[2015-05-15 03:34] #90 closed

[2015-05-15 04:31] kjur commented on #82
There is no API for now but it is possible by using

[2015-05-15 07:36] anuchandy opened #91 "Question: Is jsrsasign supports converting SSHPublicKey to Pkcs1PublicKey supported?"
Hello,  is it possible to convert SSHPublicKey in the format "ssh-rsa {body} {info}" to Pkcs1PublicKey format using this library?

If yes, could you please provide some pointers?

[2015-05-15 08:29] kjur commented on #91
Sorry but there is no such API. If you can get a modulus and public exponent of SSH public key then you can have RSAKey object for this and you can get PKCS#1 key.

[2015-05-15 08:29] #91 closed

[2015-05-15 20:14] anuchandy commented on #91
Thanks @kjur for confirming

[2015-05-16 00:29] #82 closed

[2015-05-16 00:31] kjur commented on #48
Thank you for the report. I'll close this ticket.

[2015-05-16 00:31] #48 closed

[2015-05-16 01:59] kjur commented on #87
I afraid that CMS signatures by bouncy castle and jsrsasign may have different signed attributes. Have you check them?

[2015-05-18 05:18] anuchandy commented on #91
@kjur I could derive Pkcs1PublicKey from SSH Public Key.

Is there any way to generate PKCS#12 from PKCS#1 key using this library?

I am working on a tool that needs to generates (PKCS#12/PFX) given PKCS#1 key (generated from SSHPublicKey), but I don't have access to private key.

Could you please provide some inputs if possible?

[2015-05-18 06:27] anuchandy opened #92 "Question/request for example: PKCS1 to PKCS12"
I have SSHPublicKey in the format "ssh-rsa {body} {info}" (I don't have access to private key) from which I want to generate PKCS#12

As a first step tried generating the PKCS#1 from the SSHPublicKey. I have asked the question here https://github.com/kjur/jsrsasign/issues/91, based on your guideline I understood that to generate PKCS#1 we need exponent and modulus. After some investigation found t

[2015-05-19 15:04] kjur commented on #81
If you can download a certificate via XMLHTTPRequest, it can be parsed by jsrsasign. Jsrsasign itsself has no downloading functionality. Regards.

[2015-05-19 15:04] #81 closed

[2015-05-19 15:15] kjur commented on #92
prvKey = KEYUTIL.getKey(PKCS1PRVKEY, 'password');

To issue certificate, following sample may helps:
https://github.com/kjur/jsrsasign/blob/master/tool_ca.html

There is no functionality for generate and reading PKCS#12 at this stage.

To generate PKCS#12 CMS structure following codes may helps:
https://github.com/kjur/jsrsasign/blob/master/asn1cms-1.0.js

Regards,

[2015-05-19 15:15] #92 closed

[2015-05-19 15:26] kjur commented on #63
I'm sorry but I can't catch your goal.
I would recommend to use KEYUTIL.getKey to read any format of key such like
PKCS#1 private key or PKCS#8 private key with pin.

Regards.

[2015-05-19 15:31] kjur commented on #63
If you want to read PKCS#8 DER private key,
how about this?:

prvp8bin = '.....'; // raw PKCS#8 private key;
prvp8pem = KJUR.asn1.ASN1Util.getPEMStringFromHex(rstrtohex(prvp8bin), 'PRIVATE KEY');
prvkey = KEYUTIL.getKey(prvp8pem, 'password');

[2015-05-19 15:31] #63 closed

[2015-05-19 15:32] #87 closed

[2015-05-19 15:35] #39 closed

[2015-05-19 21:02] couch commented on #83
Echoing @LeeUK, would love to see the eval fix merged, and as an added bonus, first-class npm module treatment.

matiu/jsrsasign@93e3810a221524d0e91832eda60cf4b119189eec

[2015-05-20 09:59] cubicdaiya commented on #90
@kjur 確認しました。ありがとうございます。

[2015-05-21 18:59] animalillo commented on #53
*bumps*

I think this is back in 4.7.1-all-min

<< undefined

<<Object {prvKeyObj: RSAKey, pubKeyObj: RSAKey}

<< Uncaught TypeError: KJUR.asn1.ASN1Util.newObject is not a functionp @ jsrsasign-4.7.1-all-min.js?v=cf866614b6b18cda13fe699a3a65661b:249KEYUTIL.getPEM @ jsrsasign-4.7.1-all-min.js?v=cf866614b6b18cda13fe699a3a65661b:249(anonymous function) @ VM8562:2InjectedScript._evaluateOn @ VM8247:88

[2015-05-21 19:02] animalillo opened #93 "KEYUTIL.getPEM not working"
Using jsrsasign-4.7.1-all-min.js

I think the same or really similar problem that in #53

<< undefined

<<Object {prvKeyObj: RSAKey, pubKeyObj: RSAKey}

<< Uncaught TypeError: KJUR.asn1.ASN1Util.newObject is not a functionp @ jsrsasign-4.7.1-all-min.js?v=cf866614b6b18cda13fe699a3a65661b:249KEYUTIL.getPEM @ jsrsasign-4.7.1-all-min.js?v=cf866614b6b18cda13fe699a3a65661b:249(anonymous function) @ VM85

[2015-05-23 01:24] anuchandy opened #94 "Request to update jsrsasign npm module"
Hello @kjur looks like the 'jsrsasign' NPM module is not updated for last couple of years. I would like to use this npm module in one of the project. Could you please help updating the npm module https://www.npmjs.com/package/jsrsasign

[2015-06-01 15:27] animalillo commented on #93
Tried with jsrsasign-4.8.0-all.min.js, still present

[2015-06-01 21:05] kjur commented on #93
Thank you for the report. I'll check it later.

[2015-06-02 00:43] kjur commented on #93
Hmm, this works fine for me. It should be Node.js issue. Following test works on browser.

test("PRV getPEM", function() {
  var kp = KEYUTIL.generateKeypair("RSA", 1024);
  equal(KEYUTIL.getPEM(kp.prvKeyObj, "PKCS1PRV").substr(0, 34), "-----BEGIN RSA PRIVATE KEY-----\r\nM", "");
});

test("PUB getPEM", function() {
  var kp = KEYUTIL.generateKeypair("RSA", 1024);
  equal(KEYUTIL.getPEM(kp.pubKeyO

[2015-06-02 00:43] #93 closed

[2015-06-02 09:48] animalillo commented on #93
I'm using it on the browser (firefox)

[2015-06-02 12:37] kjur commented on #93
I've created a test case for it and it works fine on Firefox.
https://kjur.github.io/jsrsasign/test/qunit-do-keyutil-pairpem.html
Could you try?

[2015-06-02 12:52] kjur commented on #30
Sorry but there is no plan to implement it at this stage.

[2015-06-02 12:52] #30 closed

[2015-06-02 12:54] kjur commented on #49
Sorry but there is no plan to implement it at this stage.

[2015-06-02 12:54] #49 closed

[2015-06-02 17:12] animalillo commented on #93
hmmm
it seems to be working outside of my application.
It might be related with this sjcl issue
https://github.com/bitwiseshiftleft/sjcl/issues/223

[2015-06-03 13:46] kjur commented on #75
I've added following two methods to access key usage extension. Regards.

http://kjur.github.io/jsrsasign/api/symbols/X509.html#.getExtKeyUsageBin
http://kjur.github.io/jsrsasign/api/symbols/X509.html#.getExtKeyUsageString

[2015-06-03 13:46] #75 closed

[2015-06-04 14:37] alxndrsn commented on #75
Thanks :)

[2015-06-04 19:24] adonoho commented on #94
@kjur,

Let me second this request for a likely slightly different reason. I suspect you haven't updated npm support because node.js now has a crypto library. jsrsasign would be redundant and unused.

In my case, I need a Javascript library that supports RSA-2048/SHA-256 signatures to run on Parse.com. Parse is "node-like". It is Google's V8 plus some, but not all, of node.js' libraries. In partic

[2015-06-06 02:35] kjur commented on #94
I've officially released npm module today.
https://www.npmjs.com/package/jsrsasign for jsrsasign 4.8.2.
Thanks

[2015-06-06 02:35] #94 closed

[2015-06-06 02:36] kjur commented on #85
I've officially released npm module today.
https://www.npmjs.com/package/jsrsasign for jsrsasign 4.8.2.
Missing files issue also fixed.
Thanks

[2015-06-06 02:36] #85 closed

[2015-06-06 02:36] kjur commented on #72
I've officially released npm module today.
https://www.npmjs.com/package/jsrsasign for jsrsasign 4.8.2.
Thanks

[2015-06-06 02:36] #72 closed

[2015-06-06 02:37] kjur commented on #47
Already done. thanks.

[2015-06-06 02:37] #47 closed

[2015-06-06 02:38] kjur commented on #76
I've officially released npm module today.
https://www.npmjs.com/package/jsrsasign for jsrsasign 4.8.2.
Also missing X509 is fixed.
Thanks

[2015-06-06 02:38] #76 closed

[2015-06-06 02:41] kjur commented on #50
After 4.8.1, jsrsasign supports JWK in KEYUTIL.getKey method. So please use it. The 'generateJWSByNED' is deprecated method.

[2015-06-06 02:41] #50 closed

[2015-06-06 08:37] kjur commented on #65
Thank you for the report. I've updated the document.

[2015-06-06 08:37] #65 closed

[2015-06-06 08:39] kjur commented on #69
I've fixed the issue on jsrsasign 4.8.2. When d is specfied, public key object was generated by mistake.

[2015-06-06 08:39] #69 closed

[2015-06-06 08:48] kjur commented on #54
I've tried your code on Node and gotten error like "key is too short for SigAlg".
Your RSA key seems to short for PKCS#1 padding for MD5withRSA.
For example key length is 512bit, it works fine.

[2015-06-06 08:48] #54 closed

[2015-06-07 18:16] dpineda opened #95 "x509 -inform DER support"
Are there plans to parse and verify x509 certificates  in der format?

[2015-06-07 18:25] jricher opened #96 "KEYUTIL.getKey unable to read RSA JWK public/private keypair"
When using a JWK in the form:

[code]
(issued by https://mkjwk.org/), the library is unable to create the key object. The error given is:

[code]

This is while running jsrsasign 4.8.2 under commandline interactive node 0.12.2 on Mac OSX.

The tests for RSA private keys all seem to pass, but the values in the tests seem to both use the optional extra private key parameters such as `dp`, `dq`, and

[2015-06-08 00:33] kjur commented on #95
As for parsing, if the certificate represented in raw string, it can be converted to hexadecimal string by rstrtohex function, then it can be handled by ASN1HEX or X509 class to parse it. As for verification, there is no plan to implement it at this stage.

[2015-06-08 00:33] #95 closed

[2015-06-08 00:38] kjur commented on #96
Dear @jricher , getKey method requires dp, dq and qi for RSA private key of JWK. A sample JWK RSA private key in RFC 7517 Appendix also has dp, dq and qi. Regards.

[2015-06-08 00:38] #96 closed

[2015-06-09 14:13] jricher commented on #96
The only required parameter of an RSA private-key JWK is the "d" parameter, as defined in RFC7518:

https://tools.ietf.org/html/rfc7518#section-6.3.2

All other fields are optimizations and are optional. There are many JWKs in the wild, including the key generator that I pointed to earlier, that do not add the extra optional parameters. The getKey method of this library should be able to create an

[2015-06-18 11:09] Infeligo opened #98 "Please include project build tools in repository"
Currently the tools that are used to create minified versions of source files as well as concatenated final versions are not in the repository. It would be nice if they were included.

[2015-06-18 14:35] kjur commented on #98
Sorry but you can use any minifying tools such as yuicompressor.
http://yui.github.io/yuicompressor/
There is no plan to include such tools. Thanks.

[2015-06-18 14:35] #98 closed

[2015-06-19 13:33] Infeligo commented on #98
What I actually meant is publishing **scripts** that use those concatenating/minifying tools to produce the final version of the lib. For npm packaging you use Make. How do you produce the `jsrsasign-xxx-all-min.js` files?

[2015-06-19 13:36] kjur commented on #98
It's just concatenated all min files.

[2015-07-08 22:51] thomasbhatia opened #99 "Signed by jsrasign tokens fail verification in other modules"
Sample token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdfaWQiOiIxIiwiZW1wX251bSI6IjEyMyJ9.QMAQW20MM0Dr5onHpMia3w9N9bRz62THNYJPkZn_Xr0 .

Generated using following steps:
var oHeader = {alg: 'HS256',typ:'JWT'};
                        var oPayload = {};
                        oPayload.org_id = '1';
                        oPayload.emp_num = username;
                        var sHeader = JSON.st

[2015-07-15 05:56] smrita-garg commented on #33
Hi,
I am also facing the same problem.
Getting "Cannot read property 'ASN1Util' of undefined" error. On using asn1-1.0.js is not resloving the error.  Please help me with appropriate js.

Thanks & Regards
Smrita

[2015-07-15 08:14] smrita-garg commented on #33
Hi kjur, please help on the issue

Regards
Smrita

[2015-07-15 08:18] smrita-garg opened #100 "How to convert the content of a DER formatted file to a PEM formatted String"
Hi,
I am also facing the problem while converting to PEM formatted string
Getting "Cannot read property 'ASN1Util' of undefined" error. On using asn1-1.0.js is not resloving the error. Please help me with appropriate js.

Thanks & Regards
 Smrita

[2015-07-15 08:19] kjur commented on #33
Hi @smrita-garg , did you use the whole of latest code?
https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js
It seems to be lacking other necessary files.

[2015-07-15 08:21] kjur commented on #100
Hi @smrita-garg , did you use the whole of latest code?
https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js
It seems to be lacking other necessary files.

[2015-07-15 08:40] smrita-garg commented on #100
@kjur ...
thanks for the help!!

[2015-07-15 09:30] smrita-garg commented on #100
@kjur ... I am getting the PEM formatted string but it is different from the string when I open the .cer file.

Please help!!

[2015-07-15 16:20] smrita-garg commented on #100
Hi kjur,

Problem is solved while using different method reading the file using FileReader API
Thanks & Regards
Smrita

[2015-07-15 16:20] #100 closed

[2015-07-20 16:25] undavide opened #101 "sig.verify(sigValueHex) returns true if sigValueHex contains extra non-hex chars"
Hello,
following the Signature tutorial I've found that the roundtrip check works as expected.
Yet, if I log the `var sigValueHex = sig.sign();` before passing it on to the verification and add an extra char, say a `z` to it, the following `sig.verify(sigValueHex)` returns true anyway - which IMHO should not.
Thank you

[2015-07-22 00:52] mLuby opened #103 "empty payload/claims on npm version"
works on the script version, which is surprising because it looks like the npm version is the same but with module.exports and [a header with typos](https://github.com/kjur/jsrsasign/pull/102/files)

**JS** `= ['eyJhbGciOiJSUzI1NiJ9', 'W29iamVjdCBPYmplY3Rd', 'PvoEGruO-ETcz0IaYcguMrqvU…']`
[code]
**Node** `= ['eyJhbGciOiJSUzI1NiJ9', '', 'PvoEGruO-ETcz0IaYcguMrqvU…']`
[code]

**Anyone have any ideas

[2015-07-22 01:16] mLuby commented on #103
Figured it out?

The sPayload in `KJUR.jws.JWS.sign = function(alg, sHeader, sPayload, key, pass)` [is *not* `JSON.stringified`](https://github.com/kjur/jsrsasign/blob/master/jws-3.2.js#L448). This is a bit odd since the sHeader [a few lines above](https://github.com/kjur/jsrsasign/blob/master/jws-3.2.js#L436) *is*.

Not sure if this is intended behavior or not. At least it's worth documenting tha

[2015-07-31 01:15] ruslangabitov opened #104 "How to create a Certificate Signing Request and then a x509 cert using it."
<code>jsrsasign</code> is a great library, helped me to easily create private keys and x509 certs, but I can't quite get how to create CSR file and then use it.

So the goal is to create an x509 cert using CSR and a CA.

In oppenssl it can be done using this commands
Create a CA:
<code>openssl req -new -x509 -days 365 -key ca-key.pem -sha256 -out *ca.pem*</code>
Create key for our cert:
<code>open

[2015-08-11 06:33] jedd-ahyoung opened #105 "Verify a JWT with an RSA Public Key in PEM Format"
I'm receiving an error when I do the following:

	jsrsasign.default.jws.JWS.verifyJWT('ey.......', '-----BEGIN RSA PUBLIC KEY-----
	MIIBCgKCAQEAwEYqf3HAL+h0CbcM6cnVfT6hDw0nNPkLYKld54qRYhJa+txnI8so
	bIhP4/1l3TnNZldFFOatRlZAxuNG8Dk4L/QQmDeIsOkYQ5oiytSCbUrJv44aOPjL
	G72XhVOaOLMT2vp/guOVAjTYOyF83asoOpPVtFeiBHhKudMrpPzeq3qwGMxfVVPy
	NlztFjnTlkAKMtkbkwcpzdTn4y/pDo47+LgkDckReoqTIK4Z1bp86Oa6eBOa7/6w
	hIXG

[2015-08-11 08:35] kjur commented on #105
Sorry but jsrsasign doesn't support loading "RSA PUBLIC KEY". It only supports "PUBLIC KEY". Thanks.

[2015-08-14 06:45] gordilloedwin opened #110 "ASN1 Hex to PEM"
Hello... First of all I wish to thank you Kenji San for such an impressive library... it's delightful to work with all the methods you created, they work flawlessly!!

I do, however, have a question... I have a HEX string from a private key i was able to get from one of the libraries. it looks like the following
'308202C6304006092A864886F70D01050D30...'

this key is encoded using  DES-DES3-CBC and

[2015-08-14 19:04] vsimonian opened #111 "hextob64 is not exposed in Node"
`hextob64u` is exposed, but the b64-equivalent `hextob64` is missing.

[2015-08-16 15:00] kjur commented on #111
Thank you for the report. I'll add hex2b64 in the next release.

[2015-08-16 15:09] kjur commented on #111
I've just released jsrsasign npm 4.8.4 to fix it. regards,

[2015-08-16 15:09] #111 closed

[2015-08-16 15:34] vsimonian commented on #111
Thank you very much! :+1:

[2015-08-17 08:04] kjur commented on #110
Hi Edwin,

Is this key is PKCS#8 encrypted private key by DES-DES3-CBC?
308202C6304006092A864886F70D01050D30...'.
If so this key can be convert into a private key of RSAKey object.

var hexKey = '308202C6304006092A864886F70D01050D30...';
// get PEM string from hexadecimal string and PEM header
var pkcs8prvpem = KJUR.asn1.ASN1Util.getPEMStringFromHex(hexKey, 'PRIVATE KEY');
// get RSAKey object. pa

[2015-08-17 08:04] #110 closed

[2015-08-20 14:04] xcellenceit opened #112 "Encoding JWT Requests"
Found link to this repo from http://jwt.io/

Can you advise how to use it for creating JWT signed / encoded requests using this library. Is there any example / document on how to use this?

Thank you in advance.

[2015-08-27 00:13] kjur commented on #112
Please take a look below:

JWT signing tutorial:
https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-generation

JWT Demo:
http://kjur.github.io/jsrsasign/tool_jwt.html

JWS signing api:
http://kjur.github.io/jsrsasign/api/symbols/KJUR.jws.JWS.html#.sign

JWT verification api:
http://kjur.github.io/jsrsasign/api/symbols/KJUR.jws.JWS.html#.verifyJWT

[2015-08-27 00:13] #112 closed

[2015-08-31 11:19] xcellenceit commented on #112
Hi, Thank you :)

[2015-09-03 14:21] timchaffee opened #113 "bower.json has kjur/jsjws"
Should the bower.json have jsrsasign  instead of kjur/jsjws ?

What about the version? 4.8.5?

[2015-09-04 00:00] kjur commented on #113
Sorry. I forgot to update it. I'll release later.

[2015-09-04 02:08] kjur commented on #113
I've fixed it. Now you can download the latest 4.8.6 of jsrsasign as following:
% bower install jsrsasign

[2015-09-04 02:09] kjur commented on #113
I've fixed it. Now you can download the latest 4.8.6 of jsrsasign as following:
% bower install jsrsasign

[2015-09-04 12:43] timchaffee commented on #113
Thank you! Very responsive!

[2015-09-09 23:39] jirutka commented on #104
+1, I need this too.

[2015-09-11 00:37] gffletch opened #114 "Possible signature issue with HMac SHA256"
I ran into a problem trying to use the KJUR.jws.JWS.sign() method with the HS256 algorithm. It did not generate the correct signature. If I calculate the HMac SHA256 value using the KJUR.crypto.Mac() methods, the correct value is generated. I realize this might be user error so help with how to correctly use the KJUR.jws.JWS.sign() method with a HS256 method greatly appreciated.

Here is a standal

[2015-09-11 01:59] mayankbpatel commented on #113
I run this command in a completely clean project:
[code]
Then I run (to make sure installation is idempotent):
[code]
And now I get the following errors:

[code]

Appreciate any help in getting past this.  Thanks.

[2015-09-11 02:07] mayankbpatel opened #115 "bower install --save causing subsequent bower installs to fail"
I run this command in a completely clean project:

[code]
Then I run (to make sure installation is idempotent):

[code]

And now I see the following errors:

[code]

Did something change with the Github repo name?

I'd appreciate  any help in getting past this. Thanks.

[2015-09-11 12:02] timchaffee commented on #113
I updated my bower.json to have this:

    "jsrsasign": "jsrsasign#~4.8.5",

and it worked. I am not sure why the --save puts in something that does not work.

[2015-09-11 14:54] mayankbpatel commented on #115
So it seems that:

[code]

makes an incorrect entry in *bower.json*.

To correct, change the entry in *bower.json* from:

[code]

to:

[code]

If you are working in anEmberCLI app context, be sure to purge all your bower packages after making the change:

[code]

[2015-09-11 14:55] #115 closed

[2015-09-12 01:45] kjur commented on #113
Hi @mayankbpatel , @timchaffee . I'm sorry but I need some clarification.

In my bower.json, change

  "name": "kjur/jsrsasign",

to

  "name": "jsrsasign",
.

Will this fix the issue?

[2015-09-12 03:42] kjur commented on #114
var client_sec = "xiI1UCkszhiqUcrN6zQ0ED9ECHG1uciP";
var sJWS2 = KJUR.jws.JWS.sign("HS256", sHeader, sPayload, client_sec);
The client_sec shall be specified as a hexadecimal string as described in the manual.

[2015-09-12 03:42] kjur commented on #114
var client_sec = "xiI1UCkszhiqUcrN6zQ0ED9ECHG1uciP";
var sJWS2 = KJUR.jws.JWS.sign("HS256", sHeader, sPayload, client_sec);
The client_sec shall be specified as a hexadecimal string as described in the manual.

[2015-09-12 03:42] #114 closed

[2015-09-12 11:40] gffletch commented on #114
Thank you very much for the explanation!

Just in case anyone else looks at this issue... to make the signatures match use this line...
[code]

[2015-09-13 00:33] kjur commented on #89
Thank you for the report. I seem to get the same issue. It seems KEYUTIL.getKey issue while reading a private key. I'm checking it now.

[2015-09-13 13:03] kjur commented on #104
I've release jsrsasign 4.9.0 today and it supports certificate signing request generation.
You can use KJUR.asn1.csr.CSRUtil.newCSRPEM method as following:
http://kjur.github.io/jsrsasign/api/symbols/KJUR.asn1.csr.CSRUtil.html#.newCSRPEM
pem = KJUR.asn1.csr.CSRUtil.newCSRPEM({
  subject: {str: '/C=US/O=Test/CN=example.com'},
  sbjpubkey: pubKeyObj,
  sigalg: "SHA256withRSA",
  sbjprvkey: prvKeyObj

[2015-09-13 13:03] #104 closed

[2015-09-13 13:03] kjur commented on #68
I've release jsrsasign 4.9.0 today and it supports certificate signing request generation.
You can use KJUR.asn1.csr.CSRUtil.newCSRPEM method as following:
http://kjur.github.io/jsrsasign/api/symbols/KJUR.asn1.csr.CSRUtil.html#.newCSRPEM
pem = KJUR.asn1.csr.CSRUtil.newCSRPEM({
  subject: {str: '/C=US/O=Test/CN=example.com'},
  sbjpubkey: pubKeyObj,
  sigalg: "SHA256withRSA",
  sbjprvkey: prvKeyObj

[2015-09-13 13:05] kjur commented on #89
Sorry but I couldn't reproduct your issue. So I'll close this ticket. Thanks.

[2015-09-13 13:05] #89 closed

[2015-09-14 07:00] kurtsson commented on #68
Well done @kjur ! :clap:

[2015-09-14 21:36] kjur commented on #104
Demo page is also added.
http://kjur.github.io/jsrsasign/tool_csr.html

[2015-09-14 21:36] kjur commented on #68
Demo page is also added.
http://kjur.github.io/jsrsasign/tool_csr.html

[2015-09-15 13:33] #59 closed

[2015-09-15 13:37] kjur commented on #99
var sJWT = KJUR.jws.JWS.sign("HS256", sHeader, sPayload, 'icarus');

Passcode shall be specified as a hexadecimal string.
As for the text 'icarus', it will be '696361727573'.

[2015-09-15 13:37] #99 closed

[2015-09-15 13:45] kjur commented on #103
Thank you for the report. However in latest version of jsrsasign npm module 4.9.0, utf8tob64u seems to be defined. Regards.

[2015-09-15 13:45] #103 closed

[2015-09-15 14:16] kjur commented on #46
I couldn't reproduce your errors. Now "sample-rsasign.html" works fine. Sorry but I'll close this ticket.

[2015-09-15 14:16] #46 closed

[2015-09-18 20:11] harrisondkurtz opened #116 "EC private + public key format"
I'm trying to export a EC public key in PEM format but I get the following error:

jsrsasign\lib\jsrsasign.js:273
);return v.ASN1Util.getPEMStringFromHex(k,"ENCRYPTED PRIVATE KEY")}}throw"unsupported object nor format

Here's the example I am using:

[code]

I also noticed that the hex value of the EC keys were not asn1 encoded.

[2015-09-19 22:35] dkrol opened #117 "Support for "nested" x509 extensions"
Hello,

This is more a question than issue.
I'm trying to generate so called "proxy" certificate using jsrsasign. In short, it is more less a x509 certificate with some x509 extensions defined in http://www.ietf.org/rfc/rfc3820.txt . It is used for access rights delegation in scientific communities.
I generated a x509 certificate with some standard extensions like Key Usage and Extended Key Usage.

[2015-09-19 23:05] #117 closed

[2015-09-19 23:05] dkrol commented on #117
I managed to do this eventually :)

[2015-09-20 09:00] kjur commented on #116
Above seems wrong and can be fixed as following:

var jsr = require('jsrsasign')
var keypair = jsr.KEYUTIL.generateKeypair("EC", "prime256v1");  /// <- FIXED
var prvkey = keypair.prvKeyObject; /// <- FIXED
var pubkey = keypair.pubKeyObject;
var prvPEM = jsr.KEYUTIL.getPEM(prvkey, "PKCS8PRV")
var pubPEM = jsr.KEYUTIL.getPEM(pubkey);

[2015-09-20 09:00] #116 closed

[2015-09-21 13:06] harrisondkurtz commented on #116
Ah, thanks for that. I have another question. What format are the EC keys stored in? I assumed they were asn1 encoded but they are not:

var jsr = require('jsrsasign')
var ec = new jsr.crypto.ECDSA({"curve": "secp256r1"});
var pair = ec.generateKeyPairHex();
console.log(jsr.ASN1HEX.isASN1HEX(pair.ecprvhex));
console.log(jsr.ASN1HEX.isASN1HEX(pair.ecpubhex));

Output was false, false.

If the keys

[2015-09-21 13:47] kjur commented on #116
Internal data of EC private key and public key are hexadecimal value of n and concatinated header, x and y value of coordinate.

[2015-09-21 13:49] kjur commented on #105
Sorry I reopened by mistake.

[2015-09-21 13:49] #105 closed

[2015-09-24 14:17] tmschlot opened #118 "Cannot verify JWT token"
I am not able to verify a JWT token.  If I go to http://jwt.io and attempt to verify the same token, it works.  I've debugged the code and made sure I'm passing the same values to the KJUR.jws.JWS.verify method (even hard-coding the values to make sure they are the same), and jwt.io returns true, while my call returns false.  I'm using 4.9.

[code]

I've also tried calling verifyJWT, but I get the

[2015-09-24 14:21] kjur commented on #118
As described in the manual, the 'key' shall be a hexadecimal string. If JWT generated at jwt.io with password "aaa", JWS.verify key shall be "616161" in jsrsasign.

[2015-09-24 14:21] #118 closed

[2015-09-24 15:15] tmschlot commented on #118
I don't think I made my issue clear.  When I go to jwt.io, debug the JS, and call verify...

[code]

I get a result of true.  When I debug my own code at the same call with the same values for both token and key, I get a result of false.  (I verified that I'm passing the same values by doing a direct comparison, and both returned true.)

I think if the issue was a hexidecimal key, I would have the

[2015-09-24 19:12] cblair opened #119 "Support issuer values with '/' chars."
From what I can tell, this is legal per https://tools.ietf.org/html/rfc3280#section-4.1.2.4. Feel free to set me straight.

I'm forking and will create a PR with AUT proposing a change.

[2015-09-25 15:26] kjur commented on #119
Thank you for your mention. I'll grad if you can provide X500Name class in asn1x509.js update and test code for that. I hope some characters like "/", "=" and "\" can be escaped by back slash "\".

[2015-09-25 15:28] kjur commented on #113
There is no comment on this. So I'll close this ticket.

[2015-09-25 15:28] #113 closed

[2015-09-28 19:59] tmschlot commented on #118
I came back to this after letting it sit for a few days, and I think I've figured out what is going on.  On jwt.io, when the KJUR.crypto.Mac is created to verify the signature, the call to hextorstr(key) -- to set the <i>pass</i> field -- returns a very different value for the same key.  After a bit of digging, I see the implementation for that method has changed from...

[code]

to

[code]

Based

[2015-09-28 20:04] tmschlot opened #120 "Please review"
I previously posted this question: https://github.com/kjur/jsrsasign/issues/118

Since it is closed, I assume it is getting no views, though I have found what I believe to be a bug in the library.

[2015-09-28 21:51] cblair commented on #119
kjur, can you advise on how to build this? I've consulted https://github.com/kjur/jsrsasign/issues/57 (see what we have in https://github.com/mdcone/jsrsasign/blob/master/Makefile). But I'm minifying incorrect files, and not all the right ones. Thanks!

[2015-09-29 13:23] kjur commented on #118
The "jwt.io" site is using my old version of jsrsasign 4.1.5.
In my jsrsasign CryptoJS library is used for Hmac.

https://code.google.com/p/crypto-js/#Progressive_HMAC_Hashing

var hmac = CryptoJS.algo.HMAC.create(CryptoJS.algo.SHA256, "Secret Passphrase");

For this HMAC API, password shall be specifed as (raw) string not CryptoJS W-word object.
So hexadicmal string of password shall be converted

[2015-09-29 13:24] kjur commented on #120
The "jwt.io" site is using my old version of jsrsasign 4.1.5.
In my jsrsasign CryptoJS library is used for Hmac.

https://code.google.com/p/crypto-js/#Progressive_HMAC_Hashing

var hmac = CryptoJS.algo.HMAC.create(CryptoJS.algo.SHA256, "Secret Passphrase");

For this HMAC API, password shall be specifed as (raw) string not CryptoJS W-word object.
So hexadicmal string of password shall be converted

[2015-09-29 13:24] #120 closed

[2015-09-29 13:26] kjur commented on #119
If you can't generate minified version of jsrsasign-latest-all-min.js, I'll do it. Please push your asn1x509.js and test code. It is enough for me. Thanks.

[2015-09-29 23:43] kjur commented on #71
hex = KEYUTIL.getHexFromPEM(pemString);
fingerPrint = KJUR.crypto.Util.hashHex('md5', hex);

This provides MD5 finger print. Thanks.

[2015-09-29 23:43] #71 closed

[2015-09-30 10:43] hardiksoneji commented on #112
@kjur

Please give example of JWT decryption to original payload using js

JWT signing tutorial:
https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-generation
By using signing we get token its ok.

JWT verification tutorial:
https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-verification
Using verification we just verified token

But how to get decryption value(header , payload) ?

[2015-09-30 14:43] kjur commented on #112
Hi @hardiksoneji, Here is sample.
# token is JWS or JWT signature.
header = KJUR.jws.JWS.readSafeJSONString(b64utoutf8(token.split(".")[0]))
payload = KJUR.jws.JWS.readSafeJSONString(b64utoutf8(token.split(".")[1]))

[2015-09-30 16:31] cblair commented on #119
Thanks kjur, see PR here: https://github.com/kjur/jsrsasign/pull/121

[2015-09-30 20:12] tmschlot commented on #118
We gave up on trying to figure out what was going on with this.  We were passing a hex string of the password as @kjur stated but it just wasn't working.

Instead, we changed to using RSA keys and the verifyJWSByNE method, which worked as expected.

[2015-09-30 21:32] kjur commented on #119
Thank you for the pull request. I'll merge later.

[2015-09-30 21:32] #119 closed

[2015-10-02 19:44] oliviervaillancourt opened #122 "Help using verifyJWT()"
(not really an issue, but I have a question)
Hi,

I'm trying to verify a JWT token with your Library (I managed to decode the token) but I'm not able to verify the token.

Basically, I have my signature in a base64 encoded string and I'm wondering how to convert it so that it works with verifyJWT().  I understand I need to convert to hex but I've tried a couple of things and not able to make it wo

[2015-10-03 01:47] kjur commented on #122
Hi @oliviervaillancourt , could you provide your JWT and public key or password to verify which is raising issue? Thanks.

[2015-10-04 23:59] itslenny opened #123 "Incompatible with Node version and JWT.io validator"
This token was generated using the demo code with the password `616161`. If this is pasted into the validator at [jwt.io](http://jwt.io/) it says the signature is invalid.

[code]

I additionally tried this against the verify function of the node.js version by Auth0 [https://github.com/auth0/node-jsonwebtoken](https://github.com/auth0/node-jsonwebtoken) and it also says the signature is invalid.

[2015-10-05 00:01] kjur commented on #123
Password shall be "aaa" in jwt.io for hexadecimal passwod 616161 in jsrsasign. Thnx.

[2015-10-05 00:01] #123 closed

[2015-10-05 00:03] itslenny opened #124 "Returns valid if the secret is close to correct"
Using a token I generated using the secret `616161` I get a isValid value of true with any value starting with `616161`.

This is the code I used.

[code]

isValid was `true` for the following values:

* 616161 - The actual secret
* 6161616  - added a 6
* 616161a - added an a

I stopped testing, but it seems like you can add any 1 character to the end of the secret and it will validate as true.

[2015-10-05 00:07] itslenny commented on #123
@kjur  Hexadecimal? It also doesn't work with a string password such as "secret". How do you specify a string secret instead of a hexadecimal?

This token was encoded using the secret of "secret" and it also fails to validate.

[code]

[2015-10-05 04:01] kjur commented on #123
This token is successfully verified by the password "616161" (i.e. "aaa") by jsrsasign.
For example following tool without acceptable issuer/subject/audiences:
http://kjur.github.io/jsrsasign/tool_jwtveri.html
Thanks.

[2015-10-05 04:04] kjur commented on #123
The your first token
"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRob3IiOiJodHRwOi8vd3d3Lml0c2xlbm55c2ZhdWx0LmNvbSIsInNlcmlhbCI6Im1obWhobW5mZ2htaGZnbWZnaG1mZ2htZmdobSIsInByb2R1Y3QiOiJGaW5hbCBNYXJrZG93biIsImNyZWF0ZWRBdCI6MTQ0NDAwMjEwN30.NlYMkd79i0bzP1mJHqpl4ixor9Hr1XS7BF4j5MqICqE"
is verified successfully with password "aaa" at http://jwt.io/ site.

[2015-10-05 04:08] kjur commented on #124
Thanks for the report. This can be raise because of lacking hexadecimal password checking. I'm planning to change how to provide password by various manner like hexadecimal or utf8 string or base64 string. Then I'll fix also fix this kind of issue. Thanks.

[2015-10-05 08:44] kjur commented on #123
Second token
"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRob3IiOiJodHRwOi8vd3d3Lml0c2xlbm55c2ZhdWx0LmNvbSIsInNlcmlhbCI6ImFzZGZhc2Rmc2FkZnNkYWZhc2Rmc2FkZnNhZGZzYWRmZGYiLCJwcm9kdWN0IjoiRmluYWwgTWFya2Rvd24iLCJjcmVhdGVkQXQiOjE0NDQwMDM1NjB9.jSwuiqtIK_r4UejNCclsXMwrbHeXFX_MVzK8Qw5U6qY"
seems that its password is "aaa" and it can be verified with password "616161" in the following tool:
http://kjur.githu

[2015-10-05 20:41] oliviervaillancourt commented on #122
Hi @kjur,

I apologize for the delay, I missed the notification about your reply.  Here's en example of JWT token and the secret.  Note that the secret is in base64.  Also, these are from a testing environment, so no worries.  I've validated them on jwt.io

Thanks

TOKEN

eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6ImV4dGFwcHN2Y3VzciIsImVtYWlsIjoib2xpdmllci52YWlsbGFuY291cnQrc2hvdWxkbm9iZX

[2015-10-06 00:01] AlaRuba opened #125 "Need Help Understanding Error Message"
Hi,

I am using these steps to generate an encrypted PKCS8 key, but the library is not reading it.

[code]
I then submit the file.der to my javascript and store the key in var key and password in var passcode
[code]

However, I get an error saying UNcaught malformed format: SEQUENCE(0.0).items != 2:1

What does that mean?

[2015-10-06 02:39] kjur commented on #122
Hi @oliviervaillancourt , I've confirmed that above JWT is failed to verify by latest jsrsasign but it is valid by jwt.io site. For jsrsasign, a base64 password can be converted into a hexadecimal string by b64tohex function defined in ext/base64.js. I need to further investigation. Thanks.

[2015-10-06 03:00] kjur commented on #125
Which do you need private key object or hexadecimal string of private key?
% openssl pkcs8 -topk8 -inform pem -in file.pem -outform der -nocrypt -out file.der
This command outputs unencrypted PKCS#8 private key. So following PEM header "ENCRYPTED PRIVATE KEY" shall be wrong:
var pemString = KJUR.asn1.ASN1Util.getPEMStringFromHex(hexDerFileContents, 'ENCRYPTED PRIVATE KEY'

The easiest way to load

[2015-10-06 03:00] #125 closed

[2015-10-06 17:29] AlaRuba commented on #125
Thanks so much for replying. This solves how I read in the PEM file.

However, what if I need to read in DER file, and can't use openssl to convert it? I was wondering how to read that in with your library.

[2015-10-06 21:27] kjur commented on #125
Currently KEYUTIL.getKey doesn't support hexadecimal PKCS#8 DER private key while
it support hexdecimal PKCS#5 DER private key adn PKCS#8 DER public key.

So convert your key to PEM format string then you can read the PKCS#8 PEM private key.

var rawDerFileContents = key;
var hexDerFileContents = rstrtohex(rawDerFileContents);
var pem = KEYUTIL.getPEM(hexDerFileContents, "PKCS8PRV");
var prvKeyObj

[2015-10-06 22:53] kjur commented on #122
Hi @olivervaillancourt , currently still under investigation but I'll share what I found with you.

- I've developped small tool to verify JWS signature by OpenSSL dgst hmac command.
- Your signature is valid by above tool.
- I found CryptoJS Mac API generates wrong mac code for your signature.
- The jwt.io site is using my old version of jsrsasign 4.1.8 and it verifies your signature correctly.
-

[2015-10-07 00:35] oliviervaillancourt commented on #122
Kenji, I appreciated your help very much.  Thanks for the frequent update.

Arigato
On Oct 6, 2015 6:53 PM, "Kenji Urushima" <notifications@github.com> wrote:

[2015-10-07 21:11] AlaRuba opened #127 "Need Help Convert a DER File to PEM File"
Hi,

I'm reading in a PKCS #8 DER File. Thus, I want to read it in the browser, then convert it to PEM using your library so I can use the key. However, I encounter this problem while converting it.

I read the file (it is binary encoded btw) in like so
[code]

I then try to convert it via
[code]
However, I get an error saying
[code]
from this line
[code]
I was hoping you knew where I went wrong.

[2015-10-07 22:48] kjur commented on #127
Can you provide your sample hexadecimal string of DER encoded PKCS#8 private key which raising issue?

[2015-10-09 04:30] kjur commented on #127
Hi @AlaRuba , I've show you a wrong code. I've confirmed the following works. Thanks.

var rawDerFileContents = key;
var hexDerFileContents = rstrtohex(rawDerFileContents);
var pem = KJUR.asn1.ASN1Util.getPEMStringFromHex(hexDerFileContents, "PRIVATE KEY");
var prvKeyObj = KEYUTIL.getKEY(pem);

[2015-10-09 04:30] #127 closed

[2015-10-09 04:54] AlaRuba commented on #127
Thanks so much

[2015-10-09 07:39] danieldeschamps opened #128 "Need more KJUR.asn1.cms.SignerInfo.dUnsignedAttrs"
How dificult is to implement KJUR.asn1.cms.SignerInfo.dUnsignedAttrs.
   id-aa-ets-certificateRefs
   id-aa-ets-revocationRefs
   id-aa-ets-escTimeStamp
   id-aa-ets-certValues
   id-aa-ets-revocationValues
   id-aa-ets-archiveTimestampV2
?

[2015-10-09 07:45] kjur commented on #128
id-aa-ets-certificateRefs have been already implemented as KJUR.asn1.cades.CompleteCertificateRefs class. As for id-aa-ets-escTimeStamp and id-aa-ets-archiveTimestampV2, KJUR.asn1.cades.SignatureTimeStamp implementation can be referred.
But I can't say how difficult it is :( If you implement them please send me push request :)

[2015-10-09 07:45] #128 closed

[2015-10-11 05:34] kjur commented on #122
Hi, I found the cause of issue and fix it. Then I'm writing test codes and document update. I hope it will be released in a few days.

[2015-10-11 05:41] kjur commented on #122
With respect to CryptoJS manual, CryptoJS Hmac accepts only a hexadecimal string as mac password. However it will generate wrong mac signature in some case. Thus all type of password argument will be converted into CryptoJS DWord internally, then applyed to CryptoJS Hmac for its workaround.

[2015-10-12 06:29] kjur commented on #124
I've fixed the issue and released 4.10.0 today. Thanks.
https://github.com/kjur/jsrsasign/releases/tag/4.10.0

[2015-10-12 06:29] #124 closed

[2015-10-12 06:30] kjur commented on #122
I've fixed the issue and released 4.10.0 today. Thanks.
https://github.com/kjur/jsrsasign/releases/tag/4.10.0

[2015-10-12 12:07] oliviervaillancourt commented on #122
Hi Kenji,

Very appreciated,  I will test it out soon

Confirmation:  I need to convert my base64 key to hex to verify the token
signature, I can't pass base64 to the method directly?

Arigato gozaimas (hope I have the spelling right)
On Oct 12, 2015 2:30 AM, "Kenji Urushima" <notifications@github.com> wrote:

[2015-10-12 12:31] kjur commented on #122
Hi @oliviervaillancourt , latest version doesn't require any key conversion.

SYNTAX
KJUR.jws.JWS.verify(*JWSSIGNATURE*, {b64: *BASE64MACKEY*}, [*ACCEPTABLEALGS*]);
EXAMPLE
isValid = KJUR.jws.JWS.verify('eyJh...', {b64: 'Mi/ab8...a=='}, ['HS256']);

See below in detail:
http://kjur.github.io/jsrsasign/api/symbols/KJUR.jws.JWS.html#.verify

BTW, you spelling is correct :)

Thanks.

[2015-10-12 18:40] vsimonian opened #129 "Breaking API changes should not be in minor release"
In the latest minor release, several deprecated functions were cut from the JWS API.

This is leading to failing code in dependent software and does not follow semver.

Per semver,

With regards to deprecation specifically per the semver FAQ,

Please restore the JWS functions in a minor release, and if necessary, please make a major release for the removal of the functions.

[2015-10-12 20:10] cblair commented on #83
@couch, starting npm module treatment at https://github.com/mdcone/jsrsasign.

[2015-10-12 23:09] kjur commented on #129
Thank you for the remind. I'll withdraw 4.10.0 release and release 5.0.0 without any major additional functionality.

[2015-10-13 01:38] vsimonian commented on #129
Thanks, @kjur. I certainly hope I didn't sound harsh; when I noticed the code I was working with was failing due to this it caught me off guard.

Looking forward to 5.0.

[2015-10-13 14:22] oliviervaillancourt commented on #122
Hi Kenji,

I've tried 4.10.0 this morning.  Maybe I'm doing something wrong but I have issues with using the verify method with the ```{b64: 'signature'}``` second param.

If I run this:
[code]
I get this:

    type: uncaughtError
    file: Tests\AuthenticationTests.js:288
    error: 'undefined' is not a function (evaluating 't.match(/^[0-9A-Fa-f]+/)')
           TypeError: 'undefined' is not a fu

[2015-10-13 15:02] kjur commented on #122
Hi @oliviervaillancourt , you are right. Those lines shall be removed. I'll fix it in the next version. Thanks.

[2015-10-13 15:05] oliviervaillancourt commented on #122
Great, Thanks.

On Tue, Oct 13, 2015 at 11:02 AM, Kenji Urushima <notifications@github.com>
wrote:

[2015-10-13 21:36] kjur commented on #129
Hi @vsimonian , I've released 5.0.0 today to fix semver issue. Thanks.

[2015-10-13 21:37] kjur commented on #122
Hi @oliviervaillancourt , I've fixed it on latest version 5.0.0 released today. Thanks.

[2015-10-13 21:37] #122 closed

[2015-10-13 21:39] vsimonian commented on #129
Thanks for the push of 5.0.0! However, 4.10.0 is still up on npm and is the latest version installed for v4-dependent packages.

[2015-10-13 21:40] kjur commented on #129
How do I remove 4.10.0? I've done following command:
% npm deprecate jsrsasign@4.10.0 "semver violation"

[2015-10-13 22:41] vsimonian commented on #129
I waited a while and tested installing jsrsasign into several dependent packages, and npm still matches deprecated versions when installing.

Perhaps unpublish may be the way to go, considering that the package has only been up for a day (it might not be too late)

[2015-10-13 22:44] kjur commented on #129
Thanks. I'll try 'unpublish' later.

[2015-10-14 02:50] kjur commented on #129
Migration guide is now provided.
https://github.com/kjur/jsrsasign/wiki/jsrsasign-JWS-API-4.9.2-to-5.0.0-migration-guide

[2015-10-14 12:06] kjur commented on #129
Version 4.10.0 has been 'unpublish'ed.

[2015-10-14 13:28] oliviervaillancourt commented on #122
Hi Kenji,

Pleased to report that it's all good now.

Thanks for your quick action on this matter, Very much appreciated.

Olivier

On Tue, Oct 13, 2015 at 5:37 PM, Kenji Urushima <notifications@github.com>
wrote:

[2015-10-14 13:50] kjur commented on #129
So I'll close this ticket. If still having issue, I'll reopen.

[2015-10-14 13:50] #129 closed

[2015-10-21 09:43] SorianoMarmol opened #130 "Question/request for example: CADES signature of a file"
Hi

I'm trying to do a CADES signature of a file, and then writing the signature to a other file.

I'm checking the signature using https://valide.redsara.es/valide/validarFirma/ejecutar.html (Spanish signature validation) but it said that the signatures are wrong.

[code]

There is a example of signing a file using cades? and writing the signature to a file?

Thanks a lot

[2015-10-23 19:23] tmschlot opened #131 "CryptoJS AES support"
I'm referencing jsrsasign and attempting to encrypt some data using the CryptoJS AES implementation, but it fails.  When I reference CryptoJS directly, the encryption works.

Here's an example of what I'm doing: http://plnkr.co/edit/ntXccrTdVufQuy2XF6Nh?p=preview

I'd like to use jsrsasign for other things I'm working on, so I'd prefer to use the implementation embedded in it if possible.  Is ther

[2015-10-26 19:40] tmschlot commented on #131
I've gotten around this issue by including the CryptoJS aes rollup script file also.  (Alternatively, can use the individual components that make it up... https://code.google.com/p/crypto-js/source/browse/tags/3.1.2/builder/build.yml)

[2015-10-27 08:50] kjur commented on #131
Thank you for the report. I'll close this ticket.

[2015-10-27 08:50] #131 closed

[2015-10-27 23:43] huma-hamid opened #132 "Need support to check if a cert is CA or not"
Does jsrsasign expose that information already or how do check if a cert is ca or not?

[2015-10-28 09:00] kjur commented on #132
I hope the following function can check CA or not.

function isCACert(certPEM) {
  try {
    var hCert = KEYUTIL.getHexFromPEM(certPEM);
    var hExtnValue = X509.getHexOfV_V3ExtValue(hCert, "basicConstraints");
    var result = false;
    var iIdx = ASN1HEX.getNthChildIndex_AtObj(hExtnValue, 0, 0);
    var hCaFlag = ASN1HEX.getHexOfTLV_AtObj(hExtnValue, iIdx);
    if (hCaFlag == "0101FF") result

[2015-10-30 16:27] huma-hamid commented on #132
Great - Thank you

[2015-10-31 03:31] coolaj86 opened #133 "cannot sign JWS ES256: Uncaught init failed:can't find nthList object"
I opened up the console at http://kjur.github.io/jsrsasign/tool_csr.html and tried to sign a test object:

[code]

It failed with `Uncaught init failed:can't find nthList object`

[2015-10-31 13:11] jvsteiner opened #134 "KJUR.crypto.Signature({'alg':'SHA256withECDSA'}).updateHex() method hashes twice when signing"
I think I found a bug in the ECDSA signature module:

using the following code:

    var sig = new KJUR.crypto.Signature({'alg':'SHA256withECDSA'});
    sig.init(privkey);
    var sigValueHex = sig.signHex('e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855');

and then examining the `sig` object reveals that

    sHashHex: "5df6e0e2761359d30a8275058e299fcc0381534545f55cf43e41983f5d4

[2015-10-31 13:13] kjur commented on #134
Thank you for the report. I'll check it.

[2015-10-31 13:24] jvsteiner commented on #134
I should mention, I am using: `https://cdn.rawgit.com/kjur/jsrsasign/master/jsrsasign-latest-all-min.js` as the source in my project - it should be pulling the latest version from there.

[2015-11-05 08:11] kjur commented on #134
Hi @jvsteiner , I've checked my code.

I've tried following code.

    var sig = new rs.crypto.Signature({alg: 'SHA256withECDSA'});
    sig.init(prvPEM);
    sig.updateString('aaa');
    var sigHex = sig.sign();

Then the resulting signature was successfully verifed by OpenSSL:
    % openssl dgst -sha256 -verify pubkey.pem -signature sig.bin aaa.txt

So it is not double-hashed. Thanks.

[2015-11-05 08:15] jvsteiner commented on #134
Hi, the problem is not with the .updateString() method, but rather with the .updateHex() method, (or the signHex() convenience method that calls .updateHex() internally.)  I also get the right answer, but if you follow the steps in the original post, you can see the issue.

[2015-11-05 13:50] kjur commented on #134
I've tried following codes and both are successfully verified by openssl.

    var sig = new rs.crypto.Signature({alg: 'SHA256withECDSA'});
    sig.init(prvPEM);
    sig.updateHex('616161');
    var sigHex = sig.sign();

    var sig = new rs.crypto.Signature({alg: 'SHA256withECDSA'});
    sig.init(prvPEM);
    var sigHex = sig.signHex('616161');

[2015-11-05 14:00] kjur commented on #134
SHA256 of 0xe3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855 shall be "5df6e0e2761359d30a8275058e299fcc0381534545f55cf43e41983f5d4c9456" which is not double hash.

[2015-11-05 14:01] jvsteiner commented on #134
I see - clearly what this method does, and what I imagine it should do are quite different.  In the case that I have a hex encoded hash value (not the original data - the data is already hashed elsewhere) and I need to sign it - how can I sign the hash value directly.  Your example (where '616161' may be hex encoded, but is obviously far too short to the hex-digest of some data) suggests that this

[2015-11-05 14:02] jvsteiner commented on #134
in my use case - `0xe3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855` is the hash value - it's already the hash of the data - it should not be hashed again - i want to sign that value.

[2015-11-05 14:04] kjur commented on #134
Sorry but you are wrong. It shall be input data to be signed for signHex() or updateHex().

[2015-11-05 14:07] jvsteiner commented on #134
I'm not wrong - I have a different use-case.  I'd like to sign a pre-computed hash value, and not have it hashed again.  It's clear that it hashes the data (either str or hex) as provided, and this is precisely what you intended to do, however, in my case, I would like to not provide the data, but rather the digest of the data to be signed.  Is this possible?

[2015-11-05 14:09] kjur commented on #134
For your use case, you can use KJUR.crypto.ECDSA class directly.

[2015-11-05 14:09] jvsteiner commented on #134
thank you

[2015-11-05 14:10] kjur commented on #134
I'll close this ticket.

[2015-11-05 14:10] #134 closed

[2015-11-05 16:23] kjur commented on #133
Hi @coolaj86 , it seems that getPEM() don't work properly.

Does this help you?

    var kp = KEYUTIL.generateKeypair("EC", "secp256r1");
    var hSig = KJUR.jws.JWS.sign(null, '{"alg": "ES256"}', '{foo: "bar", cty: "JWT"}' , kp.prvKeyObj);

[2015-11-05 19:43] huma-hamid commented on #132
I have tried this code snippet to check two certs, one CA and other not (tested them first using OPENSSL). In both cases I got result equals false. Which means it's not detecting a CA cert correctly. Here is what I got for both the certs:

hExtnValue => '0101ff'
iIdx = 4
hCaFlag = 'ff' (which is not equal to expected value of 0101FF).

I have following questions:
- Are we reading correct index wit

[2015-11-06 03:53] kjur commented on #132
I'll check it later.

[2015-11-06 05:33] kjur commented on #132
Sorry I've fixed the code and confirmed it works:

I hope the following function can check CA or not.

    function isCACert(certPEM) {
      try {
        var hCert = KEYUTIL.getHexFromPEM(certPEM);
        var hExtnValue = X509.getHexOfTLV_V3ExtValue(hCert, "basicConstraints");
        var result = false;
        var iIdx = ASN1HEX.getNthChildIndex_AtObj(hExtnValue, 0, 0);
        var hCaFlag =

[2015-11-06 20:14] huma-hamid commented on #132
I have verified it works correctly now (for CA and non-CA cert of V3). Thank you!

However, there is one more issue I have found. I was getting a false positive while checking CA for a v1 certificate. On further investigation, I found that the actual issue was that jsrsasign threw exception when I was trying to extract a public key from a v1 cert. openssl extracts public key from the same cert cor

[2015-11-06 23:04] kjur commented on #132
I'm sorry but currently v1 certificate not supported. I'll close this ticket. Thanks.

[2015-11-06 23:04] #132 closed

[2015-11-10 22:01] cblair commented on #132
kjur, what sort of effort would be required to support v1? Generally, which sections of code would have to be modified? We're considering making this modification and want gauge the work.

Thanks!

[2015-11-10 22:30] kjur commented on #132
I think x509.js and asn1x509.js are needed to be updated.

[2015-11-15 19:44] marcusroberts opened #136 "Unable to resolve module fs when using 5.0.2 with React Native"
When I upgraded from 5.0.1 to 5.0.2 and rebuilt my React Native app I have the following error in the ReactPackager phase:

"Unable to resolve module fs"

I think this is because fs isn't available for React Native apps perhaps?

[2015-11-15 19:47] marcusroberts commented on #136
A quick read of the code shows its in the new file

jsrsasign/nodeutil-1.0.js

so this bug isn't jsrsasign itself.

[2015-11-15 23:38] kjur commented on #136
Thank you for the report. It's not jsrsasign issue, is it. I'll close the ticket.

[2015-11-15 23:38] #136 closed

[2015-11-17 14:40] maiermic commented on #41
@sbheinric I try to solve a similar problem (same error). What do you mean by *values that prevent decryption from inverting the encryption result*?

[2015-11-18 09:39] maiermic commented on #41
Found the problem: A bug in an unicode-to-hex converter (not part of jsrsasign).

[2015-11-18 22:39] cblair commented on #132
Great, thanks!

[2015-11-20 17:52] kidhasmoxy opened #137 "Export public key as der for libtrust support"
The Docker Libtrust library uses a "fingerprint" approach to generate the kid header for a JWT. Can jsrsasign support the generation approach listed below?

I see that we can use the x509 utils to get a public key from a private RSA key object, but is there a way to DER encode the public key?

From there, we should be able to run the digest and do the base32 encoding.

https://github.com/docker/li

[2015-11-20 18:34] kjur commented on #137
I hope this solves:

    // let prvKey is private RSAKey object
    pubPEM = KEYUTIL.getPEM(prvKey, "PKCS8PUB");
    // pubHex will be a hexadecimal string of DER encoded PKCS#8 public key
    pubHex = KEYUTIL.getHexFromPEM(pubPEM);

[2015-11-20 20:22] kidhasmoxy commented on #137
I'm getting an error thrown on the first line. I'm creating prvKey using KEYUTIL.getkey. Is that the right approach?

/node_modules/jsrsasign/lib/jsrsasign.js:273
);return v.ASN1Util.getPEMStringFromHex(k,"ENCRYPTED PRIVATE KEY")}}throw"unsu

[2015-11-20 23:10] kjur commented on #137
How did you use getKey?

Following code works in Node:

    var rs = require('jsrsasign');
    var kp = rs.KEYUTIL.generateKeypair("RSA", 2048);
    var pubPEM = rs.KEYUTIL.getPEM(kp.prvKeyObj, "PKCS8PUB");
    var pubHex = rs.KEYUTIL.getHexFromPEM(pubPEM);

[2015-11-21 12:10] kidhasmoxy commented on #137
This is some example code that I'm using based off of your tutorial for generating a JWT. I have a string variable that holds an RSA Private Key (no password.) I'm able to generate the JWT just fine when I use KEYUTIL to create a private key object.

var prvKey = a.KEYUTIL.getKey(sKey);

[2015-11-21 12:59] kjur commented on #137
It seems that getKey and getPEM have issue in NodeJS.
To get PEM public key from private key, it requires to set isPublic flag.
This only work on RSA private key.

Here is work around and works fine:

    var rs = require('jsrsasign');
    var prvPEM = rs.readFile('bbb.p5prv');
    var prvHex = rs.KEYUTIL.getHexFromPEM(prvPEM);
    var prvObj = rs.KEYUTIL.getKey(prvHex, '', "pkcs5prv");
    prvObj

[2015-11-21 16:30] kidhasmoxy commented on #137
That worked, thanks. You can shortcut it a bit by just using 'a.asn1.x509.X509Util.getPKCS8PubKeyPEMfromRSAKey(prvKey)' to get the public pem in one line.

Here's the routine I ended up with to match that libtrust spec. It may not be optimized but at least it works.
[code]

[2015-11-21 16:30] #137 closed

[2015-11-25 21:37] rapropos opened #138 "millis should be orthogonal in DERGeneralizedTime constructor"
I believe there is a potentially unintended inability to set the "millis" property when creating a DERGeneralizedTime if other properties are also specified. It would make more sense to me to separate it into its own conditional, instead of how it is chained now.

[code]

could become

[code]

Please feel free to ignore this if the current exclusive behavior is intended.

[2015-11-25 22:14] kjur commented on #138
Thank you for your advice. I'll check it later.

[2015-11-26 14:56] kjur commented on #138
Fixed in 5.0.5 released today. Thanks
https://github.com/kjur/jsrsasign/releases/tag/5.0.5

[2015-11-26 14:56] #138 closed

[2015-11-26 21:38] adonoho opened #139 "Offer: Brief documentation on how to use jsrsasign with Parse.com's Cloud Code servers?"
Mr. Urushima,

I have successfully deployed a recent version of your jsrsasign, v5.0.2, to Parse.com's Cloud Code servers. While it wasn't difficult to do, once I understood all of the moving pieces, it was somewhat involved for this JavaScript noobie.

Why does one want to use jsrsasign on Parse.com? They are running a Node.js-like environment. Basically, it is a V8 JavaScript engine and parts of

[2015-11-27 02:33] kjur commented on #139
Thank you for your information :)

[2015-11-27 02:33] #139 closed

[2015-12-08 05:14] Zamicol commented on #83
Any word?

For googlers:

I got this error when attempting `new KJUR.crypto.Signature({"alg": sigalg});`

I got around this with a change to the policy in the manifest, `"content_security_policy": "script-src 'self' 'unsafe-eval'; object-src 'self'"`, but it would be nice not to have to add this exception.

[2015-12-11 00:04] leedgbr opened #140 "depedency on yui version that has known security vulnerabilities"
It appears that YUI 2.9.0, used by jsrsasign has a number of known security vulnerabilities:

See https://www.cvedetails.com/vulnerability-list/vendor_id-290/product_id-20206/version_id-137803/Yahoo-YUI-2.9.0.html

https://www.cvedetails.com/cve/CVE-2013-6780/
https://www.cvedetails.com/cve/CVE-2012-5883/
https://www.cvedetails.com/cve/CVE-2012-5882/
https://www.cvedetails.com/cve/CVE-2012-5881/

[2015-12-11 02:24] kjur commented on #140
Thank you for the note.

[2015-12-11 07:15] cruser11232 commented on #62
Am facing the same problem .. during openssl verification.
Using the default ones available in the website..
Not able to verify the signature in openssl..

Can someone share their views.

Hash : 933fcecbe9862af237817ae4d54c7ee6b843b1b4172b3dd7ca65aaabf2826670d9863c2b13fd7e1ed1e178f1d40c6cc1456c3748696fa9f27fe13ddb49f045930d96cb2693426f7b5af5887b3e071cfb4d01cb8315654a872d842bcf2b444c51d27462b710086

[2015-12-11 12:10] tsabolov opened #141 "The library doesn't work in node's strict mode (--use_strict)"
When running node in strict mode (with a command line argument `--use_strict`) the library fails upon require:
[code]
[code]
[There](https://github.com/kjur/jsrsasign/blob/master/npm/lib/jsrsasign.js#L234) is a check for presence of the global variable KJUR:
[code]
But in strict mode it's prohibited to create, modify and even get value of undeclared global variables.
Please consider to change this

[2015-12-13 04:29] kjur commented on #140
All of YUI 2.9.0 vulnerabilities are related to HTML or DOM object which are not used in jsrsasign. The jsrsasign uses YUI 2.9.0 just for class inheritance. So you will not affect those vulnerabilities when you use jsrsasign APIs and don't use YUI APIs directry including YUI HTML APIs. However it seems that it's a time for withdraw YUI for class inheritance in jsrsasign.

[2015-12-20 04:20] mpcm commented on #83
I suspect this will also be an issue when used in chrome extensions? I recently hit this with the old jsjws repo, and haven't tried this new repo yet, but will confirm if it is an issue when I do.

[2015-12-20 05:52] goose2460 opened #142 "Confusion over jws.JWS.sign"
I'm trying to use the jws.JWS.sign method, and it is returning a string that looks like:

eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrc2Nsb3VkQHByb2plY3QtaWQtb2xqeHRqemZlbXdzenp5eGR0dS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9kcml2ZSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTQ1MDU5MDM3MywiaWF0IjoxNDUwNTkzOTczf

[2015-12-20 06:00] goose2460 commented on #142
https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-generation is clearing up some confusion, thanks.

[2015-12-20 06:00] #142 closed

[2016-01-02 07:44] simkessy opened #143 "Error with NPM - Cannot resolve module"
I've installed it through NPM. But when I try to load it through webpack I get:

[code]

So it's looking for require fs but I'm not sure why or how to fix this.

[2016-01-13 05:42] jeremyblalock opened #144 "Typo in Wiki Installation Instructions"
Hi,

In the wiki, it says:

[code]

But as I've highlighted, it seems there's an "s" missing from the "jsr**s**asign". Unfortunately this is also causing npm installation to fail.

[2016-01-13 07:17] kjur commented on #144
Thank you for letting me know. I've fixed it.

[2016-01-13 07:17] #144 closed

[2016-01-18 13:00] franziskuskiefer opened #145 "erroneous DER Integer encoding"
The integer encoding algorithm is producing wrong results. The following example encodes 9223372036854775500 to 9223372036854776000 for example.

    var KJUR = require('jsrsasign');
    var seq = new KJUR.asn1.DERSequence({'array':[new KJUR.asn1.DERInteger({'int':9223372036854775500})]});
    var hDATA = seq.getEncodedHex(); // this is 300b02090080000000000000c0, which is 9223372036854776000

[2016-01-19 13:56] kjur commented on #145
Numbers in JavaScript is represented by floating numbers and they can't be represented integers strictly. So large integers will not work properly. This is not bug of DERInteger class. That's limitation of JavaScript.

As for large integers you can use BigInteger class like this:

i = new KJUR.asn1.DERInteger({'bigint': new BigInteger('76287755398823936', 10)});

[2016-01-19 13:56] #145 closed

[2016-01-25 12:39] Teelevision opened #146 "Uncaught init failed:RSASetPrivateEx N.length == 0"
Signing with an encrypted private key produces this error:
```Uncaught init failed:RSASetPrivateEx N.length == 0```
Keys generated like this:
[code]
Signing:
[code]

When I generate a private encrypted key with OpenSSL and use it as `privateKey`, signing generates no error.
```openssl genrsa -aes256 -out private.key 2048```

When I use KEYUTIL.getKey() to decrypt the key (generated with OpenSSL) a

[2016-01-25 22:34] svevang commented on #143
I'm running into this same bug trying to integrate this library into react native.

It looks like there some node specific code was added in 5.0.2:
https://github.com/kjur/jsrsasign/commit/7844c0edaa720c875789c6f354ee3d09603b96b1#diff-92d0e5376f9e604e03fac86fbb661950R9

Downgrading to 5.0.1 allows my project to build.

 For this to be a pure javascript library, any references to node specific modu

[2016-01-26 00:00] simkessy commented on #143
I gave up on this library and just went with cryptico instead.  Thanks for looking into it.

[2016-01-26 00:00] #143 closed

[2016-01-26 07:18] SorianoMarmol commented on #130
Any idea, please?

Thanks

[2016-01-28 23:07] sibeliusseraphini commented on #136
@marcusroberts did you find out how to fix this?

[2016-01-28 23:17] sibeliusseraphini commented on #136
@kjur I would like to know whether it is possible to move node-utils to a contrib repository (or separate it in npm), so we could use this lib in react native or other projects that are pure js without nodejs

[2016-01-28 23:26] sibelius opened #147 "Remove nodejs dependency"
It will make easy to use other js environments like react native

[2016-01-28 23:46] sibelius opened #148 "Better structure for the project"
This code is great, thanks

I think you should think in reorganize the code:
- keep only the latest version in the master (use branches or releases to make old versions available)
- store all minified version in only one folder, maybe /dist or just minify after npm install ([npm-scripts](https://docs.npmjs.com/misc/scripts) or bower install

[2016-01-29 07:11] marcusroberts commented on #136
Hi,

My fix was to move the library out of nam and into my source tree, and edit out the lines that referenced the FS module, the one line that starts with the define for readFileUTF8

// function readFileUTF8(

and  all these exports at the end

// exports.readFileUTF8 = readFileUTF8;
// exports.readFileHexByBin = readFileHexByBin;
// exports.readFile = readFile;
// exports.saveFile = saveFile;
/

[2016-01-29 07:12] marcusroberts commented on #147
:+1:

[2016-01-29 07:13] marcusroberts commented on #147
The library works brilliantly in React Native so it would be great to see it work straight from npm.

[2016-01-29 10:16] sibeliusseraphini commented on #136
I did the same here, thanks

[2016-01-31 13:30] zboralski opened #149 "crypto-1.0 and crypto-1.1's unsafe evals"
Any chance we could patch cryptojs so that it doesn't do an unsafe eval

[code]

[2016-01-31 20:24] zboralski commented on #83
:+1:

[2016-01-31 22:12] zboralski commented on #148
:+1:

[2016-02-07 20:21] yaswant-dowlut opened #151 "JWT verification: Issue at property issue"
The function KJUR.jws.JWS.verifyJWT performs several checks on the JWT token to ensure its validity. One of the check is to ensure that the timestamp present in the iat field of the payload occurs before the current time. However, this may cause problems in certain situations.

I was recently trying to verify a token from a server and the timestamp that it was including in its iat field was always

[2016-02-10 01:22] beckyconning opened #152 "Verify JWT with JWK"
I have a JWT and a JWK and want to check that they match. I'm not entirely sure how to do this and have been trying for a few hours to achieve this following the docs.

Most of the docs seem to assume I have a PEM string however I only have a JWK.

Any advice or help would be extremely appreciated and I'd be happy to provide an example in a PR for your docs when I understand this.

Thanks.

[2016-02-10 01:32] beckyconning commented on #152
Ah I found it. Using `KJUR.jws.JWS.verifyJWT` with `KEYUTIL.getKey(jwk)` as the second argument works perfectly. Thanks!

[2016-02-10 01:32] #152 closed

[2016-02-10 19:30] PatHat opened #153 "Google API"
Hello.
I was looking for a sample JavaScript code to call a Google API using OAuth2 but from a server so it would be doing a 2-legged OAuth there is no user interaction, similar to what this document describes: https://developers.google.com/identity/protocols/OAuth2ServiceAccount

Can this lib support this? I think it can take care of the JWT token creating and signing which is one step of the OAu

[2016-02-11 04:15] gamedevhelper opened #154 "error decoding JWT created by jsrsasign"
I am trying to parse a signed HS512 JWT created by this project using https://github.com/jwtk/jjwt (Java library).  Using the exact same key I can't parse JWT with Java lib because I get "JWT signature does not match locally computed signature".  I am confused because I though all JWT are interoperable between any computer languages as long as it follows https://tools.ietf.org/html/rfc7519

[2016-02-11 14:34] PatHat commented on #153
Hello.
I tried the online JWT tool ( https://kjur.github.io/jsrsasign/tool_jwt.html) and successfully generated a JWT token, which I then tried to use to call order to request an access token from the Google OAuth 2.0 Authorization Server (https://www.googleapis.com/oauth2/v4/token), however the Google steps for JWT creation requires a claim called scope (A space-delimited list of the permissions

[2016-02-11 15:03] kjur commented on #153
You can find JWT generation tutorial.
https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-generation
You can add any parameters such like scope like this:
http://stackoverflow.com/questions/11126439/google-oauth-2-0-jwt-token-request-for-service-application
oPayload.scope = "https://www.googleapis.com/auth/userinfo.email"

[2016-02-11 15:03] #153 closed

[2016-02-11 16:19] beckyconning opened #155 "Common.js release on Bower"
It would be nice to have a CommonJS module release on Bower instead of just on NPM for those of us using Purescript, Webpack or Browserify : ).

Thanks!

[2016-02-11 23:47] PatHat commented on #153
I want to use your code to make my own version of your cool Online JWT tool:
Do I need the jws-3.2.js file or can I ignore it because is it obsolete now? Also can you share the stylesheet.css? I hope to add the required scope claim so the new version of the tool can generate a JWT that Google can accept.

[2016-02-12 05:57] kjur commented on #153
Off course you can use those codes because it's open source software.
jws-3.2.js is not necessary since jsrsasign-latest-*.js concludes new jws.js.
You can find JS and CSS codes used by tool_jwt.html from its code:
https://github.com/kjur/jsrsasign/blob/master/tool_jwt.html

[2016-02-12 22:28] PatHat commented on #153
I do not see the stylesheet.css file anywhere. Nothing here /jsrsasign/stylesheets

Also, what is this tool version I see under mobile/tool_jwt.html?

Btw I was able to successfully use your tool to generate a JWT that Google accepted!

[2016-02-13 04:00] kjur commented on #153
Did you see gh-pages branch?
https://github.com/kjur/jsrsasign/tree/gh-pages
I hope you can find them.
They are third party JSs and CSSs. So please care about their licenses.

[2016-02-13 04:02] kjur commented on #151
I don't think most of JWT libraries supports such grace period issue. However I may add it in the future version.

[2016-02-13 04:04] kjur commented on #154
Sorry but I can't find its cause of issue. Could you point out them?

[2016-02-18 09:45] ltrillaud opened #156 ""bower install jsrsasign --save" is broken"
HI
Thank you for your great library, but the bower installation is broken.
if you try this :
`$ bower install jsrsasign --save`
`bower jsrsasign#* cached git://github.com/kjur/jsrsasign.git#5.0.5`
`bower jsrsasign#* validate 5.0.5 against git://github.com/kjur/jsrsasign.git#*`
 `bower kjur/jsrsasign#~5.0.5 install kjur/jsrsasign#5.0.5`

I retrieved the download in :
`bower_components/kjur/jsrsasig

[2016-02-19 03:14] kjur commented on #156
@ltrillaud Thank you for letting me know. I'll fix it this week end.

[2016-02-19 08:31] ltrillaud commented on #156
Thank you for your quick answer.

[2016-02-21 10:02] marcusroberts opened #157 "KJUR.asn1.csr.CSRUtil.newCSRPEM fails with Uncaught TypeError: KJUR.asn1.ASN1Util.newObject is not a function"
I've reduced by test case to the following code - I can happily generate key pairs, convert them to PEM, read the back as keys, so believe most functions are working, but I'm not able to generate a CSR with the following code in Chrome for Mac or Safari for Mac:

  var kp = JSRSA.KEYUTIL.generateKeypair("RSA", 1024);

  var device_csr = KJUR.asn1.csr.CSRUtil.newCSRPEM({
    subject: {str: '/C=GB/S

[2016-02-22 01:41] kjur commented on #157
Thank you for your report. Hmm..., I've confirmed the following code works properly.

<html>
<head>
<script language="JavaScript" type="text/javascript" src="https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js"></script>
</head>
<body>
<script>
function aaa() {
  var kp = KEYUTIL.generateKeypair("RSA", 1024);
  var csrPEM = KJUR.asn1.csr.CSRUtil.newCSRPEM({
    subject: {str: '/C=GB/ST=En

[2016-02-22 01:42] kjur commented on #157
Thank you for your report. Hmm..., I've confirmed the following code works properly.

    <html>
    <head>
    <script language="JavaScript" type="text/javascript" src="https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js"></script>
    </head>
    <body>
    <script>
    function aaa() {
      var kp = KEYUTIL.generateKeypair("RSA", 1024);
      var csrPEM = KJUR.asn1.csr.CSRUtil.newCSRP

[2016-02-22 07:13] marcusroberts commented on #157
Your test code works for me too.  I'm using the npm version in a ReactJS app, so suspect webpack or some other part of the transformation is to blame.  I'll let you know what I find.

[2016-02-22 07:27] marcusroberts commented on #157
Your test page works for me too.

I'm using the code in a React app, with the library loaded via npm, from my packages

"jsrsasign": "^5.0.2"

I'll dig in

[2016-02-22 07:27] #157 closed

[2016-02-22 07:28] marcusroberts commented on #157
Sorry, the problem was my own fault - there was a name conflict with another library using the KJUR.asn1 library, removing that library resolved the issue.

[2016-02-22 08:18] kjur commented on #157
Thank you for letting me know. I'm grad to hear that.

[2016-02-24 04:48] smrita-garg commented on #33
Thanks alot for ur help!!
It worked :)

[2016-02-25 01:17] Deracination opened #158 "JWT token created in jsrasign does not verify on jwt.io"
A token created using the example in "Tutorial-for-JWT-generation" fails with an 'invalid signature' when verified on https://jwt.io/

[2016-02-25 09:36] kjur commented on #158
Following code generates HS256 JWT with password "aaa" (i.e. 0x616161).

    var sJWT = KJUR.jws.JWS.sign("HS256", sHeader, sPayload, "616161");

So type "aaa" at "VERIFY SIGNATURE" text field of https://jwt.io/ site. This will work.

[2016-02-25 09:36] #158 closed

[2016-02-25 21:48] Deracination commented on #158
Sorry, I missed the earlier closed issue on exactly this topic

[2016-02-26 04:32] kjur commented on #158
No problem. I've added some note for jwt.io site.

https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-generation

[2016-02-28 00:31] kjur commented on #156
I've fixed in the latest version. Thanks.

[2016-02-28 00:31] #156 closed

[2016-02-28 00:32] kjur commented on #149
I've fixed it in the latest version. Thanks.

[2016-02-28 00:32] #149 closed

[2016-02-29 15:24] zboralski opened #159 "Non minified version of jsrsasign"
Would it be possible to distribute a non-minified version jsrsasign ? If we include any minified libraries inside a chrome extension it gets rejected by default. Thanks

[2016-02-29 15:28] kjur commented on #159
You can generate non minified version of library just concatinating all *.js and ext/*.js files.

[2016-02-29 15:28] #159 closed

[2016-02-29 15:45] zboralski opened #160 "x64-core is missing from repo"
I see x64-core-min in the latest-all minified but x64-core.js isn't included in the repo.

[2016-02-29 15:51] kjur commented on #160
It's in cryptojs library. I'll add itater.

[2016-03-01 02:43] RavenousWolf opened #161 "Demo CSR generation tool broken"
The CSR demonstration tool creates a CSR which doesn't include the subject. The tool is located here: http://kjur.github.io/jsrsasign/tool_csr.html.

Line 40:
 ` "subject": subject,`

Should be:
` "subject": {"str" : subject},`

[2016-03-01 04:28] kjur commented on #161
Thank you for letting me know. I'll fix it later.

[2016-03-01 04:47] kjur commented on #161
I've fixed it in the latest version. Thanks.

[2016-03-01 04:47] #161 closed

[2016-03-01 04:54] kjur commented on #154
It seems no response. I'll close this ticket.

[2016-03-01 04:54] #154 closed

[2016-03-01 04:56] kjur commented on #83
Its push request is accepted and issue was fixed in 5.0.6. Thanks.

[2016-03-01 04:56] #83 closed

[2016-03-01 10:34] zboralski commented on #83
Thanks @kjur

[2016-03-01 18:04] Zamicol commented on #83
Works great.  Thanks!

[2016-03-01 19:57] kyokku opened #162 "malformed plain PKCS8 private key(code:001)"
Hello,
I'm generating encrypted PKCS8 and CSR based on the example [http://kjur.github.io/jsrsasign/tool_csr.html](url) then trying to decrypt it using PKCS5PKEY.getKeyFromEncryptedPKCS8PEM but it throws:

malformed plain PKCS8 private key(code:001)

[code]

What  I'm doing wrong?
Thanks in advanced.

[2016-03-02 04:06] kjur commented on #162
Thank you for letting me know. I've reproduced the issue. I'll investigate it.

[2016-03-05 15:10] kjur commented on #162
It was a bug because of wrong ordering of CryptoJS files in jsrsasign-latest-all-min.js. I've released fixed release. Thanks.

[2016-03-05 15:10] #162 closed

[2016-03-06 03:57] kjur commented on #160
I've added the in the ext folder in the latest branch. Thanks.

[2016-03-06 03:57] #160 closed

[2016-03-06 03:59] kjur commented on #146
This issue was caused by the ordering of CryptoJS files in the jsrsasign-latest-all-min.js. The issue was fixed in the latest version 5.0.7. Thanks.

[2016-03-06 03:59] #146 closed

[2016-03-06 04:09] kjur commented on #141
I've removed unnecessary evals in the latest version 5.0.7 so that jsrsasign works in the strict mode of Node. Thanks.

[2016-03-06 04:09] #141 closed

[2016-03-08 10:37] balamkumar opened #164 "sample-rsasign.html - key is too short for SigAlg"
I am trying to test reassign with my own RSA 2048 key, but getting below error. Its working with 1024 key, is that mean demo site does not support 2048 key size?

http://kjur.github.io/jsrsasign/sample-rsasign.html
Uncaught key is too short for SigAlg: keylen=99,sha256

[2016-03-08 13:00] kjur commented on #164
Hi @balamkumar , I've confirmed that it works with my RSA 2048bit PKCS#1 private key. As error message, private key seems wrong.

[2016-03-11 07:17] balamkumar commented on #164
@kjur Thanks for your reply. You are right, I can sign with new openssl private key 2048. But in my application, I am generating RSA key with following Java code, and I can to do cipher and decipher the message successfully with crypto-js, when i use jsrsasign for signing the message, getting above error. Is there anything not compatible in my code for jsrsasign?

_java.security.KeyPairGenerator g

[2016-03-11 07:28] kjur commented on #164
Hi. Your key is PKCS#8 private but:

- plain private key not encrypted key
- missing PEM header (like "----- BEIGN PRIVATE KEY ------")

Sorry but sample-rsasign.html only supports encrypted private key.

[2016-03-11 07:43] balamkumar commented on #164
Thanks. Is there any sample to use my plain PKCS#8 key and sign the message?

[2016-03-11 12:14] enthudrives commented on #164
@kjur I'm facing the same issue as @balamkumar . Is there a way to sign my PKCS#8 key?
I tried something like this:
[code]
Doesn't seem to return the expected value

[2016-03-11 22:22] kjur commented on #164
Hello @enthudrives , Please try following:

    var prvKeyObj = KEYUTIL.getKey(__PLAINPKCS8PEM__);
    var sig = new KJUR.crypto.Signature({"alg": "SHA1withRSA"});
    sig.init(prvKeyObj);
    sig.updateString('aaa');
    var hSigVal = sig.sign();

[2016-03-14 07:07] balamkumar commented on #164
@kjur Thanks, it works. but the Signature length is always 512. May I know why?

[2016-03-20 19:14] Zamicol commented on #116
The signature is the hex of ASN1 format and I can decode it easily.

`<0x30> <length of message> <0x02> <length of R> <R> <0x2> <length of S> <S> `

Signature:
3045022100c4da6ba370f64fa381795ab53cd43190c643bec1905f8cbf549cef73e75cf158022075e9adeb1b18d14b37f2f3e87dedc1da35fac763972c265146a5d93303e90c1e

Decoded using a javascript tool:
https://lapo.it/asn1js/#304502206AA8EF89E0FEFDF97C01AF649F9B3FE

[2016-03-21 14:25] kjur commented on #116
EC public key bytes is not encoded as ASN.1.

Uncompressed EC public key
    <0x04><x bytes><y bytes>

Compressed EC public key
    <0x02><x bytes> when y is even.
    <0x03><x bytes> when y is odd.

[2016-03-21 14:34] kjur commented on #164
It seems that there is no further question. I'll close this ticket.

[2016-03-21 14:34] #164 closed

[2016-03-28 17:16] cblair opened #165 "KJUR.crypto.Signature memory leak"
Possible memory leak:

![image](https://cloud.githubusercontent.com/assets/464451/14084027/a71da492-f4cd-11e5-8d7c-2f7a14f20f95.png)

I'm using the methods from http://www.nearform.com/nodecrunch/self-detect-memory-leak-node/. Somewhere in my project I have a memory leak, and so far this is the only thing being reported (quite a lot).

Caveats -
- memwatch can be fooled by sudden huge memory spike

[2016-04-07 19:54] kyokku opened #166 "Download API Reference"
Is API reference available for download? The goal is to read it offline and make massive searches in files for classes/methods we need instead of search by hand doing clicks in html pages.

Thanks.

[2016-04-07 20:18] kjur commented on #166
Hi, all released concludes API documents in "api" directory.
https://github.com/kjur/jsrsasign/releases
Thanks.

[2016-04-07 20:18] #166 closed

[2016-04-09 05:10] apowers313 opened #167 "unsupported public key alg: ecdsa"
I'm trying to verify a signature of a base64url encoded string. My code is:

[code]

And the output complains that ECDSA isn't supported... which seems odd since that is [contrary to the documentation](http://kjur.github.io/jsrsasign/api/symbols/KJUR.crypto.Signature.html#constructor). Is this a bug? Or am I misunderstanding how verify() should work?

Output:

Cert:
-----BEGIN CERTIFICATE-----
MII

[2016-04-09 08:29] kjur commented on #167
Hi, could you try to use sig.init(CERTPEM) instead of sig.initVerifyByCertificatePEM(CERTPEM)? Then let me know the result? The [initVerifyByCertificatePEM](http://kjur.github.io/jsrsasign/api/symbols/KJUR.crypto.Signature.html#.initVerifyByCertificatePEM) is a deprecated method. Thanks.

[2016-04-12 20:54] carlskii opened #168 "Get certificates signature algorithm"
Hi,

Is there any way to get a X.509 certificates signature algorithm & keysize ?

[2016-04-13 05:27] kjur commented on #168
Hi @carlskii , there is no specific function for them but you can do as following:

"""
// RSA key size or ECC curve name

var pubkey = KEYUTIL.getKey(pem);

if (pubkey instanceof ECDSA)
  console.log(pubkey.curveName);
else if (pubkey instanceof RSAKey)
  console.log("RSA" + pubkey.n.bitLength());
else
  console.log(pubkey);

// certificate signature algorithm

var hex = X509.pemToHex(pem);

var

[2016-04-13 05:27] #168 closed

[2016-04-13 08:33] carlskii commented on #168
Perfect thanks very much.

[2016-04-13 10:07] carlskii opened #169 "Basic constraints and key usage"
I've been experiencing with the X.509 class and was wondering if there's simple way of getting the `basic constraints` (e.g. Subject Type=CA, Path Length Constraint=0) and `key usage` information (e.g. Certificate Signing, Off-line CRL Signing, CRL Signin...) ?

I need the oids to translated rather than just the list of OIDs e.g.

    ExtKeyUsageBin:
    [ { posTLV: 850, oid: '2.5.29.14', critical

[2016-04-14 11:30] kjur commented on #169
As for key usage, jsrsasign already has methods:
http://kjur.github.io/jsrsasign/api/symbols/X509.html#.getExtKeyUsageString
http://kjur.github.io/jsrsasign/api/symbols/X509.html#.getExtKeyUsageBin

For basic constraints, I've add a method for it in the latest version:
http://kjur.github.io/jsrsasign/api/symbols/X509.html#.getExtBasicConstraints

For certificate dump, how about using ASN.1 dump?
h

[2016-04-14 11:30] #169 closed

[2016-04-14 11:31] kjur commented on #167
I think the issue was solved. So I'll close this ticket.

[2016-04-14 11:31] #167 closed

[2016-04-14 11:32] kjur commented on #133
I think the issue was solved. So I'll close this ticket.

[2016-04-14 11:32] #133 closed

[2016-04-14 11:45] carlskii commented on #169
Thanks for this.

Yes this would be a start, ideally I would like to dump all of certificate meta data to a data structure for indexing if possible.

Sent from my iPhone

[2016-04-18 14:42] carlskii opened #170 "mapping oid's from getV3ExtInfoListOfCertHex(hex)"
Hi, I'm using the `getV3ExtInfoListOfCertHex(hex)` method which gets a list of extensions from my X.509 certificate like this:

[code]
This is the output from the openssl command line (`openssl x509 -in cert4.txt -text -noout`)

[code]

Is there a way to extract the mappings for the oid's to provide a similar output ?

i.e. Extract the values for the X509v3 Subject Key Identifier and X509v3 Author

[2016-04-18 18:40] carlskii opened #171 "getNotBefore() & getNotAfter() returning strange time formats"
I'm trying to format the outputs from the getNotBefore() & getNotAfter() functions, however they appear to dropping the first part of year. e.g.

Openssl reports the time for test cert as:

    Validity
            Not Before: Jan 14 22:45:12 2016 GMT
            Not After : Sep 22 14:39:52 2016 GMT

jsrsasign, is returning this:

    Not Before: 160114224512Z
    Not After: 160922143952Z

i.e. dr

[2016-04-18 22:43] kjur commented on #171
It's the correct ASN.1 UTCTime encoding. Plz see API DOCUMENTS.

[2016-04-18 22:43] #171 closed

[2016-04-18 22:46] kjur commented on #170
Sorry but there's no API for it. It need to be implemented by other APIs. Thanks.

[2016-04-18 22:46] #170 closed

[2016-04-19 06:41] apowers313 opened #172 "unsupported public key alg: ecdsa"
Related to #167, sorry for the slow reply...

I gave up on the signature verification, but now I'm trying to generate a signature and getting a similar error:

Here's the code:

[code]

[2016-04-19 10:25] kjur commented on #172
It seem that your private key is broken which can't sign properly because of having  "///////..." or "AAAAAA...". Could you try to use a private key which generated by openssl or others?

[2016-04-19 13:23] kjur commented on #35
Release 5.0.9 updates to use W3C WebCrypto window.crypto.getRandomValues;

[2016-04-19 13:23] #35 closed

[2016-04-19 13:28] apowers313 commented on #172
Here's what I get when I generate a key with openssl:

[code]

[2016-04-19 13:41] kjur commented on #172
Great! I'll check this later.

[2016-04-19 13:49] kjur commented on #172
I got it. "jsrsasign" can't accept explicit type of parameters. It accepts only named curves.
Please use a key by following:

openssl ecparam -name prime256v1 -genkey -out eckey.pem

This will works.

[2016-04-19 19:50] apowers313 commented on #172
Still having the same problem...

Key generation:
[code]

Updated code:
[code]

Error message:

[2016-04-19 21:12] kjur commented on #172
How about following to use sig.init?:

[code]

This works fine for me.

[2016-04-19 21:22] apowers313 commented on #172
That did the trick, thanks again for all the help.

It might be worth updating the [signature documentation](https://github.com/kjur/jsrsasign/wiki/Tutorial-for-Signature-class) at some point?

I'm happy to help, but I'm not sure if it's possible to submit a pull request for a Wiki...

[2016-04-19 21:24] kjur commented on #172
I'll update it. Thanks.

[2016-04-19 21:24] #172 closed

[2016-04-21 13:41] GuillaumeUnice opened #173 "verify token create by JJWT in RS256 into Jsrasign"
Hi, every

I have generate a JWT and I have is Public Key. When I verify on https://jwt.io/ it's ok.

But I don't understand what function jsrasign use to have the same result.

I write the token and the public Key for you

Token
`eyJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6InRlc3QyIiwicm9sZSI6IlJPTEVfVVNFUiIsImV4cCI6MTQ2MTI0NDg0Mjg4Nn0.TvTF49ACcE-RjgucDsGyuvR_MSwQjEjdbp7UuUrny1fgqLiUdShmghnjfZUBwlYhImlC

[2016-04-21 14:40] kjur commented on #173
Your key and JWT is successfully verified by jsrsasign.
Please see tutorial.

https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-verification

[2016-04-21 14:40] #173 closed

[2016-04-21 22:34] hlissnake opened #174 "Strict mode forbids implicit creation of global 'KJUR'"
When I run KJUR in my Karma unit testing. it told me: `Uncaught ReferenceError: KJUR is not defined`

I have check the source code. In the 234 line of jsrsasign.js file. KJUR is not defined as a variable. Your logic here will make KJUR hoisting as a Global variable in the root window scope.

It works well in normal environment. But if it come to 'strict' mode. It will be forbidden. Please add a wi

[2016-04-22 09:42] GuillaumeUnice commented on #155
+1

[2016-04-22 14:16] kjur commented on #155
I don't know how to support it. I wish I would have pull request for it :(

[2016-04-22 22:54] #174 closed

[2016-04-24 14:12] kjur commented on #170
Hi @carlskii , I've added X509.getInfo() method for your requirements above in the latest release 5.0.10 today. Please take a look. Thanks.

[2016-04-24 18:44] carlskii commented on #170
Thanks for this - superb ! I'll take a look.

[2016-04-24 18:47] carlskii commented on #170
One thing here. Any possibility of getting this as a JSON string ?

[2016-04-24 18:57] kjur commented on #170
Sorry but I don't have any plan for it.

[2016-05-07 01:03] genaromadrid opened #176 "Verify Certificate against a root Cert"
Hey,

I been looking for a way to verify that a certificate was generated with a certain root certificate and no luck so far.

In OpenSSL you can do it with `openssl verify -verbose -CAfile cacert.pem  certificate.pem`.
Any help would be very appreciated.

Great code btw.
Cheers

[2016-05-07 01:30] kjur commented on #176
I'm sorry but currently jsrsasign don't have any certificate validation methods. Thanks.

[2016-05-07 01:30] #176 closed

[2016-05-08 06:37] genaromadrid commented on #176
@kjur thanks for the quick response!

[2016-05-09 08:51] ugvgylkm opened #177 "关于解密时报错"
http://kjur.github.io/jsrsasign/sample-rsasign.html 这个dome 在解密时报错，js版本jsrsasign 5.0.10

报如下错误
jsrsasign-latest-all-min.js:280 Uncaught malformed X.509 certificate PEM (code:003)

[2016-05-10 03:19] kjur commented on #177
Hello @ugvgylkm . Thank you for your report. I'll check it later.

[2016-05-10 15:40] kjur commented on #177
Hello @ugvgylkm . I've fix it in the latest release 5.0.11. This issue was raised because of lacking X509v1 certificate support in KEYUTIL.getKey. Now KEYUTIL.getKey supports X509v1 certificate.

[2016-05-10 15:40] #177 closed

[2016-05-10 20:20] genaromadrid commented on #176
Hey @kjur i'm working on this and apparently, to verify a certificate against a rootCA, you have to get the signing fingerprint first.

To get that fingerprint, you have to build the TBSCertificate. I been trying to build it like this:

[code]
The problem is that my certificate has some extensions that `jsrsasing` library does not support.
I found the function `X509.getHexTbsCertificateFromCert(he

[2016-05-12 07:39] kjur commented on #176
Hi. You can get SHA1 hash of tbsCertificate by following:

[code]

[2016-05-12 15:21] genaromadrid commented on #176
Perfect!! that help me a lot. So i learn that to verify a certificate agains a rootCA you don't actually need the fingerprint of the TBSCertificate but the TBSCertificate itself.
So, after all, It was really simple to verify a certificate:

[code]

There's something that intrigues me though, why jsrsasign does not support this? i thought that it was used for SSL in some cases. Anyways... Should i

[2016-05-14 15:50] cblair opened #178 "Generated JWT via jws.sign() are invalid via jws.verify()"
Might be missing something, but seems straight forward. Some of these return from jws.verify(), and some return false:

Generate JWT:
[code]

Validate JWT:
[code]

[2016-05-14 15:58] cblair commented on #178
I'll be updating test/qunit-do-jws-sign.html to see if I'm doing something wrong, or I can find an issue.

[2016-05-14 23:54] cblair commented on #151
Working on a similar issue, how about providing the time as a parameter to the verify function? Then you don't have to rely on system time being right, you can just tell it about the time to check validity against.

[2016-05-15 02:45] kjur commented on #178
Please take a look test/qunit-do-jws-sign-hs.html for your example. I can't identify your issue at this stage. So I'll close this ticket.

[2016-05-15 02:45] #178 closed

[2016-05-15 19:21] cblair commented on #178
Wil do, thanks.

[2016-05-15 21:09] cblair commented on #178
Hmm, by sanitized example above seems to be working just fine (made a few updates from some silly errors). So still trying to root cause why my real code is failing.

[2016-05-17 14:54] kjur commented on #151
Hello. Now jsrsasign 5.0.12 supports grace period in JWS.verifyJWT so that it can be accepted when there is time between JWT generator and verifier.

[2016-05-17 14:54] #151 closed

[2016-05-18 01:05] nchdl opened #179 "Incorrect argument in openssl example"
At the bottom of the wiki page [Tutorial for PKCS5 and PKCS8 PEM private key formats differences](https://github.com/kjur/jsrsasign/wiki/Tutorial-for-PKCS5-and-PKCS8-PEM-private-key-formats-differences) is the line:
`% openssl pkcs8 -in p5plain.pem -topk8 -v2 -des3 -out p8enc.pem -passout pass:passwd`

There should not be a dash before `des3`:
`% openssl pkcs8 -in p5plain.pem -topk8 -v2 des3 -out

[2016-05-18 17:55] cblair commented on #178
@kjur, updated comments. Confirmed failure in the file you mentioned.

[2016-05-18 19:41] cblair commented on #178
Ah crap. Never mind, I was providing the alg arg wrong. Passing now:

[code]

[2016-05-18 23:20] kjur commented on #178
It's nice the issue was solved ;)

[2016-05-18 23:22] kjur commented on #179
Thanks. Fixed

[2016-05-18 23:22] #179 closed

[2016-05-19 02:21] cblair commented on #178
Yep. Sorry for the confusion. : )

[2016-05-19 14:20] maxmantz commented on #155
+1 for this.

I would prefer a UMD release though for it to be universally usable.

Sadly the npm version is 270kb in size and you will have to load everything even if you just need a small portion of the library.

I would love to help. I've already tried modifying the parts I need by adding a `module.exports` statement at the bottom of each file, exporting the global variable created by the file.

[2016-05-28 20:03] nafiux commented on #63
Hello Team, I have the same question, I have a Private Key File in DER format, and I want to use it to sign a TEXT with jsrsasign, but, I don't know how to load this binary file with your library, could you please help me? Thanks.

[2016-05-28 23:11] kjur commented on #63
Hi @nafiux , is it on browser or node?

[2016-05-29 01:54] nafiux commented on #63
Hello Kenji,

In the browser.

Regards.

On Sat, May 28, 2016 at 4:11 PM, Kenji Urushima <notifications@github.com>
wrote:

--
Ignacio Ocampo Millán

[2016-05-29 01:58] kjur commented on #63
Can you convert from your binary private key to PEM private key?
Please see bottom of this:
https://github.com/kjur/jsrsasign/wiki/Tutorial-for-PKCS5-and-PKCS8-PEM-private-key-formats-differences
The "jsrsasign" supports a PEM private key. Thanks.

[2016-05-29 02:00] nafiux commented on #63
Hello Kenji,

Yes, I tried with the PEM version and works perfectly.

But, my end user does don't know how to convert this (using openssl) so
that I would like to know if is possible to convert the binary DER to PEM.

Thanks.

Regards.

On Sat, May 28, 2016 at 6:58 PM, Kenji Urushima <notifications@github.com>
wrote:

--
Ignacio Ocampo Millán

[2016-05-29 02:02] kjur commented on #63
Can you find your binary private key format such like PKCS#1, PKCS#8 or PKCS#12? I can tell you how to convert.

[2016-05-29 02:04] nafiux commented on #63
I have attached an example private key.

Passwd: 12345678a

On Sat, May 28, 2016 at 7:02 PM, Kenji Urushima <notifications@github.com>
wrote:

--
Ignacio Ocampo Millán

[2016-05-29 02:07] kjur commented on #63
Hi @nafiux , sorry but I can't find any attachment.

[2016-05-29 02:08] nafiux commented on #63
I think that I don't have you direct email, I'm using the distribution list
for the repo, could you please provide me an email address? Thanks!

On Sat, May 28, 2016 at 7:07 PM, Kenji Urushima <notifications@github.com>
wrote:

--
Ignacio Ocampo Millán

[2016-05-29 02:10] kjur commented on #63
I've sent to your gmail address. Thanks.

[2016-05-29 02:32] kjur commented on #63
Hi @nafiux , thank you for sending. I found your key is PKCS#8 binary encrypted key. To convert it to PEM, do following:

[code]

Thanks.

[2016-05-29 02:34] nafiux commented on #63
Hello Kenji,

Thanks, I can do that with openssl, but, I would like to know if is
possible to convert the DER to PEM, in JavaScript in the Web Browser
without openssl.

Regards.

On Sat, May 28, 2016 at 7:32 PM, Kenji Urushima <notifications@github.com>
wrote:

--
Ignacio Ocampo Millán

[2016-05-29 02:38] kjur commented on #63
How do you get DER binary on the browser such like drag drop or input form? If you get DER binary as raw string. You can convert it to hexadecimal string by 'rstrtohex' function then you can use  it with KEYUTIL.getKey() method.

[2016-05-29 03:35] nafiux commented on #63
Thanks Kenji,

Finally,  I would like to know how can I extract information from a
Certificate (PEM FILE).

var x509 = new X509(); // https://kjur.github.io/jsrsasign/api/symbols/X509.html
var pem = KJUR.asn1.ASN1Util.getPEMStringFromHex(rstrtohex(binary),
"CERTIFICATE");
x509.readCertPEM(pem);
console.log(x509);
console.log(x509.getIssuerString());
console.log(x509.getNotAfter());
console.log(x50

[2016-05-29 04:41] kjur commented on #63
I hope X509.getInfo() method implementation will be helpful for you.

https://kjur.github.io/jsrsasign/api/symbols/X509.html#getInfo
https://kjur.github.io/jsrsasign/api/symbols/src/x509-1.1.js.html

[2016-05-30 20:10] froatsnook opened #182 "webpack build broken (Cannot resolve module 'fs')"
From my early tests, jsrsasign is *almost* working with webpack.  The issue I found is that the functions in `nodeutil-1.0.js` call `require("fs")` which results in the error `Module not found: Error: Cannot resolve module 'fs' in ./node_modules/jsrsasign/lib`.

The workaround is to put the following in `webpack.config.js`:

[code]

In my opinion, these util functions don't really belong in this l

[2016-06-06 13:32] jmarceli commented on #182
I've got similar issue. It seems that this is recent versions bug, see: https://github.com/kjur/jsrsasign/issues/143.

The workaround is to downgrade package to 5.0.1 version.

[2016-06-10 15:28] froatsnook commented on #182
Yes, this is definitely a duplicate of #143.  Thanks for the suggestion :).

[2016-06-13 00:23] sebadoom commented on #159
@kjur That won't work, there is a certain order to the libraries. I just tried doing what you said and I get undefined symbols (which are defined later on). I wonder how the Makefile actually works.

[2016-07-08 10:16] gingters opened #184 "jsrsasign.js:295 Uncaught ReferenceError: exports is not defined"
Hello,

we use jsrsasign.js in the browser, and for that we load the `jsrsasign.js` file from the lib folder of the npm package. However, it expects an `exports` object which isn't available in browsers.

So when using the library, you get this error message in the browsers console:
`jsrsasign.js:295 Uncaught ReferenceError: exports is not defined`

We can't even work around this by creating a glo

[2016-07-09 08:43] mprihoda commented on #143
You can [configure webpack to provide empty node modules](http://webpack.github.io/docs/configuration.html#node). The methods will not work, of course, but that's not something you want to use in the browser anyway.

[code]

[2016-07-20 09:53] frikeldon opened #185 "Problem with Encrypted PKCS#5"
Hello

i'm trying to implement JSON Web Signature with your library, and I have problems encrypting and decrypting RSA keys.

When I decrypt the key, only de exponent is equal in the original and the decrypted key.

Here is my code:
[code]

What's i'm doing wrong?

Thanks

[2016-07-20 09:58] frikeldon commented on #80
Hi

You can encapsulate your key generation in a [web worker](http://www.html5rocks.com/es/tutorials/workers/basics/), and then you can execute it in background with a non blocking way.

[2016-07-20 10:30] kjur commented on #185
PKCS5PKEY is deprecated. Please use KEYUTIL.getKey().
https://kjur.github.io/jsrsasign/api/symbols/KEYUTIL.html#.getKey

[2016-07-20 10:34] kjur commented on #80
Otherwise, you can use W3C Web Crypto. It provides non blocking key generation.
https://www.w3.org/TR/WebCryptoAPI/
Most of modern browsers support it.

[2016-07-21 07:52] frikeldon commented on #185
i tried it with KEYUTIL methods with the same result, only de exponent is equal in the original and the decrypted key.

[code]

[2016-07-25 20:10] gordilloedwin opened #186 "Transform PKCS#5 in DER to RSA object"
Hello KJUR

It's me again, I have another question for you, one I haven't been able to solve, I have DER encoded PKCS#5 private key file which is encrypted but I haven't been able to translate that into a RSA object which I need to sign a string.

I have tried many different approaches but none seem to work.

I already have the HEX code of the encrypted private key, is there a function that can do

[2016-07-26 07:26] gordilloedwin commented on #186
oh I already figure it out!! awesome library !!

[2016-07-26 13:23] kjur commented on #186
@gordilloedwin , It seems already solved. :)

[2016-07-26 13:23] #186 closed

[2016-07-27 09:02] jmdesprez opened #187 "Unable to validate a token generated with JJWT"
Hello,
I've a strange behaviour with jsrasign 5.0.6.

Given public key and curve defined like this:
[code]
And given a valid token like this one: `eyJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJUZXN0Iiwic3ViIjoiQWxpY2UiLCJpc0FkbWluIjp0cnVlLCJpYXQiOjE0Njk2MDkxMDksImV4cCI6MTUwMTE0NTEwOSwiYXVkIjoiVGVzdCBhdWRpZW5jZSJ9.MEUCIQD4rwV75OAQfwqRlpBIlTblPdG3XFrxcTRsYHJkzDmemQIgQyV-3QfkSmM1rQf4lFUC3DKIDfTJKjJCR8e4zvIUYf0`

T

[2016-08-01 14:57] kjur commented on #187
Is the token "eyJhbGciOiJFUzI1NiJ9..." is generated by JJWT, right? This has wrong signature value in ASN.1 R and S format for ECDSA JWS signature. ECDSA JWS signature value shall have concatination of R||S, not ASN.1 R, S signature as defined in A.3.1.
https://tools.ietf.org/html/rfc7515#appendix-A.3.1

KJUR.crypto.Signature.sign() and verify() will handle ASN.1 R, S signature and they can't be u

[2016-08-01 14:57] #187 closed

[2016-08-01 17:32] kjur commented on #185
Parameter values like 'p' or 'q' are independent objects so that they can't be compared by "===" operator. They shall be compared by "A.compareTo(B)" method.

[2016-08-02 09:40] jmdesprez commented on #187
Hello,

Yes, the token is generated by JJWT :)

Thank you for the explanation, it's very clear.

[2016-08-04 00:41] imolfar commented on #10
It's actually in KJUR.asn1.x509.X509Util.getPKCS8PubKeyPEMfromRSAKey

[2016-08-18 16:25] GregTurner commented on #43
I second request for another reason.

On heavily data loaded angularjs/rx.js apps, the yahoo-min.js was eating 2.7secs of time.  It seems to consume cycles for functions it shouldn't be involved in.  After removing the dependency on jsrasign by removing it from an upstream lib we saw significant performance improvement (25%).

[2016-08-24 13:30] sportnet2016 opened #188 "How do I get public key info?"
I'd like to know how do I get this info (public key bit):

Subject Public Key Info:
            Public Key Algorithm: **rsa**Encryption
                **Public-Key: (2048 bit)**

[2016-08-24 20:20] kjur commented on #188
Do you mean getting public key info from a certificate?

1) to get algorithm

There are two way to find algorithm.

[X509.getPublicKeyFromCertPEM](https://kjur.github.io/jsrsasign/api/symbols/X509.html#.getPublicKeyFromCertPEM) will return a key object such as RSAKey, KJUR.crypto.{DSA/ECDSA}. Then you can check it by instanceof operator.

[code]

[X509.getPublicKeyInfoPropOfCertPEM](https://kjur.g

[2016-08-24 20:20] #188 closed

[2016-08-24 20:23] kjur commented on #185
It seems that there is no further question. I'll close this ticket. Thanks.

[2016-08-24 20:23] #185 closed

[2016-08-26 07:20] lgh06 commented on #184
Maybe you should use Webpack or Browserify

[2016-08-29 21:14] allansli commented on #184
+1

exports.SecureRandom = SecureRandom;

[2016-08-31 07:01] ztlyde opened #189 "key is too short for SigAlg: keylen=99,sha1"
My private key generated by the JDK tools keytool, when using this jsrsasign.js signature appear this error 'Uncaught key is too short for SigAlg: keylen=99,sha1'

But I don't have any problems in Java.

Below is my code:
var rsa = new RSAKey();
rsa.readPrivateKeyFromPEMString( rsaPrivateKey );
document.getElementById ('code2').innerHTML = rsa.signString( preSignContent, "sha1" );

[2016-08-31 08:07] kjur commented on #189
Please try following:
[code]
Please see wiki:
https://github.com/kjur/jsrsasign/wiki/Tutorial-for-Signature-class

[2016-08-31 17:15] #189 closed

[2016-09-02 09:21] fberlin commented on #184
+1

[2016-09-02 09:24] satlom commented on #184
+1
Please FIX!!!!
Very annoying!

[2016-09-11 04:57] kjur commented on #184
I've released 6.0.0 today which is now Node.js and "fs" safe. Please check it.

[2016-09-11 04:57] #184 closed

[2016-09-11 04:57] kjur commented on #182
I've released 6.0.0 today which is now Node.js and "fs" safe. Please check it.

[2016-09-11 04:57] #182 closed

[2016-09-11 04:58] kjur commented on #155
I've released 6.0.0 today which is now Node.js and "fs" safe. Please check it.

[2016-09-11 04:58] #155 closed

[2016-09-11 04:58] kjur commented on #147
I've released 6.0.0 today which is now Node.js and "fs" safe. Please check it.

[2016-09-11 04:58] kjur commented on #147
I've released 6.0.0 today which is now Node.js and "fs" safe. Please check it.

[2016-09-11 04:58] #147 closed

[2016-09-11 10:27] kjur commented on #148
Currently I've done as your request:
- keep the latest version of jsrsasign-latest-all-min.js
- store all minified version into "min" folder.

[2016-09-11 10:27] #148 closed

[2016-09-13 09:00] fberlin opened #190 "Still wrong jsrsasign.js in npm-package 6.0.1"
The file jsrsasign.js in npm-package 6.0.1 differs from jsrsasign-latest-all-min.js.

I still get the "exports is not defined" error using the npm-package. (#184)

When i use  jsrsasign-latest-all-min.js. the error is gone.

[2016-09-13 13:07] kjur commented on #190
I think you use jsrsasign.js in npm package on the environment which is not Node.js. It is intended that jsrsasign.js of npm is only for use on Node.js.

[2016-09-13 14:09] fberlin commented on #190
Yes I'm using jsrsasign in a client javascript application. I was not aware that the npm-package was for Node.js only. I will stick to  jsrsasign-latest-all-min.js.

[2016-09-13 14:58] #190 closed

[2016-09-15 08:38] carlskii opened #191 "X.509 public key size"
Hi,

I'm using this to parse my X.509 certificates.

[code]

However, I can't seem to see the Public Key Size. I can see this:

[code]

So I assume I need to do something here to get the size ?

[2016-09-15 08:45] carlskii commented on #191
OK I worked it out.

[code]

[2016-09-15 08:45] #191 closed

[2016-09-16 07:25] kjur commented on #191
I'm happy to hear that. Thanks.

[2016-09-21 18:28] ccarterc opened #192 "No Documentation on Implementation"
I have been unable to locate documentation that describes which file is needed in order to use the library.  e.g.  I want to use the library on a website (actually in the browser, no server implementation) to parse and validate JWT.

I download the latest release which contains a lot of files and folders.  Which files are needed?

[2016-09-22 21:21] kjur commented on #192
Did you see tutorials?
https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-verification

[2016-09-22 21:21] #192 closed

[2016-09-26 21:07] dsgill opened #193 "Need to encrypt ECC private key generated with KEYUTIL.generateKeyPair"
Hi,

I have created keys using generateKeyPair. Some of these keys are RSA, some are ECC. Now I need to encrypt those keys. I have found an API to encrypt plain RSA keys, but I am having trouble locating an API to encrypt plain ECC keys. Would you please point me in the right direction?

Thank you.

Don

[2016-09-26 21:16] kjur commented on #193
Hi. To get PKCS#8 encrypted ECC private key, you can do as following:

[code]

[2016-09-26 21:16] #193 closed

[2016-09-26 23:25] dsgill commented on #193
Thank you kjur!

[2016-09-26 23:44] dsgill opened #194 "camelia/idea key encryption support"
Hi kjur,

Any chance you will support camelia128, 192, 256, or idea in the near future? Openssl supports those in addition to aes, des, and des3. Thank you.

Don

[2016-09-26 23:45] kjur commented on #194
Hi. I'm sorry but I have no plan to support camelia and idea.

[2016-09-26 23:45] #194 closed

[2016-09-28 23:54] dsgill opened #196 "How to tell if private key is encrypted"
Hi kjur,

Which API in jsrsasign should I use to determine if a private key is encrypted or not? If encrypted I also need to extract the encryption algorithm used. Maybe a parse routine, but I don't know which one?

Thank you.

Don

[2016-09-29 00:55] kjur commented on #196
Generally, [KEYUTIL.getKey](https://kjur.github.io/jsrsasign/api/symbols/KEYUTIL.html#.getKey) can be used to load any format of keys such as PKCS#1, PKCS#8, encrypted, plain, JWK, hexadecimal or others. Format detection is done by automatically. As for encrypted or plain, the difference is just only providing password in a argument or not.

[code]

As for finding private key encryption algorithm,

[2016-09-29 00:55] #196 closed

[2016-09-29 01:47] dsgill commented on #196
But I have the situation that I don't know if the private key is encrypted or not. When I look at the private key string (which is in PEM format) it states it is encrypted and the algorithm used to encrypt it. If I can see that by examining the key visually without the use of the password, I would like to determine that programmatically without the password. When I try to use getKey on an encrypte

[2016-09-29 01:49] kjur commented on #196
Sorry but there is no such API.

[2016-09-29 20:08] nathalials commented on #68
How can I parse CSR info from CSR PEM

[2016-09-29 20:59] kjur commented on #68
Hi @nathalials . I'm sorry but there is no API for CSR parsing. So you need to convert it from PEM to hexadecimal string, then parse it by ASN1HEX class methods. The source code of x509-1.0.js may helps you.

[2016-09-29 22:52] nathalials opened #197 "Parse CSR string"
I'd like to know how to parse CSR information from a CSR string
Information like subject (common name), Organization, Organization Unit, Locality, State, Country

[2016-09-29 22:55] nathalials commented on #197
For example, this pem string:

-----BEGIN CERTIFICATE REQUEST-----
MIICljCCAX4CAQAwUTELMAkGA1UEBhMCQlIxCzAJBgNVBAgMAjI3MQswCQYDVQQH
DAJzcDENMAsGA1UECgwEdGVzdDELMAkGA1UECwwCc3AxDDAKBgNVBAMMA29yZzCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMChYaRSN83Pv5EElAtWIyVn
Cp/KgPcjES1vOtAhjDs7jec8uH95PhEauO7IqxrwZmNxw9hRThx4URiJHUci4fkV
+kkfoDmxMRMMG9PtA5eM5ij5EHF/3gxjdpF0Q1LHJ45POMPKoKhg9NMeTvak9EL2
EFIr4dfU

[2016-09-29 22:58] kjur commented on #197
As I wrote before, CSR and certificate is very similar strucutre. Please refer x509-1.0.js source code.

[2016-09-29 22:58] #197 closed

[2016-09-29 23:08] nathalials commented on #197
But I tried to use x509 methods to get the CSR information and it's not working.

For exemple, I did this:

`const x509 = new X509()
const raw = '-----BEGIN CERTIFICATE REQUEST-----
MIICljCCAX4CAQAwUTELMAkGA1UEBhMCQlIxCzAJBgNVBAgMAjI3MQswCQYDVQQH
DAJzcDENMAsGA1UECgwEdGVzdDELMAkGA1UECwwCc3AxDDAKBgNVBAMMA29yZzCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMChYaRSN83Pv5EElAtWIyVn
Cp/KgPcjES1vOtAhjDs7jec

[2016-09-29 23:10] kjur commented on #197
Off course, they have some small differences. The same code can't be used.

[2016-09-29 23:12] nathalials commented on #197
Would you mind telling me some tips to parse the CSR, please

[2016-09-29 23:38] kjur commented on #197
Sorry but just read and understand x509-1.0.js source code will helps you.

[2016-09-30 15:08] dsgill opened #198 "Failing to parse known good cert"
Hi kjur,

I am trying to use your API to parse a cert that I know is good. I have pasted the cert into the parser at https://certlogik.com/decoder/ and it is parsed perfectly. Yet when I use readCertPEM followed by any of the get methods, the information is all wrong. Even more strange, when I use getInfo(), I get an error saying the cert is malformed. I have the cert declared in a javascript file

[2016-09-30 17:48] kjur commented on #198
It seem that new lines are incorrect. Please see sources of test codes. Then I've fixed the new lines, read it and I got error. It seems the certificate is X.509v1 certificate without X.509v3 extensions. "v1" certificate is not supported in the most of APIs.

[2016-09-30 17:48] #198 closed

[2016-10-03 17:08] sportnet2016 commented on #197
First, I converted from PEM string to hexadecimal.
Then I took a look at some x509-1.0.js class and found some ASN1HEX methods, but still I couldn't parse CSR too.
kjur, could you show an example of one info

[2016-10-04 13:45] sportnet2016 commented on #30
@kurtsson were you able to parse the CSR info?

[2016-10-05 19:57] nathalials commented on #197
@kjur  @sportnet2016  I tried this too. But I was not able to parse csr info yet. Any tips? Pls.

[2016-10-06 00:26] deinspanjer commented on #140
I had to replace the YUI code for a different reason, and I used the following method:

[code]

[2016-10-06 00:36] deinspanjer opened #199 "Consider a verify JS file that can run headless"
I needed to verify a JWT token from Google inside PostgreSQL.  After some research, I determined that the quickest way I might be able to do it was using the plv8 language and running a standalone JS verifier.

I used your jsrsassign and managed to get it running although I had to hack out the YUI and other parts that were doing window.crypto related calls.

I don't expect this to be easily reusab

[2016-10-06 15:35] leandrodvd opened #200 "Can I use this lib to read a CSR PEM and "extract"the info from it ?"
I have a string containing a CSR in PEM format that I receive from an external service and I need to "read" this CSR PEM and present it's content to the user.

I found some methods to generate the CSR PEM from the  CSR data, but I couldn't find a method to the opposite, get the CSR info from an existing CSR PEM.

Is there anything ready in this lib that I can use for that ?

[2016-10-06 16:43] leandrodvd commented on #200
Same questions was already asked here in Issue #197. Closing this one.

[2016-10-06 16:43] #200 closed

[2016-10-11 15:17] dsgill opened #201 "jsrsasign inserting \r\n in PEM files"
Hi Kjur,

I use jsrsasign to produce CRSs and private keys, both in PEM file format. I've noticed that in both cases, the pem files produced contain \r\n characters embedded in them as line separators. Private kets, CSRs, and certs from other sources do not contain these characters. Doesn't the presence of these characters in the file cause a problem for consumers of the file? Is there a way in th

[2016-10-11 15:30] kjur commented on #201
As stated in the RFC 7468 Textual Encodings of PKIX, PKCS, and CMS Structures, PEM usually concludes newlines.
https://tools.ietf.org/html/rfc7468

[2016-10-11 15:30] #201 closed

[2016-10-11 23:22] kjur commented on #201
I think just string replacing for \r\n will meet your requirement.

[2016-10-15 14:03] kjur commented on #200
Hi @leandrodvd , I've added [KJUR.asn1.csr.CSRUtil.getInfo](https://kjur.github.io/jsrsasign/api/symbols/KJUR.asn1.csr.CSRUtil.html#.getInfo) method to get some field values such as a subject name or public key in the latest 6.1.3 release. Please try it.

[2016-10-15 14:04] kjur commented on #197
Hi @nathalials and @sportnet2016 , I've added [KJUR.asn1.csr.CSRUtil.getInfo](https://kjur.github.io/jsrsasign/api/symbols/KJUR.asn1.csr.CSRUtil.html#.getInfo) method to get some field values such as a subject name or public key in the latest 6.1.3 release. Please try it.

[2016-10-17 12:57] rdesgrange-lf opened #203 "What is the date type of X509 certificate"
Hi.

I tried to validate certificate with jsrsasign. Here is the code :
[code]
It display me something like that : 171014121549Z

What is this date type ? Moment.js doesn't know about it, neither epoch converter or other tool I found on the web, and the doc says nothing about it (http://kjur.github.io/jsrsasign/api/symbols/X509.html#getNotAfter). Maybe I didn't look in the right place ?

In advanc

[2016-10-17 13:34] kjur commented on #203
171014121549Z is UTCTime notation. Please see https://tools.ietf.org/html/rfc5280#section-4.1.2.5.1

[2016-10-17 13:34] #203 closed

[2016-10-17 23:36] kjur commented on #203
You can convert from UTCTime string to UNIX origin time by forrowing method:
https://kjur.github.io/jsrsasign/api/symbols/KJUR.jws.IntDate.html#.getZulu

[2016-10-19 14:34] reedjeffry opened #205 "V8 JavaScript Engine Compatibility"
Hello,
I am trying to use jsrsasign within the appery.io platform. The platform supports adding 3rd party JavaScript libraries. However, the platform reports many errors with http://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js. Can someone confirm if jsrsasign and dependencies supports the V8 JavaScript Engine?

regards

[2016-10-21 15:19] mookman288 opened #206 "String length limitation using JWT and secret key using HMAC-SHA*."
Hi,

I originally posted this with an author of a different JWT library, but his work shows that it may not be an issue with his library, but with kjur/jsrsasign. I've included the pertinent information below, but if you'd like, you can view the entire thread, and @lcobucci's response, here:

https://github.com/lcobucci/jwt/issues/127

eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ0ZXN0IjoidGVzdCJ9.UOir

[2016-10-22 02:16] kjur commented on #206
I don't think it is HMAC key length issue. "jsrsasign" has no HMAC key length limitation and
has automatic HMAC key type detection.

In the "tool_jwt.html" page, HMAC password type will be detected automatically.

Please take a look following API references:

https://kjur.github.io/jsrsasign/api/symbols/KJUR.jws.JWS.html#.sign
https://kjur.github.io/jsrsasign/api/symbols/KJUR.crypto.Mac.html#.setP

[2016-10-22 02:16] #206 closed

[2016-10-25 15:31] dsgill opened #207 "Hi kjur,"

[2016-10-25 15:34] dsgill opened #208 "Time format"
Hi Kjur,

What is the format of the time value returned by the getNotBefore and getNotAfter calls? I need to convert it to a more readable format. Thank you.

Don

[2016-10-26 11:31] kjur commented on #207
There's no description. So I'll close this ticket.

[2016-10-26 11:31] #207 closed

[2016-10-26 11:32] kjur commented on #208
Please see #203 .

[2016-10-26 11:32] #208 closed

[2016-10-30 23:27] kjur opened #213 "RSA OAEP and PSS unavailable from 5.0.0 to 6.1.14"
I noticed yesterday that Dave's contribution of RSA OAEP and PSS not working due to removal of another SHA1 implementation and rstr_sha1 function. I'm urge to fix this issue. Please wait for 6.2.0 this week.

Workaround for it is to conclude this old SHA1 code:
https://github.com/kjur/jsrsasign/blob/f292d14b9bf55a959025e274bb52097b1588f3cc/ext/sha1.js

Thanks.

[2016-10-31 07:30] SorianoMarmol opened #214 "Invalid CADES signature"
Hi all

I've problems to get a valid CADES BES signature

I'm trying to validate the signature using http://signatures-conformance-checker.etsi.org/ and it's said that the signature is Invalid

With this:

`
    **sd = KJUR.asn1.cms.CMSUtil.newSignedData({**

          content: {
              type: '1.2.840.113549.1.7.1',
              hex: stringbuf
          },

          certs: [cert_pem],

[2016-10-31 14:24] cifarelli opened #217 "OpenSSL "Verification Failure" with jsrsasign Signature"
Hello.

I cannot get a positive OpenSSL signature verification with a jsrsasign created signature (jsrsasign version 6.1.4).

Keys made with OpenSSL:

[code]

[Javascript use of jsrsasign (Gist here):](https://gist.github.com/cifarelli/3f5b285187bc82b706317da22ccbb09c)

[code]

Create hello_world_signature.txt from sigBase64 above and then decode it to binary:

[code]

OpenSSL Signature Verificati

[2016-11-02 09:27] kjur commented on #217
Sorry but works fine for me:

[code]

openssl dgst -sha256 -verify z3.pub.p8.pem -signature zzz6 hello_world.txt

[2016-11-02 09:27] #217 closed

[2016-11-02 17:04] cifarelli commented on #217
Ghost in the machine.  I ran my code again and now, after multiple runs of failure, it works.  Thank you very much for taking the time to reassure me.

If I may ask a question as to your code, is there a significant difference between my use of sig.init with the private key string value verses your use of the KEYUTIL.getKey ?

Thank you.

-Jim

[2016-11-03 02:39] kjur commented on #213
I've released 6.2.0 today and now it's fixed.

[2016-11-03 02:39] #213 closed

[2016-11-03 02:41] kjur commented on #217
I think following codes both work.

[code]

[code]

[2016-11-07 16:16] MaikStohn commented on #199
Hi,

i used it "headless" in postman with a simple trick to just provide the window and navigator object:

[code]

My "postman" way:

---
1) create a GET to
[code]
  and in Tests put this line:
[code]
---
2) in your script where you need jsrsasign:

[code]
---

Hope it's useful.

[2016-11-18 21:01] D-Nice opened #219 "Valid signature fails to verify using jsrsasign, but verifies with nodeJS crypto module"
Using node.JS' crypto module, the following signature is verified successfully:

[code]

Re-using the above code into what I believe is a jsrsasign equivalent for the browser, fails:
[code]
returns 0 for awsSignatureValid

The variables across the two are the exact same
Also tried variations such as:
[code]
still returns 0

Is there a compatibility issue with jsrassign, or is something on my end b

[2016-11-19 00:37] kjur commented on #219
[code]
Type of updateString argument seems wrong.

[2016-11-19 00:37] #219 closed

[2016-11-19 00:44] D-Nice commented on #219
It takes a string, and oraclize_doc is a base64 encoded string, and atob decodes it into:
[code]

[2016-11-19 01:27] kjur commented on #219
I've just added "datasign" and "dataverify" sample node script to repository.

https://github.com/kjur/jsrsasign/blob/master/sample_node/datasign
https://github.com/kjur/jsrsasign/blob/master/sample_node/dataverify

Any generated signature can also be verified by OpenSSL dgst command.
I hope those scripts help your investigation.

[2016-11-19 04:57] kjur commented on #219
My Node.js crypto verified properly:

[code]

How about to modify as following:

[code]

[2016-11-19 16:05] D-Nice commented on #219
Thanks for the replies, I'll play around with the scripts some more to see if I can find the culprit.

[2016-11-19 17:03] D-Nice commented on #219
Thank you for the help Kenji, it was in fact an issue with the signature's hex conversion from base64. Your scripts helped me in finding and confirming it!

[2016-11-23 13:08] nathalials commented on #33
I'm using this code you suggested:

[code]

But it's returning a PEM string that is not able to be parsed.
I tried to parse the returned pem string in many different websites and it's getting an error to parse.

[2016-11-23 14:17] kjur commented on #33
I've investigated rawDerFileContents value and it seems not DER encoded data string. That's why the script was failed. Save rawDerFileContents as a file then try to open openssl x509 command as following:

    % openssl x509 -in rawDerFileContents.bin -inform DER -noout -text

[2016-11-23 16:07] nathalials commented on #33
I've got this DER:
[code]

If I save this content into a file and open using this openssl command:
```openssl x509 -noout -text -inform der  -in testingUI.der```
It shows all certificate information.

If I try to convert this DER to PEM using this code:
[code]

It returns an invalid PEM.

[2016-11-23 17:39] kjur commented on #33
It seems
    var rawDerFileContents =
"0���0...
is not proper ASN.1 DER data.
That's why it raise error. You need to find a way to set proper ASN.1 DER data to rawDerFileContents. Generally raw data can't be set by raw string. How about to convert testingUI.der to another string format such as Base64 or hexadecimal string?

[2016-11-23 17:53] nathalials commented on #33
Yes, you're right. The data was not set proper. I had to pass it as binary instead of string.
Thank you.

[2016-11-26 11:37] GINCHER opened #220 "How can I generate a CSR with alternative names?"
Hey.
Is there a way to generate a CSR with alternative names?

[2016-11-26 15:22] kjur commented on #220
In current version, CSR extension such as subjectAltName is not supported in [CSRUtil.newCSRPEM](https://kjur.github.io/jsrsasign/api/symbols/KJUR.asn1.csr.CSRUtil.html#.newCSRPEM). You may add extension support to it. I'll add its support near in future.

[2016-11-26 15:22] #220 closed

[2016-11-27 00:18] kjur commented on #220
Otherwise you can make it by CertificationRequestInfo class as following. I found that SubjectAltName extension is needed to be implement:

[code]

[2016-11-27 14:15] GINCHER commented on #220
OK. Done, kinda.
Here is the `extSeq` in `CertificationRequestInfo` that will add alternative names:
[code]
Tought I couldn't find a way to add it to CertificationRequestInfo without editing the whole function.

And I have another question. For some reason I'm getting sometimes a 2047 bit key while using `KEYUTIL.generateKeypair("RSA", 2048)`, is there a fix?

[2016-11-29 14:27] kjur commented on #220
I've just released 6.2.3 today. It supports CSR extensionRequest. Please take a look:
https://kjur.github.io/jsrsasign/api/symbols/KJUR.asn1.csr.CSRUtil.html#.newCSRPEM

[code]

[2016-12-06 02:34] ztlyde commented on #189
Thank you!

[2016-12-10 15:58] FGasper opened #221 "getBigRandom() is incorrect"
[code]
The above will unfairly privilege low numbers at the expense of high numbers. The initial BigInteger object is equally likely to be any number with the same bit length as “limit”. The modulo operation, then, makes for at least two separate ways by which the result of the operation can be a low number, while leaving only one path for the highest.

Example:
[code]
The likelihood now of “r_int

[2016-12-20 19:59] adonoho opened #223 "Testing jsrsasign with Google Wycheproof?"
Urushima-san,

Google recently released [Project Wycheproof](https://security.googleblog.com/2016/12/project-wycheproof.html). As a crypto testing framework, it might provide some value in confirming that jsrsasign.js is as solid as well all think it is. Any thoughts on whether you might test jsrsasign against these tests?

Anon,
Andrew

[2016-12-21 22:18] mrichards-mdsol opened #224 "Is your openpgpjs usage lgpl okay?"
I started the discussion here
https://github.com/openpgpjs/openpgpjs/issues/506

I'm not a lawyer, but my interpretation of LGPL would mean a different way to import it into jsrsasign. What do you think here?

If you do need legal expertise maybe one of the non-profits like http://www.fsf.org/ might have someone who can advise.

[2016-12-21 22:59] kjur commented on #224
Thank you for your reminder. I think I will remove DSA support until I find another suitable DSA library.

[2016-12-25 14:28] kjur commented on #224
I've removed openpgpjs derived codes in jsrsasign 7.0.0 released today. Most of DSA class was re-written. So all of LGPL codes and its license are removed. Thanks.

[2016-12-25 14:28] #224 closed

[2017-01-05 20:16] gabmontes opened #225 "Hex-encoded DER private to public key"
Hi @kjur! The lib is impressive, still I'm having some trouble to find out the way to do a specific task.

I have an hex-encoded DER private key string like '3074020101...' and need to obtain the associated public key, also in hex-endoded DER string format. How can I do that?

Thanks!!!

[2017-01-05 22:54] kjur commented on #225
Can you show me your public key? I'll check it and provide a solution :)

[2017-01-06 02:40] gabmontes commented on #225
Sure. From my private key in the same format, I need to obtain this public key (EC secp256k1):

'3056301006072a8648ce3d020106052b8104000a0342000426f5292eabca0365e1a26d318377f25b920a1d426d2fde130fbca618395537a6bb421645f6d26fa8bf4f23866d26cfc2bc81c4527066c08506c4b75466db6407'

[2017-01-06 05:03] kjur commented on #225
Hi @gabmontes , you can load your public key as following:

[code]

pubKey will be a KJUR.crypto.ECDSA key object for your public key. Thanks.

[2017-01-06 05:03] #225 closed

[2017-01-06 12:45] gabmontes commented on #225
Thanks @kjur!

My initial question was how to load the private key and from that key, obtain the public key. But with the help of your answer on how to load the public key and taking a deeper look at the code, I found that I can load my private key using a code similar to this:

[code]

That code is what `getKey()` does on case 10.2 at https://github.com/kjur/jsrsasign/blob/cf31c931bd67d68278c45db

[2017-01-08 02:55] gabmontes opened #226 "TLS Web Client Authentication extension"
When creating a CSR PEM using `newCSRPEM()`, what is the right way to enable the "TLS Web Client Authentication" extension?

[code]

Thanks in advance!!

[2017-01-08 07:23] kjur commented on #226
You can specify as following:

[code]

Any parameter for ExtKeyUsage class constructor can be applied to newCSRPEM ExtKeyUsage parameter.
https://kjur.github.io/jsrsasign/api/symbols/KJUR.asn1.x509.ExtKeyUsage.html

[2017-01-08 07:23] #226 closed

[2017-01-08 07:28] kjur commented on #225
I can help you if you send me your code and a key which the error raised with. Thanks.

[2017-01-08 17:21] gabmontes commented on #226
Thanks!!!

[2017-01-10 19:56] gabmontes commented on #225
@kjur I created the private key using a simple Python code:

[code]

The private key just created is, lets say:

`30740201010420026d5595f47e203d3c73c06977cd5a962dcfac688677ba4f1dd6f25018fd226ea00706052b8104000aa14403420004c3e9f0932bed4af185d614d01bda0fcbf9948cbe7c0d47f7c25f7818d576a6834b59a22f1e9fe626ea0dc0699893aa1a96762772e4199cb9de45e429ca402092`

I'm unable to load that key using `KEYUTIL.getK

[2017-01-10 20:04] gabmontes opened #227 "Incorrect parameter in `getKey()`"
When `getKey()` parses case 10.2, private key by encrypted PKCS#5 PEM ECDSA string, it creates a new ECDSA passing the curve name to the constructor in the `name` property:

https://github.com/kjur/jsrsasign/blob/cf31c931bd67d68278c45dba885f057e13bba507/keyutil-1.0.js#L1521

The issue is the constructor requires the `curve` property instead:

https://github.com/kjur/jsrsasign/blob/master/ecdsa-mod

[2017-01-10 21:03] kjur commented on #225
Thank you. I'll investigate it later.

[2017-01-10 21:03] kjur commented on #227
Thank you. I'll investigate it later.

[2017-01-10 23:37] gabmontes opened #229 "Proper way to create a OpenSSL oneline format string from object"
Given a set of attributes, i.e in an object as follows:

[code]

What is the proper way of creating the `subject` property needed to call `newCSRPEM()`?

[code]

Passing the object as shown, throws the error `AttributeType name undefined: localityName` even when the attribute is defined in `KJUR.asn1.x509.OID`.

Please advise. Thanks!!

[2017-01-11 03:15] kjur commented on #229
AttributeType name shall be defined in KJUR.asn1.x509.OID.atype2oidList.
Then you can use newCSRPEM as following:

[code]

[2017-01-11 03:15] #229 closed

[2017-01-11 06:53] kjur commented on #225
Hi @gabmontes . There was a pull request to resolve this which adds support for hex pkcs8 private key.
https://github.com/kjur/jsrsasign/pull/163
I'll merge it later. Thanks.

[2017-01-11 07:06] kjur commented on #227
Hi @gabmontes , thank you. You are right. I'll fix it soon.

[2017-01-11 12:03] gabmontes commented on #225
Thanks @kjur ! That would be a great addition! Looking forward to updating my package with the merged functionality as soon as you are done with it.

[2017-01-11 12:18] gabmontes commented on #229
Thanks @kjur !

Passing the object, as long as the keys match the defined ones in `KJUR.asn1.x509.OID.atype2oidList` as you said, works awesome.

[2017-01-14 18:22] markalanrichards opened #230 "package.json license"
Would it be okay to replace the package.json license field that currently states MIT with something that shows off the mixed licence manner of this project.

Perhaps to point at a LICENSE file that cites the licence for the majority of code, which you have chosen MIT for and that also cites how to find the ext folder licences too.

If you try to put together a licences statement in a dependent pro

[2017-01-15 07:23] akselnordal opened #231 "Consider code splitting to avoid bloat on client"
Hi,

first of all - thanks for a great library! It would be great if the build/consumption process was a bit more transparent and in style with current popular library implementations; ie.
- code splitting, so that a client that only needs a the jwt-verification methods using a specific algorithm such as RS256 (assymetric encryption/verification) does not need to download and parse the entire libr

[2017-01-15 21:47] kjur commented on #231
There are part of JS files following URLs:

http://kjur.github.io/jsrsasign/ext/
https://github.com/kjur/jsrsasign/tree/gh-pages/ext
http://kjur.github.io/jsrsasign/min/
https://github.com/kjur/jsrsasign/tree/gh-pages/min

such as

http://kjur.github.io/jsrsasign/ext/base64-min.js

You can choose part of JS files for your minimum requirement such as HS* JWS verification.

I'm planning to provide s

[2017-01-15 21:47] #231 closed

[2017-01-16 04:00] kjur commented on #230
I couldn't understand npm-licence usage at a glance. If you can provide package.json pull request, I can merge it. Thanks.

[2017-01-16 04:00] #230 closed

[2017-01-16 13:12] ppbntl19 opened #232 "Crypto js AES support"
How can we use crypto AES without including any cryptoJS files.

` CryptoJS.AES.decrypt/encrypt` function  available  globally  but throwing error when try to use encrypt and decrypt.

![image](https://cloud.githubusercontent.com/assets/11989749/21984281/3e6ca796-dc1b-11e6-978f-a23cce100b0c.png)
![image](https://cloud.githubusercontent.com/assets/11989749/21984338/78de5b90-dc1b-11e6-8c60-dbd4409f0

[2017-01-16 21:10] kjur commented on #232
Thank you for your report. I'll check it later. Did you do it on your web browser?

[2017-01-17 01:43] zliuInspire opened #233 "Is it possible to support RSA blinding and unblinding using jsrsasign?"
Thank you for contributing this great library.

Currently jsrsasign supports RSA signature. Is it possible that jsrsasign could add support for RSA blinding and unblinding so as to produce blind signature?

Thanks.

[2017-01-17 07:59] ppbntl19 commented on #232
Thanks
Yes, I tried it on browser console and  in JS code. But getting same exception.

[2017-01-17 22:56] kjur commented on #233
Sorry but I don't know about it and there is no plan to support it.

[2017-01-17 22:56] #233 closed

[2017-01-19 20:25] victorlin commented on #184
still seeing this problem

[2017-01-20 03:40] kjur commented on #184
npm/lib/jsrsasign.js will work only for Node.js and other packager like WebPack or others on the browser is not supported. There is no plan to add those support.

Please use jsrsasign http://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js for browsers.

[2017-01-22 10:08] kjur commented on #227
I've fixed it today's release 7.1.0.

[2017-01-22 10:08] #227 closed

[2017-01-29 15:26] kjur commented on #232
I've investigated it. Please use encrypt and decrypt method of CryptoJS.AES class. I'll show you AES decrypt example here:

```JavaScript```
// parameters
var keyWS = CryptoJS.enc.Hex.parse('4bb9...');
var ivWS = CryptoJS.enc.Hex.parse('79c2...');
var encWS = CryptoJS.enc.Hex.parse('c70b...');

// decrypt
var decWS = CryptoJS.AES.decrypt({ciphertext: encWS}, keyWS, {iv: ivWS});
[code]

[2017-01-29 15:26] #232 closed

[2017-01-31 04:51] sbweeden opened #235 "X509 v3 extension parsing issue"
Started with this cert pem:
-----BEGIN CERTIFICATE-----
MIICLjCCARigAwIBAgIECmML/zALBgkqhkiG9w0BAQswLjEsMCoGA1UEAxMjWXVi
aWNvIFUyRiBSb290IENBIFNlcmlhbCA0NTcyMDA2MzEwIBcNMTQwODAxMDAwMDAw
WhgPMjA1MDA5MDQwMDAwMDBaMCkxJzAlBgNVBAMMHll1YmljbyBVMkYgRUUgU2Vy
aWFsIDE3NDI2MzI5NTBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABKQjZF26iyPt
bNnl5IuTKs/fRWTHVzHxz1IHRRBrSbqWD60PCqUJPe4zkIRFqBa4NnzdhVcS80nl
ZuY3ANQm0J+jJjAkMCI

[2017-01-31 06:09] kjur commented on #235
Thank you for your report. I'll investigate it.

[2017-01-31 06:18] kjur commented on #235
Your certificate seems correct as ASN.1 syntax but not correct for X.509v3 extension.
Your extension:
[code]
Proper extension value shall be excapsulated by OCTET STRING as this sample:
[code]

[2017-01-31 06:18] #235 closed

[2017-02-03 09:52] moanrose opened #236 "KJUR.jws.JWS.sign with "RS256" crashes new version of chrome"
Firefox an edge works like a charm

[2017-02-04 08:07] moanrose commented on #236
I guess that the bug only applies to the windows version of chrome then.

i am running 56.0.2924.87 (64-bit) as well

The issue was reproduced on two individual machines

[2017-02-06 02:35] kjur commented on #236
I'm sorry but your issue was not reproduced in the latest Chrome on Windows 32/64bit.
https://kjur.github.io/jsrsasign/tool_jwt.html
I've never gotton the issue such like yours from other users. Thanks.

[2017-02-06 03:22] kjur commented on #223
I've taken a look wycheproof and found that it can be applied only for Java crypto library. So please let me know if it can be applied to JavaScript. Thanks.

[2017-02-06 03:22] #223 closed

[2017-02-07 13:47] moanrose commented on #236
I tried to reproduce the error using the sample code https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-generation and https://kjur.github.io/jsrsasign/tool_jwt.html

This code crashes in chrome 56.0.2924.87 (64-bit) (Windows 10)

`var key2 = `-----BEGIN RSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: DES-EDE3-CBC,2E65118E6C7B5207

7cYUTW4ZBdmVZ4ILB08hcTdm5ib0E0zcy+I7pHpNQfJHtI7BJ4omys5

[2017-02-07 15:10] kjur commented on #236
https://kjur.github.io/jsrsasign/tool_jwt.html works with your key on latest Chrome for both Windows 32/64bit.

[2017-02-09 09:29] ukari commented on #67
@mplatt , I meet the same problem, and it wastes me almost 3 hours.

I guess that what caused it is the `private key` what you generate in Java with BouncyCastle is encode in format `PKCS8` and directly use it in jsrsasign.

Although you didn't show the `private key` you used in jsrsasign, but the `public key` you give in example is the stuff looks like '3059......', which format is `PKCS8`, so I

[2017-02-09 13:08] cristianocoelho opened #237 "Why is PKCS1 public key not supported?"
I'm wondering this, I see you can read a pem PKCS1 private key in order to sign something, but if you want to use the same format for a public key it won't work, and you need to either convert it to another format or use the object/hex format (such as {n: "..", e:"..."})
Am I missing something? I'm talking about public keys created as "-----BEGIN RSA PUBLIC KEY-----... "

[2017-02-09 16:10] kjur commented on #237
Hi. As you said jsrsasign doesn't support PKCS#1 public key since OpenSSL seems not to support PKCS#1 public key export/import. I couldn't find any DSA or ECDSA PKCS#1 public key example.

[2017-02-09 16:10] #237 closed

[2017-02-16 04:20] sbweeden commented on #176
I am trying to use the above pattern with the CA cert:

-----BEGIN CERTIFICATE-----
MIICPjCCAeOgAwIBAgIIfOrEOH4trxYwCgYIKoZIzj0EAwIwcjELMAkGA1UEBhMC
VVMxFzAVBgNVBAoTDlN0cm9uZ0F1dGggSW5jMRowGAYDVQQLExFGb3IgVEVTVCBV
c2UgT25seTEuMCwGA1UEAxMlVVRIUyBUZXN0IEVDRFNBIFRva2VuIENsYXNzIDIg
Um9vdCBDQTAeFw0xNTAzMDMxODQ5MDBaFw00NTAzMDMxODQ5MDBaMHIxCzAJBgNV
BAYTAlVTMRcwFQYDVQQKEw5TdHJvbmdBdXRoIEluYzEaMBgGA1UECxMR

[2017-02-16 13:41] kjur commented on #176
Hi @sbweeden , it seems those certificates wrong.

a) FIRST CERT: self signed root certificate with ECC key
b) SECOND CERT: ECC public key certificate signed by RSA key

So, b) is not issued by a). That's why signature of b) can't be verified with a).

[2017-02-16 21:16] sbweeden commented on #176
Ok - fair enough. Thanks for getting back to me.

[2017-02-24 12:50] nemesv opened #238 "Infinite loop when validating an invalid DSA signature"
The following code goes to an infinite loop:

    dsa.verifyWithMessageHash("033d9e479b5af8c425c63dd457c0026fef5f9c96", "302c0214240000000000000000000000000000000000000002140000000000000000000000000000000000000000");

After some investigation we realized that the line `var w = s.modInverse(q);` fails because `s` is zero.

In theory these checks supposed to prevent this:

	// NIST FIPS 186-4 4.7 DS

[2017-02-26 09:32] kjur commented on #238
Thank you for your report. I'll fix in the future release.

[2017-03-02 14:09] chrisschaub opened #239 "PS256"
I can JWS.sign using HS256, but when I switch to PS256, I get ...

init failed: not supported argument

I see it in the tests, a test for PS256, but I can't get it to work. Thanks for any info. Other methods work fine. I noticed the tests pass "null" as the first argument, but the examples pass an algorithm. Also, the header in the examples uses typ: "JWT" and the tests cyt: "JWT" --  not sure if

[2017-03-02 21:59] kjur commented on #239
Did you specify RSA private key?

[code]

https://kjur.github.io/jsrsasign/test/qunit-do-jws-sign.html

[2017-03-02 22:00] chrisschaub commented on #239
Yes, I am passing more of a secret key, a has. Does it have to be a true
RSA private key?

Thanks!

On Thu, Mar 2, 2017 at 3:59 PM, Kenji Urushima <notifications@github.com>
wrote:

--
Christopher Schaub
http://chris.schaub.com

[2017-03-02 22:01] kjur commented on #239
Could you show me your script?

[2017-03-02 22:07] kjur commented on #239
You can try PS256 sign with this sample.
https://kjur.github.io/jsrsasign/tool_jwt.html

[2017-03-03 19:49] kjur commented on #239
It seems that there is no further question. I'll close this ticket.

[2017-03-03 19:49] #239 closed

[2017-03-05 16:49] hefloryd opened #240 "Problem generating certificate"
I'm using this code to generate a self-signed certificate:

[code]

This produces:

[code]
The cert was tested using openssl command line:

`openssl s_server -cert jsrasign.pem`

and works fine in Firefox but fails in Chrome and IE (on Windows). Chrome reports ERR_CERT_INVALID.

Funnily enough this almost identical cert generated using openssl works in Chrome/IE also:

[code]

This decodes to:

[c

[2017-03-05 21:26] kjur commented on #240
I don't know much about this but it may be raised one of following reason:

1) Your certificate and private key were concatinated and specified in "openssl s_server". It would be better if your private key and public key file were specfied separately in the arguments.

2) Concatinated private key and public key generated by openssl seems to have PKCS#1 ECC private key with "BEGIN EC PARAMETERS". Y

[2017-03-05 21:26] #240 closed

[2017-03-06 11:57] hefloryd commented on #240
Thanks for your quick response. Regarding your suggestions:

Point 1 - This made no difference, also openssl was able to serve the certificate to Firefox so the problem appears to happen on the client side.

Point 3 - I haven't tried this yet but the other certificate (that was generated by openssl) contains the same info regarding CN and works fine with Chrome and IE.

Regarding point 2, I tried

[2017-03-06 12:44] kjur commented on #240
To get PKCS#1 PEM ECC private key, do as following:

[code]
Then you can get PKCS#1 private key with "BEGIN EC PARAMETERS".

[code]

[2017-03-06 14:00] hefloryd commented on #240
Thanks. I still wasn't able to get a working certificate but discovered that it works if I use SHA1withECDSA instead of SHA256withECDSA. This is true for RSA-keys also, i.e. SHA1withRSA works for all tested browsers but SHA256withRSA doesn't work in Chrome and IE.

Some examples - this works fine and was generated by jsrasign using SHA1withRSA:

[code]

This does not work in Chrome and IE and was

[2017-03-06 15:51] hefloryd commented on #240
Using an ASN.1 decoder I found that the openssl certificate contains this:

[code]

whereas the jsrasign generated certificate contains this:

[code]
There is a difference at offset 16 where the openssl generated certificate has a sequence of two elements (and also at offset 315/317). Is the second element optional maybe? Otherwise the certificates look identical.

[2017-03-06 17:53] kjur commented on #240
Thank you for your investigation. I'll add NULL in AlgorithmIdentifier for SHA*withRSA in next version.

[2017-03-07 10:00] hefloryd opened #241 "X509 cert.sign() method always signs using SHA1withRSA"
In https://github.com/kjur/jsrsasign/blob/a3185663042c971aed5ef5b4bacd7e9f55711e5a/asn1x509-1.0.js#L163, the certificate is always signed using SHA1withRSA regardless of the chosen signature algorithm.

If e.g. SHA256withRSA is chosen, the resulting certificate is not valid in Chrome or IE (but accepted by Firefox funnily enough).

The following code was used to generate a SHA256withRSA certificat

[2017-03-07 14:30] kjur commented on #241
Thank you for your report. I'll check it later.

[2017-03-08 16:26] kjur commented on #240
I've investigated for it however I can't find that certificate generation by jsrsasign will miss NULL parameter in AlgorithmIdentifer. For example following demo will generate a certificate with NULL parameter in two AlgorithmIdentifiers which is Signature field of TBSCertificate and signatureAlgorithm field:
https://kjur.github.io/jsrsasign/tool_ca.html

[2017-03-08 17:05] hefloryd commented on #240
Yes, the code I was using had

`sigalg: {name: 'SHA256withECDSA', paramempty: true}`

This came from documentation for KJUR.asn1.x509.X509Util.newCertPEM():

"NOTE: When using DSA or ECDSA CA signing key, use 'paramempty' in 'sigalg' to ommit parameter field of AlgorithmIdentifer. In case of RSA, parameter NULL will be specified by default."

And the examples given there, like:

[code]

So perhaps

[2017-03-13 20:52] kjur commented on #241
This issue was fixed in 7.1.1 release today. Thanks.

[2017-03-13 20:52] #241 closed

[2017-03-13 20:52] kjur commented on #240
This issue was fixed in 7.1.1 release today. Thanks.

[2017-03-26 09:04] maruilian11 opened #242 "Does jsrsasign.js on npm package work with browser?"
Hi, I'm from [cdnjs](https://github.com/cdnjs/cdnjs). We have hosted your popular lib on https://cdnjs.com. And we fetch your `jsrsasign.js` from [npm package](https://www.npmjs.com/package/jsrsasign). But recently some users responded that files can't work with browser, we should fetch `jsrsasign-latest-all-min.js` instead. So I just want to confirm if `jsrsasign.js` on npm package is not for bro

[2017-03-26 11:17] kjur commented on #242
jsrsasign.js from npm is not available for web browsers. Please use jsrsasign-latest-all-min.js on browsers. Thanks.

[2017-03-26 11:17] #242 closed

[2017-03-28 04:39] dancrumb opened #243 "Failure to validate JWT correctly."
I have some code intended to validate a JWT.

The JWT is:

[code]

The certificate string is:
[code]

With this code:

[code]

`isValid` is coming back as false. However, I have confirmed that the signature is valid using https://jwt.io/

What am I missing here?

[2017-03-28 13:46] maruilian11 commented on #242
Thank you :)

[2017-03-28 17:02] rerickson1 opened #244 "Typescript support"
Any chance you would consider adding typings files for better typescript support?

[2017-03-29 07:09] kjur commented on #244
Could you provide pull request for it?

[2017-03-29 07:48] froatsnook commented on #242
I'm using `"jsrsasign": "^5.0.12"` from npm in the browser using webpack.  To fix the errors with `fs`, put:

[code]

in your webpack config.

[2017-03-29 13:14] maruilian11 commented on #242
Hi @kjur, is it possible to rename `jsrsasign-latest-all-min.js` to `jsrsasign-all-min.js` in future versions? Because we provide all versions of lib on cdnjs website, use `latest` in filename may be a little confused.
thank you.

[2017-03-29 14:13] maruilian11 commented on #242
Sorry, our manager want me to confirm more clearly because if we remove files from our server, that will influence all users. Do all versions on npm package not work with browser?
thanks!

[2017-03-29 19:41] nukec opened #245 "KEYUTIL is not defined"
I am using angular2 implementation of oidc for identity server authorization. This is the implementation: https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/auth/services/oidc.security.validation.ts

Problem here is that KEYUTIL is not defined after authorization with IdentityServer4. What could cause a KEYUTIL is not defined issue? M

[2017-03-30 00:04] kjur commented on #245
Sorry but I've never tested and supported jsrsasign with Angular2. It seems jsrsasign is not loaded properly.

[2017-03-30 00:04] #245 closed

[2017-03-30 00:05] #244 closed

[2017-03-30 00:16] kjur commented on #243
It seems "jwt" is wrong token since it concludes "backslash" at the end of string which is not permitted character for Base64URL encoding.

[2017-03-30 00:16] #243 closed

[2017-03-30 02:11] dancrumb commented on #243
I think that must be a typo.

I get the same result with:

`jwt = 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyRW1haWwiOiJkcnVtbmV5QGplbGx5dmlzaW9uLmNvbSIsImlhdCI6MTQ5MDgzOTcxMSwiZXhwIjoxNDkwODU3NzExfQ.YvzedqQ2r_eQ6_I684FiJ-DBBgkm6AwANn5aOyvOT5nyUn8rm0-z8OiIOJqx2sG6hS6674zxJbcoo1wFs8fJSpZal01-aw9UC-3PrBaAWUS00FXh0d9Rej-g2ZzY1EHoS2Or83mI96V-hO3Bql-KXiWDZJ00JMFd19pJHKa1ceU';`

Can you repoen and ta

[2017-03-30 02:41] kjur commented on #242
Yes, all versions on npm package not work with browser.

[2017-03-30 03:28] kjur commented on #243
I've check it. Its RSA signature and JWS signature is fine but JWT properties seem wrong. Please see following API document for JWT property validation:
https://kjur.github.io/jsrsasign/api/symbols/KJUR.jws.JWS.html#.verifyJWT

[2017-03-31 02:57] dancrumb commented on #243
Thanks.

I figured out that the issue is that the `alg` property in the `acceptField` *MUST* be an array, even if there's only on valid algorithm.

[2017-03-31 12:08] saranglohar commented on #184
Mr. Kenji,
I am glad to say u that u have given a nice explanation to fix this problem.
Thank You!

[2017-03-31 17:27] maruilian11 commented on #242
@kjur Thanks for quick reply! And is it possible to rename `jsrsasign-latest-all-min.js`? Because we fetch files  directly by auto-update bot. Thanks!

[2017-04-02 11:56] kjur commented on #242
@maruilian11 What name do you need?

[2017-04-03 12:13] lutchit opened #246 "NotBefore and NotAfter are not complete"
Hello,

In x509-1.1.js, I think there is a mistake about notAfter() and notBefore() functions. In returned strings, first two numbers are missing.

For example, if you parse the given example here: http://kjur.github.io/jsrsasign/tool_certview.html , you obtain: From 100531061808Z To 200528061808Z
But you should obtain: From **20**100531061808Z To **20**200528061808Z.

[2017-04-03 14:59] mtrias opened #247 "Too big bundle for npm"
Hi!

The npm bundle of this project is `286K`, and since the distribution does not contain the sources (like when imported through Bower) i'm forced to include the whole bundle in the browser even if I use a couple of functions.

Do you think the `package.json` file could be updated in order to include the source files? (BTW I could not find a package.json in this repo, i'm assuming is being gener

[2017-04-03 15:16] kjur commented on #247
Thank you for your comment. If you send me your pull request, I'm grad to merge it.

[2017-04-03 15:23] kjur commented on #246
Sorry but this works as designed.
https://kjur.github.io/jsrsasign/api/symbols/X509.html#getNotBefore
getNotBefore and getNotAfter function returns a string contents of UTCTime or GeneralizedTime.
In this certificate, it has "100531061808Z" of UTCTime and it will not return "YYYYmmDDHHMMSSZ" format string for UTCTime. Thanks.

[2017-04-03 15:23] #246 closed

[2017-04-03 16:12] lutchit commented on #246
Then, how do you know if the certificate is in 2000's or 1900's ?
I don't find any documentation that says that UTCTime is "YYmmDDHHMMSSZ", can you help me to clarify this point ?

Do you know how to parse notBefore and notAfter to obtain Date in JS ? Something like this ;

[code]

Thanks

[2017-04-03 16:36] sattaman opened #248 "Upgrade from old version call to jws.verifyJWSByPemX509Cert"
While implementing an [ID server client](https://github.com/IdentityServer/IdentityServer3.Samples/blob/master/source/Clients/JavaScriptImplicitClient%20Manual/index.html), I have been trying to update some code which calls

`if (jws.verifyJWSByPemX509Cert(id_token, cert)) {`

as far as I can tell this needs to change to

`if (KJUR.jws.JWS.verify(id_token, cert)) {`
http://kjur.github.io/jsrsasign

[2017-04-03 17:05] ohadbp opened #249 "Failure to validate signature"
Hey,

I am signing a message on server using Java and trying to validate signature on client.
Using the example in the Signature class tutorial this is my verification code:

`var cert = "-----BEGIN CERTIFICATE REQUEST-----" +
                "MIIBzjCCATcCAQAwgY0xCzAJBgNVBAYTAlVTMREwDwYDVQQIEwhOZXcgWW9yazER" +
                "MA8GA1UEBxMITmV3IFlvcmsxETAPBgNVBAoTCE91dGJyYWluMREwDwYDVQQLEwhP" +

[2017-04-03 21:08] kjur commented on #246
At this time "jsrsasign" doesn't provide any function or method to get "Date" object from validity field. So you need to implement it. Please see definition of validity field.
https://tools.ietf.org/html/rfc5280#section-4.1.2.5.1

[2017-04-03 21:13] kjur commented on #248
Please try following:
[code]

[2017-04-03 21:13] #248 closed

[2017-04-03 21:16] kjur commented on #249
Your "cert" is not proper X.509 certificate. It's "Certfificate Request". You need to provide a certificate for it.

[2017-04-03 21:16] #249 closed

[2017-04-04 10:59] x-falcon opened #250 "what does that mean？ PKCS1_OAEP? * NOTE: (*) is not supported in Java JCE，how about python?"
Here is supported canonicalized cipher algorithm names and its standard names:
<ul>
<li>RSA - RSA/ECB/PKCS1Padding (default for RSAKey)</li>
<li>RSAOAEP - RSA/ECB/OAEPWithSHA-1AndMGF1Padding</li>
<li>RSAOAEP224 - RSA/ECB/OAEPWithSHA-224AndMGF1Padding(*)</li>
<li>RSAOAEP256 - RSA/ECB/OAEPWithSHA-256AndMGF1Padding</li>
<li>RSAOAEP384 - RSA/ECB/OAEPWithSHA-384AndMGF1Padding(*)</li>
<li>RSAOAEP512 - R

[2017-04-04 14:43] mtrias commented on #247
Ok, wow. Took a deeper look at this project and found it a bit more difficult to solve than what I expected.

The major issue I found is that source files are scattered around a few places instead of in an `/src` folder like it's done in other javascript projects.

Since i'm new to this project, I'm pretty sure I missed a lot of things, so take all this as ideas / suggestions. I'm not 100% sure al

[2017-04-04 15:57] maruilian11 commented on #242
`jsrsasign-all-min.js` will be fine. Thank you very much! Sorry for asking about modifying.

[2017-04-04 16:19] kjur commented on #250
Sorry but I don't know OAEP support in Python. I think BouncyCastle JCE supports RSA OAEP.
https://www.bouncycastle.org/java.html

[2017-04-04 16:19] #250 closed

[2017-04-04 21:21] kjur commented on #242
Is it fine if keep providing following URL?:
https://kjur.github.io/jsrsasign/jsrsasign-all-min.js

For backword compatibility I'll also keep providing
https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js.

I'll just copy from jsrsasign-latest-all-min.js to
jsrsasign-all-min.js.

[2017-04-05 06:42] x-falcon commented on #250
well, thank you

[2017-04-06 19:11] maruilian11 commented on #242
yes, it's fine! thanks!

[2017-04-08 00:34] kjur commented on #242
Hi @maruilian11 , I've added jsrsasign-all-min.js and also in the future releases.
https://kjur.github.io/jsrsasign/jsrsasign-all-min.js

[2017-04-09 16:31] maruilian11 commented on #242
@kjur Sorry for mistaking your meaning! We still need the file put on repo, so we can use **git tags** to fetch the file automatically.

[2017-04-10 02:56] kjur commented on #242
Which branch shall be tagged for jsrsasign-all-min.js, master or gh-pages?

https://github.com/kjur/jsrsasign/tree/master
https://github.com/kjur/jsrsasign/tree/gh-pages

[2017-04-13 14:00] maruilian11 commented on #242
@kjur Either of them is ok, thank you.

[2017-04-16 14:48] kjur commented on #246
Hi @lutchit , I've added zulutodate converter function in the latest release 7.1.3.
https://kjur.github.io/jsrsasign/api/symbols/global__.html#zulutodate
You can do as
[code]
Sample tool page is also updated.
https://kjur.github.io/jsrsasign/tool_certview.html

Thanks.

[2017-04-16 14:49] kjur commented on #242
@maruilian11 ,
"jsrsasign-all-min.js" is now placed in master branch.
https://github.com/kjur/jsrsasign/tree/master
Thanks.

[2017-04-19 20:56] JarekToro opened #251 "This isn't meant for client side key signing correct? Like in an Angular2 App."
Doesn't seem secure for the key to be on the client side. Is this correct or am I missing something. Thank you

[2017-04-19 22:46] kjur commented on #251
You are right. This is client side signing. There is some case which is not suitable for jsrsasign.

[2017-04-19 22:46] #251 closed

[2017-04-20 07:48] lutchit commented on #246
Hi @kjur,

Thank you a lot for your personal investment to answer my request. It's exactly what I want.

Have a good day, thanks.

[2017-04-23 04:56] aagrawal20 opened #252 "Bower installation Broken"
I tried install jsrsasign through bower install jsrsassign --save and it gives an error
bower jsrsasign=jsrsasign#5.0.1       not-cached https://github.com/kjur/jsrsasign=jsrsasign.git#5.0.1
bower jsrsasign=jsrsasign#5.0.1          resolve https://github.com/kjur/jsrsasign=jsrsasign.git#5.0.1
bower jsrsasign#*                         cached https://github.com/kjur/jsrsasign.git#7.1.3
bower jsrsasi

[2017-04-23 11:44] kjur commented on #252
Sorry but the error was not reproduced in the latest version.

Please try "bower install jsrsasign".

[2017-04-23 11:44] #252 closed

[2017-04-27 15:11] nathalials opened #253 "Cannot read RSA Public Key"
Hey, I'm trying to parse information of a PEM certificate file and I'm having some issues.

This is the certificate content:
[code]

It's possible to parse and check all certificate information in terminal, including the public key.

This is the code to get public key information:
[code]
But the library is returning me this error (when I run the code above):
`Uncaught malformed X.509 certificate P

[2017-04-27 15:30] kjur commented on #253
readCertPEM seems to have some bug. Please try following:
[code]

[2017-04-27 15:30] #253 closed

[2017-04-27 17:13] nathalials commented on #253
Ok. It worked for public key, thanks!
Now ... how can I get other certificate information? (since readCertPEM has a bug, methods like `x509.getSubjectString`, `x509.getNotAfter`, `getNotBefore` is not working - on this certificate pem above)

[2017-04-28 04:22] kjur commented on #253
Yes, they are needed to X509v1 certificate support. Please wait future update.

[2017-05-03 21:47] nathalials commented on #253
For now, it's not possible to parse any information of this certificate?

X509v1 means version 1?

[2017-05-03 23:28] kjur commented on #253
Yes, you are right. It's a v1 certificate.

[2017-05-04 14:55] nathalials commented on #253
Do you have any idea when it will support X509v1?

[2017-05-05 01:25] kjur commented on #253
I hope v1 supprt update will be released in a few days.

[2017-05-06 04:32] kjur commented on #253
I've released 7.1.4 which supports fields for X509v1 certificate.

[2017-05-06 04:38] kjur commented on #247
Thank you for your advice. I may update them in the future.

[2017-05-06 04:38] #247 closed

[2017-05-07 07:36] zenit1 opened #255 "YAHOO navigator reference error"
Hi

On version 7.1.4 I received the following error on require("jsrsasign")

`if(typeof YAHOO=="undefined"||!YAHOO){var YAHOO={};}YAHOO.namespace=function(){var b=arguments,g=null,e,c,f;for(e=0;e<b.length;e=e+1){f=(""+b[e]).split(".");g=YAHOO;for(c=(f[0]=="YAHOO")?1:0;c<f.length;c=c+1){g[f[c]]=g[f[c]]||{};g=g[f[c]];}}return g;};YAHOO.log=function(d,a,c){var b=YAHOO.widget.Logger;if(b&&b.log){retur

[2017-05-07 07:39] kjur commented on #255
Thank you for your report. I'll check it later.

[2017-05-07 21:23] kjur commented on #255
I've released jsrsasign npm 7.1.15. Thanks.

[2017-05-07 21:23] #255 closed

[2017-05-09 18:37] nathalials commented on #253
wow, that was fast! thank you very much!

[2017-05-10 05:42] simon0210 opened #256 "How can I export Certificate File as a der format?"
Hello, I'm using jsrsasign 7.0.0

I'm testing that create new cert & make pem file like as below code

but I want to export der file format ,not pem file format.

How can I do that?

thank you

[code]

[2017-05-10 08:07] kjur commented on #256
You can convert PEM to DER with ASN1HEX.pemToHex and hextorstr:

[code]
Thanks.

[2017-05-10 08:07] #256 closed

[2017-05-10 23:17] kjur commented on #238
The fix will be released in coming 7.1.6. Thanks.

[2017-05-12 01:30] simon0210 opened #257 "KEYUTIL.getKey method Can not parse ECDA private key format"
[code]

throws errors

[code]

How can I do solve this problem?

[2017-05-13 00:11] kjur commented on #257
Following is improper call:

[code]

Please use this instead;

[code]

[2017-05-13 00:11] #257 closed

[2017-05-16 05:32] simon0210 opened #258 "How can I set time value for x509 Not Before field?"
Hi,

How can I set time value for x509 Not Before field?

[code]

I get an error when parsing the pem file using open SSL like below

[code]
Thank you, I am always thankful for your advice.

[2017-05-16 06:21] kjur commented on #258
[code]
is not proper input for notBefore.
new Date.getTime() returns milliseconds from 1970 Jan 1 0:00 UTC.
The input shall be "YYmmDDHHMMSSZ" or "YYYYmmDDHHMMSSZ" string.

[code]

You may do this by IntDate class:
https://kjur.github.io/jsrsasign/api/symbols/KJUR.jws.IntDate.html

I'm planning to provide "datetozulu" function to provide this.

Regards,

[2017-05-16 06:21] #258 closed

[2017-05-21 05:32] kjur commented on #238
I've released 7.2.0 today and issue was fixed. Thanks.

[2017-05-21 05:32] #238 closed

[2017-05-21 05:37] kjur commented on #258
datetozulu have been provided from 7.2.0 release today.

[2017-05-21 13:43] nemesv commented on #238
Thanks for the fix!

[2017-05-22 21:35] kjur commented on #242
Hi @maruilian11 .
These don't seem proper jsrsasign.js. They use jsrsasign JavaScript code for Node.js which is not work on browser. So these CDNs don't work properly. Please fix them.
https://cdnjs.com/libraries/jsrsasign

[2017-05-23 14:49] chaki90 opened #259 "Consider adding option to verify existing PKCS7 signature and parse data into CMS objects"
I only see the option to create my CMS signed data. But, what about parsing existing CMS signed data and verifying the signature?

[2017-05-23 22:27] kjur commented on #259
Thank you for your comment. It may be added in the future release.

[2017-05-25 01:17] pronopenna opened #260 "Not Working in long string signature"
I've try below jwt decode and failed.
[code]
but In jwt.io debugger, it's working.

when the signature key size is down, jsrsaign is good working too.

encoded
[code]

Header
[code]

Payload
[code]

VERIFY SIGNATURE
[code]

[2017-05-25 02:35] kjur commented on #260
Hi, I'll take a look later.

[2017-05-27 00:26] kjur commented on #260
You need to explicitly specify string type of Mac pass code like this:

[code]

Otherwise your pass code string will be regarded as hexadecimal string in your case.

[2017-05-27 00:26] #260 closed

[2017-05-28 13:38] bobsaintcool opened #261 "MD typo in URL link into the wiki home page"
I, looking at you wiki home page[0] I've spotted an typo for the Signature class tutorial link.

I think there provided patch will fix this and that it will be easy for you to apply if you wish.

[code]

[0] https://github.com/kjur/jsrsasign/wiki

[2017-05-28 21:01] kjur commented on #261
Thanks. I've fixed.

[2017-05-28 21:01] #261 closed

[2017-05-28 21:43] dodekeract commented on #73
This would also be a huge step in the direction of greatly reducing the bundle size. In a few years when the majority of websites has dropped IE10 support, this package would probably be only 1/10 of its current size.

[2017-05-28 23:34] kjur commented on #73
jrsasign is a swiss army knife style all
in one package of crypto library which will also work on any old environment. If you need to use W3C WebCrypto and work on modern environments I would strongly recommend to use other libraries such as PKI.js.

[2017-05-28 23:34] #73 closed

[2017-05-29 23:08] dodekeract commented on #73
@kjur In case you're interested in anecdotes, my current problem is that I'm looking for a small JWT library that also works in IE10. So neither JSRSASIGN nor WebCrypto are good for this. Right now I'm using the JWT-only version of JSRSASIGN, but it's still quite huge.

[2017-05-30 03:59] rmhrisk commented on #73
@dodekeract I :heart: JRSASIGN but if that is the pattern you want to look at https://github.com/PeculiarVentures/webcrypto-liner and https://github.com/square/js-jose.

[2017-05-31 10:55] KhaRoMa opened #262 "generate ecdsa key"
how i can generate key  : k1PrvP8PPem used to signe JWS

[2017-05-31 11:56] kjur commented on #262
Try this:

[code]

[2017-05-31 11:56] #262 closed

[2017-05-31 12:00] KhaRoMa commented on #262
i tried this but i can't extract the private key like this:

kp = KEYUTIL.generateKeypair("EC", "secp256r1");
pem = KEYUTIL.getPEM("kp.prvKeyObj, "PKCS8PRV");

var prv = KEYUTIL.getKey(pem );

 Uncaught TypeError: KEYUTIL.getPEM is not a function

[2017-05-31 16:26] kjur commented on #262
Sorry but I couldn't reproduce the error:
[code]
This works fine.

[2017-06-09 14:37] KhaRoMa opened #264 "Which library JOSE in server side can i use"
I use jose library to check signature in client side (js), which i could use to sign in server side (dotNet)

[2017-06-09 15:04] kjur commented on #264
Sorry but I couldn't catch your issue. You can use any JOSE library which you like.

[2017-06-09 15:04] #264 closed

[2017-06-09 15:13] KhaRoMa commented on #264
i use jose-jwt  i have a problem with checking signature in client side (signature invalid)

[2017-06-09 17:08] aseigler opened #265 "X509.parseExt() fails for V3 certificate without any extensions"
Example cert (from https://github.com/Unicon/cas-adfs-integration/blob/master/cas-server-support-wsfederation/src/test/resources/adfs-signing.crt):

[code]

[2017-06-09 17:09] kjur commented on #265
Thank you for your report. I'll investigate it.

[2017-06-09 18:14] kjur commented on #265
Hi. Sorry but X.509v3 certificate without any extension is not supported now. This issue will be fixed in the future. Thanks.

[2017-06-09 18:14] #265 closed

[2017-06-14 20:36] Ruffio opened #267 "cdnjs at Cloudflare not available"
I just want the pure min.js version, but I can't download it from: https://cdnjs.com/libraries/jsrsasign

The page points to these but none are working:
https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/7.2.1/jsrsasign.js
https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/7.2.1/jsrsasign.min.js
https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/7.2.1/jsrsasign.min.js.map

I just get a:
404 Not Found
--

[2017-06-14 21:04] kjur commented on #267
Sorry but please escalate it to CDNJS. CDNJS is providing wrong jsrsasign.js file which will not work properly on browsers. I've mentioned it but there is no response.

[2017-06-14 21:04] #267 closed

[2017-06-14 21:20] Ruffio commented on #267
Roger that. Can I email you?

[2017-06-15 14:43] Ruffio opened #268 "Unable to parse base64 encoded"
I have imported latest jsrsasign-all-min.js.

using this on a page:
 var cert = new X509();
        cert.readCertPEM(metadataInput);
        alert(cert.getSubjectString());

where metadataInput is the below string:

-----BEGIN CERTIFICATE-----
MIIFEjCCAvqgAwIBAgIBAjANBgkqhkiG9w0BAQsFADBLMQswCQYDVQQGEwJESzEWMBQGA1UEChMNVmVqbGUgS29tbXVuZTEkMCIGA1UEAxMbVmVqbGUgS29tbXVuZSBGZWRlcmF0aW9uIENBMB4XDTE0MDIw

[2017-06-16 03:47] kjur commented on #268
This is the same issue as #265 . This is a X.509v3 certificate without any extension. The jsrsasign will not support such certificate for now and it will be fixed in the future. Thanks.

[2017-06-16 03:47] #268 closed

[2017-06-16 09:38] Ruffio commented on #265
How come this issue is closed, when it is still an issue? The issue should be closed when it no longer exists. I have searched the wiki/documentation and can find no reference to, that v3 without extension is not supported.

I really think that this is a cool project and would love to implement this so I can avoid a round trip to the server. Do we have an ETA of the implementation? Can I help with

[2017-06-16 09:40] Ruffio commented on #205
This looks like it is more a question than an issue reported. What kind of errors do you see? Is this still an issue?

[2017-06-16 09:44] Ruffio commented on #140
Is the usage of YUI really necessary? It should be considered to be updated to latest version: 3.18.1.
YUI 2.9.0 was released 14th of April 2011 (https://yuiblog.com/blog/2011/04/13/announcing-yui-2-9-0/) that is a long time ago... :-(

[2017-06-16 12:29] kjur commented on #140
Yes, I konw the issue but there is no time for that. YUI will be removed in the futturr.

[2017-06-24 15:22] kjur commented on #265
X.509v3 certificate without any extension supported in 7.2.2 released today.

[2017-06-24 15:24] kjur commented on #43
Most of YUI codes are removed in 7.2.2 released today. It's just only YAHOO.lang.extend which is not vulnerable.

[2017-06-24 15:24] #43 closed

[2017-06-24 15:25] kjur commented on #140
Most of YUI codes are removed in 7.2.2 released today. It's just YAHOO.lang.extend only which is not vulnerable.

[2017-06-24 15:25] #140 closed

[2017-06-24 15:28] Ruffio commented on #265
That is so cool. I will have a go at it tomorrow. Thanks :-)

[2017-06-27 11:02] Ruffio opened #269 "Cannont read property 'curve' (and others) of undefined of v3 certificate"
Using version 7.2.2 from bower and looping thru all functions, when I call 'verifySignature', then I get this error on a version 3 certificate:

![image](https://user-images.githubusercontent.com/1877612/27584249-8cc1cc46-5b37-11e7-9f76-f787f78d77f9.png)

Calling 'getExtInfo', I get:
![image](https://user-images.githubusercontent.com/1877612/27585646-66af9532-5b3d-11e7-9f23-70719f80c7ca.png)

Call

[2017-06-28 12:09] DonGissel opened #270 "b64tohex is exported twice in npm package v7.2.2"
When running the NPM package (`jsrsasign.js` in v7.2.2) through a bundler like RollupJS, I'm warned that `b64tohex` is exported twice, and indeed it is: on line 270 and again on 286. While there might be some way of ignoring this error, it's not a nice thing to do. You should probably just remove that one duplicate export. ;-)

[2017-06-29 12:30] Ruffio opened #272 "Links til subset packages are not working"
If you go to: https://github.com/kjur/jsrsasign/wiki/NOTE-jsrsasign-subset-package and try to download the subset packages then you get:

![image](https://user-images.githubusercontent.com/1877612/27687515-6ad57c3a-5cd7-11e7-8c3d-f1da7f0388f6.png)

[2017-06-29 12:32] Ruffio commented on #269
@kjur If you want me to test new versions, then just let me know. I have a lot of v3 certificates to test with.
Thumbs up for the good work :-)

[2017-06-29 12:55] kjur commented on #270
I've fixed in 8.0.0 release today. Thanks.

[2017-06-29 12:55] #270 closed

[2017-06-29 12:58] kjur commented on #272
I've fixed wiki today. Thanks.

[2017-06-29 12:58] #272 closed

[2017-06-29 20:08] Ruffio opened #273 "Incorrect calculation of SHA1 fingerprint at demosite"
I would like to calculate the SHA1 fingerprint/thumbprint.

I found out that the demosite 'Online Certificate Viewer' (https://kjur.github.io/jsrsasign/tool/tool_certview.html) is calculating the SHA1 Thumbprint, which is cool :-) However the calculation is incorrect :-(

Using this certificate:
-----BEGIN CERTIFICATE-----
MIIGYDCCBUigAwIBAgIEU7s4dDANBgkqhkiG9w0BAQsFADBAMQswCQYDVQQGEwJESzESMBAGA1U

[2017-06-29 20:27] Ruffio commented on #221
@FGasper Mayby I just don't understand your example, but with those two lines you will always get a number less than 10, right? So why do you write about getting greater than 10?

[2017-06-29 20:39] kjur commented on #273
Certificate viewer will not work as the same reason for #269. Thanks.

[2017-06-30 05:07] Ruffio commented on #273
I don't understand. As I understand it, when calculating the thumbprint, it is just a SHA1 hash of the certificate hex encoded, right? What has that to do with the functions?

[2017-06-30 05:11] Ruffio commented on #269
Thanks regarding the instructions for reading the certificate, but I'm already doing it and most is working very nicely :-)

` var newCertificate = certificateData;
        var certificate = new X509();
        certificate.readCertPEM("-----BEGIN CERTIFICATE-----" + certificateData.$raw + "-----END CERTIFICATE-----");

        for (var key in certificate) {
            var keyString = key.replace(